@charset "utf-8";

.cart-top  {display: flex;margin-bottom: 30px;}
.cart-top .step-wrap {margin-left: auto;}
.cart-top .step-wrap > ul {display: flex;}
.cart-top .step-wrap > ul > li  {margin-left: 60px;position: relative;}
.cart-top .step-wrap > ul > li::before {content: '';position: absolute;top:0;left: -38px;width:18px;height: 40px;background: url(../images/common/arrow_step.svg) top 50% left 50% no-repeat;}
.cart-top .step-wrap > ul > li:first-child::before {display: none}
.cart-top .step-wrap > ul > li p span {background:#D7D7D7 ;color:#fff;margin-right: 10px;font-size: 16px;text-align: center;display: inline-block;width: 40px;line-height: 40px;border-radius: 50%;}
.cart-top .step-wrap > ul > li.on p  {color:#346DD0 ;}
.cart-top .step-wrap > ul > li.on p span {background:#346DD0; color: #fff;}
.cart-content .tit-type1-2 em  {font-size: 20px;line-height: 40px; font-weight: normal;vertical-align: text-top;}
.cart-list-con {}
.cart-list-con .tit-area {margin-bottom: 30px;}
.cart-list-con + .cart-list-con {margin-top: 100px;}
.cart-list-con .list-con {border-top: 1px solid #000;border-bottom: 1px solid #D7D7D7;}
.cart-list-con .list-con + .list-con {margin-top:29px;}
.cart-list-con .list-con .list-tit {padding:20px; background: #fafafa;}
.cart-list-con .list-con .list-tit .sub-txt {vertical-align: top;}
.cart-list-con .list-con > ul{}
.cart-list-con .list-con > ul > li {width:100%; border-top:1px solid #d7d7d7;}
.cart-list-con .list-con > ul > li .list-none {padding: 180px 0 100px;text-align: center;background:url(../images/common/icon_cart_02.svg) top 100px left 50% no-repeat;color: #999;}
.wish-list-con .list-con > ul > li .list-none {background:url(../images/common/icon_none2.svg) top 100px left 50% no-repeat;}
.cart-list-con .tit-area {margin-bottom:14px; font-size:16px; font-weight: 400;}
.cart-list-con .tit-area > * {vertical-align: text-bottom;}

.cart-total-area {width:100%; padding:30px 0; background:#fafafa; display:flex; align-items: center;}
.cart-total-area dl {width:33.333%; flex:1; position: relative; text-align: center;}
.cart-total-area dl > dt {margin-bottom:5px; font-weight: 500; font-size: 16px;}
.cart-total-area dl > dd {}
.cart-total-area .price {font-size: 22px;}
.cart-total-area .price > b {font-size: 32px; font-weight: 700; vertical-align: text-bottom;}
.cart-total-area dl + dl {border-left:1px solid #d7d7d7;}
.cart-total-area dl + dl::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_minus.svg) 50% 50% no-repeat #000; display:inline-block; border-radius:50%; overflow: hidden; position: absolute; top:50%; left:-15px; z-index:1; transform: translateY(-50%);}
.cart-total-area dl.total::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_total.svg) 50% 50% no-repeat #000; display:inline-block;}
.cart-total-area .info-txt {font-size: 14px; color: #999;}

.cart-content .btn-area-c {margin-top:70px;}

/* 장바구니 팝업 */
.pop-restock  {text-align: center;}
.pop-restock > p {margin-top: 20px;}
.pop-restock > span {font-size: 24px;font-weight: bold;}
.pop-restock .pop-write {margin-top: 30px;text-align: left;border-bottom: 1px solid #D7D7D7;}
.pop-restock .pop-write th {font-weight: normal;background: #FAFAFA;padding: 20px 30px 20px 20px;width: 137px;border-top: 1px solid #D7D7D7;border-right: 1px solid #D7D7D7;}
.pop-restock .pop-write td {font-size: 15px;color: #666;padding: 20px;border-top: 1px solid #D7D7D7;}
.pop-restock .pop-write td div {display: flex;}
.pop-restock .pop-write td div label {width: 100px;}
.pop-restock .pop-write td strong {color:#346DD0;}
.pop-restock .pop-write .input td div label {line-height: 38px;}
.pop-restock .pop-write .input td div.form-layout {display: block;width: calc(100% - 100px);}

.pop-restock.pop-register  {text-align: left;}
.pop-restock .tab-area .tab-cont {padding: 0;}
.pop-restock .form-down-btn {padding-right: 23px;margin-bottom: 5px;background:url(../images/common/btn_download.svg) top 3px right 0 no-repeat;}

/* 장바구니 유닛 */
.unit-cart {width:100%; padding:30px 30px 30px 62px; position:relative;}
.unit-cart > a {width:100%; height:calc(100% - 42px); display:inline-block; position:absolute; top:0; left:0; z-index:8;}
.unit-cart .unit-area {width:100%; display:flex;}
.unit-cart .unit-area > dt {width: 156px; height: 156px; background:#f5f5f5; position: relative;}
.unit-cart .unit-area > dt.soldeout::after {content:""; width:100%; height:100%; background: rgba(0, 0, 0, 0.6); display:inline-block; position: absolute; top:0; left:0; z-index: 1;}
.unit-cart .unit-area > dt .soldeout-txt {width:100%; text-align:center; margin-top:-18px; position: absolute; top:50%; left:0; z-index:2; color:#fff; display:inline-block; font-size: 16px; line-height: 18px; font-weight: 700;}
.unit-cart .unit-area > dt > img {width:100%;}
.unit-cart .unit-area > dd {width: 100%; flex:1; padding:0 0 0 20px;}
.unit-cart .unit-area .brand {width:100%; margin-bottom:6px; font-size:15px; color:#bbb; display:inline-block;}
.unit-cart .unit-area .product-name {width:754px; font-size:16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.unit-cart .unit-area .price-area {display:inline-block; font-size:0;}
.unit-cart .unit-area .price-area .flag-txt {margin-right:10px}
.unit-cart .unit-area .price {font-size:14px; color:#000; display:inline-block;}
.unit-cart .unit-area .price > b {vertical-align:text-bottom; font-weight:700; font-size:22px;}
.unit-cart .unit-area .sale {margin:0 0 0 10px; color: #eb3030; font-weight: 700; text-align: right; display:inline-block; font-size:22px; text-align: left; }
.unit-cart .standard {width:754px; margin:6px 0;font-size: 14px; color: #999; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.unit-cart .option-area {margin-top:6px; color:#666; font-size:0;}
.unit-cart .option-area > p {display: inline-block; font-size: 14px;}
.unit-cart .option-area > p + p::before {content:""; width:1px; height:10px; margin:2px 7px; display:inline-block; background:#bbb;}
.unit-cart .order-quantity {margin:16px 0 6px; font-weight: 500; font-size: 14px; color: #000;}
.unit-cart .unit-layer {width:100%; height:100%; display:block; position:absolute; top:0; left:0; z-index:7;}
.unit-cart .unit-layer .unit-link {width:calc(100% - 178px); height:100%; cursor:pointer; display:inline-block;}
.unit-cart .unit-layer .unit-under-btn {width:178px; padding:30px; position:absolute; top:50%; right:0; z-index:9; color:#fff; transform: translateY(-50%);}
.unit-cart .unit-layer .unit-under-btn > li {text-align:center;}
.unit-cart .unit-layer .unit-under-btn > li > a {height:100%; margin-bottom: 5px; display:inline-block; vertical-align:top;}
.unit-cart .unit-layer .unit-under-btn .btn-buynow {width: 118px; height: 38px; background:#346dd0; font-size:14px; line-height:37px;}
.unit-cart .unit-layer .unit-under-btn .btn-cart,
.unit-cart .unit-layer .unit-under-btn .btn-like {width: 100%; height: 38px; background:#fff; font-size:14px; line-height:35px; border:1px solid #000; color:#000;}
.unit-cart .unit-layer .unit-under-btn .btn-like {margin-left:0;}
.unit-cart .unit-layer .unit-under-btn .btn-restock {width: 118px; height: 38px; background:#000; font-size:14px; line-height:37px;}
.unit-cart .flag-area {margin-bottom:6px;}
.unit-cart .normal-price {margin-top:6px; margin-left:10px; font-size: 12px; color: #999; text-decoration: line-through; display:inline-block;}
.unit-cart .normal-price > b {font-weight: 400; font-size: 16px; vertical-align: text-bottom;}
.unit-cart .check-style2 {margin-top:-11px; position: absolute; top:50%; left:20px; z-index:8;}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1200px) {
}


@media only screen and (max-width:1024px) { /* ipad pro*/
}

/* 모바일 시작 */
@media only screen and (max-width:800px) {

    .cart-top {margin-bottom: 0;}
    .cart-content .tit-type1-2 em  {font-size: 16px;line-height: 19px;vertical-align: top;}
    .cart-list-con + .cart-list-con {margin-top: 30px;}
    .cart-list-con .tit-area {margin-bottom: 20px;}
    .cart-list-con .list-con ul li .list-none {padding:130px 0 70px;background-position-y: 60px;}
    .cart-list-con .list-con ul {border-top: none;border-bottom: 10px solid #F5F5F5;;}
    .wish-list-con .list-con ul {border-top:1px solid #000;border-bottom:none; }

    /* 장바구니 팝업 */
    .pop-restock  {text-align:left;}
    .pop-restock > p {margin-top: 10px;font-size: 15px;}
    .pop-restock > span {font-size: 18px;font-weight: bold;}
    .pop-restock .pop-write th {width: 81px;}
    .pop-restock .pop-write td {font-size: 14px;}
    .pop-restock .pop-write td div {flex-direction: column;}
    .pop-restock .pop-write td div label {width: 100px;margin-bottom: 5px;font-size: 15px;}
    .pop-restock .pop-write .input th  {padding-right: 15px;}
    .pop-restock .pop-write .input td div {line-height: 19px}
    .pop-restock .pop-write .input td div label {line-height: 19px}
    .pop-restock .pop-write .input td div.form-layout {width:100%;}

    
}
@media only screen and  (min-height:812px) { /* iphoneX */
}
@media only screen and (max-width:768px) { /* ipad */
}
@media only screen and (max-width:760px) {
}
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:414px) { /* iphone plus */
}
@media only screen and  (max-width:375px) { /* iphone6 */
}
@media only screen and  (max-width:360px) { /* galaxy */
}
@media only screen and  (max-width:320px) { /* iphoneSE */
}
@media only screen and  (max-height:568px) { /* 아이폰SE */

}