@charset "utf-8";
/* 장바구니 */
.cart-top  {display:flex;margin-bottom:30px;}
.cart-top .step-wrap {margin-left:auto;}
.step-wrap > ul {display:flex;}
.step-wrap > ul > li  {margin-left:60px;position:relative;}
.step-wrap > ul > li::before {content:'';position:absolute;top:0;left:-38px;width:18px;height:40px;background:url(../images/common/arrow_step.svg) top 50% left 50% no-repeat;}
.step-wrap > ul > li:first-child::before {display:none}
.step-wrap > ul > li p span {background:#D7D7D7 ;color:#fff;margin-right:10px;font-size:16px;text-align:center;display:inline-block;width:40px;line-height:40px;border-radius:50%;}
.step-wrap > ul > li.on p  {color:#346DD0 ;}
.step-wrap > ul > li.on p span {background:#346DD0; color:#fff;}
.cart-content .tit-type1-2 > em  {font-size:20px; font-weight:normal;}
.cart-list-con {}
.cart-list-con .tit-area {margin-bottom:30px;}
.cart-list-con + .cart-list-con {margin-top:100px;}
.cart-list-con .list-con {padding-top:0; border-top:1px solid #000;border-bottom:1px solid #D7D7D7;}
.cart-list-con .list-con + .list-con {margin-top:20px;}
.cart-list-con .list-con .list-tit {padding:20px; background:#fafafa; position: relative; font-size:16px;}
.cart-list-con .list-con .list-tit .sub-txt {vertical-align:top; font-weight: 400;}
.cart-list-con .list-con > ul{}
.cart-list-con .list-con > ul > li {width:100%; border-top:1px solid #d7d7d7;}
.cart-list-con .list-con > ul > li .list-none {padding:180px 0 100px;text-align:center;background:url(../images/common/icon_cart_02.svg) top 100px left 50% no-repeat;color:#999;}
.wish-list-con .list-con >
 ul > li .list-none {background:url(../images/common/icon_none2.svg) top 100px left 50% no-repeat;}
.cart-list-con .tit-area {margin-bottom:14px; font-size:16px; font-weight:400;}
.cart-list-con .tit-area > * {vertical-align:text-bottom;}

.cart-total-area {width:100%; margin-top:40px; padding:30px 0; background:#fafafa; display:flex; align-items:center;}
.cart-total-area dl {width:33.333%; flex:1; position:relative; text-align:center;}
.cart-total-area dl > dt {margin-bottom:5px; font-weight:500; font-size:16px;}
.cart-total-area dl > dd {}
.cart-total-area .price {font-size:22px;}
.cart-total-area .price > b {font-size:32px; font-weight:700; vertical-align:baseline;}
.cart-total-area dl + dl::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_minus.svg) 50% 50% no-repeat #000; display:inline-block; border-radius:50%; overflow:hidden; position:absolute; top:50%; left:-15px; z-index:1; transform:translateY(-50%);}
.cart-total-area dl.total::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_total.svg) 50% 50% no-repeat #000; display:inline-block;}
.cart-total-area .info-txt {font-size:15px; color:#999;}
.cart-floating-box {width:100%; height:108px; position: fixed; bottom:0; left:0; z-index:10; background: #fff; border-top:1px solid #666;;}
.cart-floating-box.hide {display:none;}
.cart-floating-box .cart-floating-cont {width:1200px; margin:0 auto; padding-right:305px; position: relative;}
.cart-floating-cont .right-area {width:305px; position: absolute; top:35px; right:30px; z-index:1; text-align: right;}
.cart-floating-cont .right-area .btn + .btn {margin-left:7px;}
.cart-floating-cont .cart-total-floating {font-size:0; padding:27px 0 24px 20px;}
.cart-total-floating dl {font-size:0; display: inline-block; position:relative;}
.cart-total-floating dl > dt {margin-bottom:0; margin-right:16px; font-weight:500; font-size:16px; display: inline-block;}
.cart-total-floating dl > dd { display: inline-block;}
.cart-total-floating dl + dl {margin-left:42px; padding-left:42px;}
.cart-total-floating dl + dl::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_minus.svg) 50% 50% no-repeat #000; display:inline-block; border-radius:50%; overflow:hidden; position:absolute; top:50%; left:-15px; z-index:1; transform:translateY(-50%);}
.cart-total-floating dl.total::before {content:""; width:30px; height:30px; background:url(../images/common/icon_cart_total.svg) 50% 50% no-repeat #000; display:inline-block;}
.cart-total-floating dl.total .price {margin-top:10px;}
.cart-total-floating .price {font-size:18px;}
.cart-total-floating .price > b {font-size:26px; font-weight:700; vertical-align:text-bottom;}
.cart-total-floating .info-txt {font-size:13px; color:#999; font-weight: 400;}
.mo-cart-floating-box .floating-total {display:none;}



/* .cart-content .btn-area-c {margin-top:70px;} */

/* 장바구니 팝업 */
.pop-restock  {text-align:center;}
.pop-restock > span {font-size:24px;font-weight:bold;}
.pop-restock .pop-write {margin-top:30px;text-align:left;}
.pop-restock .pop-write > table {border-bottom: 1px solid #D7D7D7;}
.pop-restock .pop-write > table > tbody > tr > th {font-weight:normal;background:#FAFAFA;padding:20px 30px 20px 20px;width:137px;border-top:1px solid #D7D7D7;border-right:1px solid #D7D7D7;}
.pop-restock .pop-write > table > tbody > tr > td {font-size:15px;color:#666;padding:20px;border-top:1px solid #D7D7D7;}
.pop-restock .pop-write > table > tbody > tr > td div {display:flex;}
.pop-restock .pop-write > table > tbody > tr > td div label {width:100px;}
.pop-restock .pop-write > table > tbody > tr > td strong {color:#346DD0;}
.pop-restock .pop-write > table .input td div label {line-height:38px; display: inline-block;}
.pop-restock .pop-write > table .input td div.form-layout {display:block;width:calc(100% - 100px);}
.pop-restock .pop-write .req{color: #346dd0;font-style: normal;vertical-align: top;padding: 0 3px;}
.pop-restock .tab-area .pop-write th{width: 120px;text-align: center;padding: 20px 0;}

.pop-restock.pop-register  {text-align:left;}
.pop-restock .tab-area .tab-cont {padding:0;}
.pop-restock .form-down-btn {padding-right:23px;margin-bottom:5px;background:url(../images/common/btn_download.svg) top 3px right 0 no-repeat;}

.pop-grid {margin-top:30px;}

/* 장바구니 유닛 */
.unit-cart {width:100%; padding:30px 30px 30px 62px; position:relative;}
.unit-cart > a {display:inline-block;}
.unit-cart .unit-area {width:100%; padding:0 148px 0 176px; position:relative; min-height: 156px;}
.unit-cart .unit-area > dt {width:156px; height:156px; background:#f5f5f5; position:absolute; top:0; left:0; z-index:1; overflow: hidden;}
.unit-cart .unit-area > dt.soldeout::after {content:""; width:100%; height:100%; background:rgba(0, 0, 0, 0.6); display:inline-block; position:absolute; top:0; left:0; z-index:1;}
.unit-cart .unit-area > dt .soldeout-txt {width:100%; text-align:center; margin-top:-18px; position:absolute; top:50%; left:0; z-index:2; color:#fff; display:inline-block; font-size:16px; line-height:18px; font-weight:700;}
.unit-cart .unit-area > dt img {width:100%;}
.unit-cart .unit-area > dd {width:100%; padding:0;}
.unit-cart .unit-area .brand {width:100%; margin-bottom:6px; font-size:15px; color:#bbb; display:inline-block;}
.unit-cart .unit-area .product-name {width:754px; font-size:16px; font-weight: 500; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.unit-cart .unit-area .price-area {display:inline-block; font-size:0;}
.unit-cart .unit-area .price-area .flag-txt {margin-right:10px}
.unit-cart .unit-area .price-area .btn-tooltip {margin:0 10px 0 -7px;}
.unit-cart .unit-area .price {font-size:14px; color:#000; display:inline-block;}
.unit-cart .unit-area .price > b {vertical-align: baseline; font-weight:700; font-size:22px; line-height: 24px; padding-right: 2px;}
.unit-cart .unit-area .sale {margin:0 0 0 10px; color:#eb3030; text-align:right; display:inline-block; font-size:14px; text-align:left; }
.unit-cart .unit-area .sale > b {font-size:22px; vertical-align: baseline; font-weight:700; line-height: 24px; padding-right: 2px;}
.unit-cart .unit-under-btn .btn-buynow {line-height: 37px;}
.unit-cart .unit-under-btn .btn-buynow:hover {background: #2d3a52; border-color:#2d3a52;}
.unit-cart .standard {width:754px; margin:6px 0;font-size:14px; color:#999; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.unit-cart .option-area {margin-top:6px; color:#666; font-size:0;}
.unit-cart .option-area > p {display:inline-block; font-size:14px;}
.unit-cart .option-area > p + p::before {content:""; width:1px; height:10px; margin:2px 7px; display:inline-block; background:#bbb;}
.unit-cart .order-quantity {margin:14px 0 6px; font-weight:500; font-size:15px; color:#eb3030;}

.unit-under-count {padding:0 0 0 30px; color:#fff; position: absolute; top:50%; right:0; z-index:1; transform: translateY(-50.4%);}
.unit-cart .unit-under-btn {width:178px; padding:0 30px; color:#fff; position: absolute; top:110px; right:0; z-index:1; transform: translateY(-50.4%);}
.unit-cart .unit-under-btn > li {text-align:center;}
.unit-cart .unit-under-btn > li > a {margin-bottom:5px; display:inline-block; vertical-align:top;}
/* .unit-cart .unit-under-btn > li .btn {color: #666; background: #fff; border: 1px solid #bbb;}
.unit-cart .unit-under-btn > li .btn:hover {border-color:#000; color:#000;}
.unit-cart .unit-under-btn > li .btn.btn-buynow {color: #fff; background: #346dd0; border-color:#346dd0;}
.unit-cart .unit-under-btn > li .btn.btn-buynow:hover {background:#2d3a52; border-color:#2d3a52;}
.unit-cart .unit-under-btn > li .btn-restock {background: #000; border-color:#000; color:#fff;}
.unit-cart .unit-under-btn > li .btn-restock:hover {background:#666; border-color:#666; color:#fff;} */
.unit-cart .unit-under-btn .btn-cart,
.unit-cart .unit-under-btn .btn-like {width:100%; height:38px; background:#fff; font-size:14px; line-height:35px; border:1px solid #000; color:#000;}
.unit-cart .unit-under-btn .btn-like {margin-left:0;}
.unit-cart .flag-area {margin-bottom:6px;}
.unit-cart .normal-price {margin-top:6px; margin-left:10px; font-size:12px; color:#999; text-decoration:line-through; display:inline-block;}
.unit-cart .normal-price > b {font-weight:400; font-size:16px; vertical-align: baseline;}
.unit-cart .check-style2 {margin-top:-11px; position:absolute; top:105px; left:20px; z-index:8;}

.unit-cart .in-del-txt {margin-top: 20px; padding-bottom: 10px; font-size: 12px; color: #666;}
.unit-cart .del-area {padding:0 148px 0 176px;}
.unit-cart .del-area .del-box-cont {display: flex; margin-bottom: -5px;}
.unit-cart .del-area .del-box-cont .del-box {margin: 0 5px 5px 0; display: inline-block; position: relative; padding: 6px 5px 5px 7px; font-size: 14px; color: #fff; font-weight: 500; background: #12b5cf;}
.unit-cart .del-area .del-box-cont .del-box .info-txt {display: inline-block; margin-right: 3px; line-height: 18px; vertical-align: top;}
.unit-cart .del-area .del-box-cont .del-box .btn-del {font-size: 0; display: inline-block; width: 18px; height: 18px; background: url(../images/common/btn_del_white.svg) 0 0 no-repeat;}


/* quick주문 */
.top-write-box {display: flex; align-items: center; padding: 20px; margin-bottom: 30px; background: #f5f5f5;}
.top-write-box .form-layout {width: 393px; margin: 0 20px;}
.top-write-box .notice-txt {margin-top: 0;}
.quick-con .list-con {border-top: 0; border-bottom: 0;}
.quick-con .result-none2 {border-top: 1px solid #d7d7d7;}
.pop-layout.pop-write > ul > li:first-child {padding-top: 10px;}


/* 장바구니 팝업*/
.pop-orderlist {word-break:keep-all;}
.pop-orderlist > .input{display: flex;margin: 30px 15px 0;}
.pop-orderlist > .input label{width: 80px;line-height: 38px;text-align: left; display:inline-block;}
.pop-orderlist > .input .form-layout{width:calc(100% - 80px)}
.pop-orderlist > p.ex{font-size: 14px;color: #666;margin: 20px 0;}
.orderlist-wrap ul > li{padding:20px 0;border-bottom: 1px solid #D7D7D7;}
.orderlist-wrap ul > li:first-child{padding-top:0;}
.orderlist-wrap ul > li > div{display: flex;}
.orderlist-wrap ul > li > div img{width: 65px;height: 65px;}
.orderlist-wrap ul > li > div > div {padding:9px 20px 10px 20px;width: calc(100% - 65px);}
.orderlist-wrap ul > li > div > div p{margin-bottom: 10px;}
.orderlist-wrap ul > li > div em{color: #666;font-size: 14px;vertical-align: top;}
.orderlist-wrap ul > li > div em:last-child{padding-left: 10px;}
.orderlist-wrap ul > li > div em:last-child::before{content: "";display: inline-block;width: 1px;height:11px;background:#BBBBBB;margin-right: 8px;}
.pop-cart .radio-wrap {margin-top: 10px;}
.pop-cart .radio-wrap .radio-style1 {margin-right: 30px;margin-top: 10px;}
.pop-cart .radio-wrap .radio-style1 > span{font-weight: normal;margin-left: 10px;}
.pop-cart-file{height: 400px;background:#F5F5F5;}
.pop-cart-estimate .excel-wrap{height: 640px;}
.pop-cart-print .date{text-align: right;font-size: 14px;}
.pop-cart-print .date em{vertical-align: top;}
.pop-cart-print .table-area{margin-top: 10px;}
.pop-cart-print .table-area + .table-area{margin-top: 30px;}
.pop-cart-print .table-area a{color: #346DD0;text-decoration: underline;}
.pop-cart-print .table-area a + p{margin-top: 10px;}
.pop-cart-print .table-area.table-style1 table tbody th{padding: 20px;}
.pop-cart-print .table-area.table-style1 table tbody th + td{padding: 20px;word-break: keep-all;}
.pop-cart-print .table-area.table-style1 table tbody td{height: auto;}
.pop-cart-print .table-area.table-style1 table tbody td.center{text-align: center;}
.pop-cart-print .table-area.table-style1 table tbody td.addr{padding:20px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr p{margin-top: 10px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr .addr-name{padding-right: 10px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr .addr-name::after{content: "|" ;color:#999;font-size: 12px;line-height:19px;padding-left: 10px;vertical-align: top;}
.pop-cart-print .table-area.table-style1 table tbody td.total{background:#F5F5F5;text-align: right;padding:20px}
.pop-cart-print .table-area.table-style1 table tbody td.total em{color: #346DD0;vertical-align: top;}
.pop-cart-print .table-area.table-style1 table tbody td.total i{padding:0 7px;}
.pop-restock .pop-write td .before-num {display: block;margin-right: -20px;}
.pop-restock .pop-write td .before-num em{vertical-align: top;color:#346DD0;}
.before-num {display: block;}
.before-num ul li{padding-left: 15px;position: relative;line-height: 19px}
.before-num ul li::before{content: "1.";position: absolute;top:0;left: 0;}
.before-num ul li:nth-child(2):before{content: "2."}
.before-num ul li:nth-child(3):before{content: "3."}
.before-num ul li:nth-child(4):before{content: "4."}
.before-num ul li:nth-child(5):before{content: "5."}
.before-num ul li:nth-child(6):before{content: "6."}
.pop-cart-addr1 {min-height:372px;}
.pop-cart-addr1 ul li{display: flex;padding:20px 0;border-top: 1px solid #BBBBBB;}
.pop-cart-addr1 ul li.none{display: block;text-align: center;padding:100px 0;}
.pop-cart-addr1 ul li.none p{padding-top:80px;background: url(../images/common/icon_none2.svg) center 0 no-repeat;}
.pop-cart-addr1 ul li > div p{padding-top: 10px;}
.pop-cart-addr1 ul li > div span.num{padding-left: 20px;}
.pop-cart-addr1 ul li > div span.num::before{content: "";display: inline-block;margin-right: 20px;width: 1px; height: 10px;background:#999999;padding-top: 1px;}
.pop-cart-addr1 ul li > div {width:calc(100% - 126px)}
.pop-cart-addr1 ul li > div.btn-wrap {width:56px;margin-left: 30px;}
.pop-cart-addr1 ul li > div.btn-wrap .btn{min-width:100%;}
.pop-cart-addr1 ul li > div.btn-wrap .btn:last-child{margin-top: 10px;}
.pop-cart-addr1 ul li > .check-style2{padding-left: 0;padding-right: 20px;}
.pop-cart-addr1 ul li > .check-style2 input + i{display: block;margin-top: 20px;}
.pop-cart-addr1 .flag-txt.blue {margin-right:5px;}
.pop-restock .pop-cart-addr2 {text-align: right;}
.pop-restock .pop-cart-addr2 .pop-mo-check{margin-top: 30px;}
.pop-restock .pop-cart-addr2 .pop-write{margin-top: 10px;}
.pop-restock .pop-cart-addr2 .pop-write > ul{padding:20px  0 0;}
.pop-restock .tab-area .tab-style1 > li:first-child {margin-left: 0;}
.pop-namecard > p{margin-top: 0;text-align: left;}
.lyPopup .popup-cont .lyPopCont .pop-namecard .btn-area{text-align:right;}
.lyPopup .popup-cont .lyPopCont .pop-namecard .btn-area a.btn-style-s1{min-width: auto;padding:0 15px;line-height: 26px;height:28px; }
.lyPopup .popup-cont .lyPopCont .pop-namecard .excel-wrap{margin-top: 20px;height: 340px}

/* 장바구니 관리 */
.mypage-cart-list .list-con{position: relative;padding-top: 30px;}
.mypage-cart-list .list-con .tit-type2-1 {font-size: 16px;line-height: 28px;font-weight: 400;}
.mypage-cart-list .list-con .btn {position: absolute;top:30px;right:0}
.mypage-cart-list .list-con .btn-tooltip {margin-top:0;}
.mypage-cart-list .list-con ul::after {content: ""; display: block; clear: both;}
.mypage-cart-list .list-con ul li{width: 50%;float: left;}
.mypage-cart-list .list-con .form-area{flex:1}
.mypage-cart-list .list-con .select{margin-left: 5px;width: 154px;}
.mypage-cart-list .paging{margin: 50px 0 0;}
.mypage-cont .my-main .join-list-con.mypage-cart-list .list-con .list-in {border-bottom:none}
.mypage-cont .my-main .join-list-con.mypage-cart-list .list-con .list-in > li > label{width: auto;}

/* 장바구니 주문서 */
.cart-order-list {padding: 20px 0 20px;}
.cart-order-list .tit-area {padding-bottom: 10px; margin-bottom: 0; border-bottom: 2px solid #000;}
.cart-order-list .cart-list-con .list-con .list-tit {position: relative;}
.cart-order-list .unit-cart {padding: 30px 0; align-items: center;}
.cart-order-list .unit-cart .unit-under-btn {padding: 0;}
.cart-order-list .unit-cart .unit-area .price-area {margin-top: 16px;}
.cart-order-list .unit-cart .normal-price {margin-left: 0;}

.list-con .list-in .one-form {width: 100%;}
.list-con .list-in .two-form .form-layout > :first-child {flex:1;}
.list-con .list-in .two-form .form-layout > :last-child {margin-left: 5px; width: 118px;}
.list-con .list-in.bdt-none {border-top: 0;}
.list-con .list-in .two-m4-btn {display: flex;}
.list-con .list-in .two-m4-btn .btn {margin-left: 5px;}

.cart-content .join-list-con {padding: 20px 0 30px;}
.cart-content .join-list-con ~ .join-list-con {padding: 20px 0 30px;}
.cart-content .list-con {padding-top: 0;}
.cart-content .list-con .list-in {border-bottom: 0; margin-top: 0;}
.cart-content .list-con .list-in .btn-tooltip {vertical-align: top; margin-top: 10px;}
.cart-content .list-con .list-in .tooltip-box {width: 232px;}
.cart-content .list-con .list-in .form-layout {max-width: 613px;} 
.cart-content .list-con .list-in .one-form .form-layout {max-width: 380px;}
.cart-content .list-con .list-in .form-layout label + label {margin-left: 30px;}
.cart-content .list-con .list-in .form-layout .radio-style1 > span {color: #666; font-weight: normal;}
.cart-content .cart-order-list .toolsize .tooltip-box {width: 232px; left: auto; right: 0;}
.cart-list-con .list-con .list-tit .btn-slide-open {position: absolute; top: 50%; right: 20px; margin-top: -9px;}
.cart-order-list .tit-area + .cart-list-con {margin-top: 20px;}
.cart-order-list .cart-list-con + .cart-list-con {margin-top: 20px;}
.cart-order-list .cart-list-con .tit-area {border-bottom: 0;}
.cart-order-list .cart-list-con .unit-cart .unit-under-btn {width: auto;}
.order-delivery ul li {display: flex; padding-bottom: 20px;}
.order-delivery ul li > label {width: 176px; padding-left: 20px; line-height: 38px; display: inline-block; font-size:16px;}
.order-delivery ul li .form-add-area {flex:1;}
.order-delivery ul li .form-layout {flex: 1; justify-content: space-between;}
.order-delivery ul li .form-layout .input {max-width:613px;}
.order-delivery ul li .form-layout .form-de-order {display: flex; width:713px;}
.order-delivery ul li .form-layout .form-de-order .input + .btn {margin-left: 5px;}
.order-delivery ul li .form-layout .form-de-order .in-de-order {display: flex;}
.order-delivery ul li .form-layout .form-de-order > input {flex:1; }
.order-delivery ul li .form-layout .form-de-order .in-de-order {margin-left: 5px;}
.order-delivery ul li .form-layout .form-de-order .input-w1 {width: 69px; flex: inherit;}
.order-delivery ul li .form-layout .form-de-order .input-w1 + span {width: 45px; font-size: 14px; height: 38px; line-height: 38px;}
.order-delivery ul li .form-layout .in-de-right {width: 292px; display: flex; flex:1; align-items: center; justify-content: flex-end; text-align: left;}
.order-delivery ul li .form-layout .in-de-right > * {margin-left: 5px;}
.order-delivery ul li .form-layout .in-de-right > *:first-child {margin-left: 0;}
.order-delivery ul li .form-layout .in-de-right .input {width: 118px;}
.order-delivery ul li .form-layout .in-de-right label {flex: 1; }
.order-delivery ul li .form-layout .in-form-right {width: 292px; display: flex; align-items: center;}
.order-delivery ul li .form-layout .in-form-right .input {max-width: 118px;}
.order-delivery ul li .form-layout .in-form-right label {flex:1; display:inline-block;}
.order-delivery ul li .form-layout .in-form-right label + div {display: flex; flex:1;}
.order-delivery ul li .form-layout .in-form-right label + div .input {flex:1;}
.order-delivery ul li .form-layout .in-form-right label + div .btn {margin-left: 5px;}
.order-delivery ul li .form-layout .in-form-right label.laW2 {width:100px; flex:none;}
.order-delivery ul li .order-de-title {font-size: 16px; color: #000; font-weight: 500; width: 176px; padding-left: 20px;}
.order-delivery ul li .order-de-txt {font-size: 14px; color: #666;}
.order-delivery ul li .order-de-txt > .de-txt-row {display: flex;}
.order-delivery ul li .order-de-txt > .de-txt-row + .de-txt-row {padding-top: 10px;}
.order-delivery ul li .order-de-txt p {margin-left: 10px;}
.order-delivery ul li .order-de-txt p:first-child {margin-left: 0;}
.order-delivery ul li .order-de-txt p:before {content: ''; display: inline-block; width: 1px; height: 12px; background: #bbb; margin-right: 10px;}
.order-delivery ul li .order-de-txt p:first-child::before {display: none;}
/* 주문서 배송지 추가 */
.add-address-wrap {width:100%;}
.add-address-area {width:100%; display:flex;}
.add-address-wrap .add-address-area + .add-address-area {margin-top:10px;}

.cart-pay-area {margin-top: 20px; padding: 20px; background: #fafafa; display: flex; align-items: center;}
.cart-pay-area > p {font-size: 16px; color: #000;}
.cart-pay-area > p span {vertical-align: top; display: inline-block;}
.cart-pay-area .radio-style1 {margin-left: 50px;}
.cart-pay-area .radio-style1 > span {font-size: 16px;}
.after-pay-area {position: relative; margin: 20px 0 0 0; }
.after-pay-area [class^=af-arrow] {top: 50%; transform: translateY(-50%);}
.after-pay-area .swiper-slide {padding: 0 15px 15px;}
.after-pay-area .afpay-box {padding: 30px; background: url(../images/common/img_card_bg.png) 0 0 no-repeat; background-size: 370px 199px; border-radius: 10px;}
.after-pay-area .afpay-box.on {box-shadow: 8px 8px 8px rgba(52, 109, 208, 0.2);}
.after-pay-area .afpay-box .afpay-txt {padding-top: 10px;}
.after-pay-area .afpay-box .afpay-txt p {font-size: 16px; line-height: 21px; color: #fff; word-break: break-all;}
.after-pay-area .afpay-box .radio-style1 {width: 100%;}
.pay-agree-check {text-align: center; padding: 70px 0 0;}
.cart-content .pay-agree-check + .btn-area-c {margin-top: 0;}

/* 주문완료 */
.cart-order-done {display: flex; justify-content: center; flex-direction: column; text-align: center; width: 100%; height: 217px; margin-bottom: 20px; background: #fafafa;}
.cart-order-done .done-txt1 {font-size: 24px; color: #000; font-weight: bold; line-height: 22px; padding-bottom: 20px;}
.cart-order-done .done-txt2 {font-size: 16px; color: #000; line-height: 19px; padding-bottom: 10px;}
.cart-order-done .done-txt2 span {font-weight: 500; color: #346dd0; padding-left: 20px;}
.cart-order-cash {display: flex; height: 59px; justify-content: center; align-items: center; background: #fafafa; margin-bottom: 30px;}
.cart-order-cash p {font-size: 16px;}
.cart-order-cash p span {display: inline-block; vertical-align: top; padding-left: 5px;}
.cart-order-cash p:after {content: ''; display: inline-block; width: 1px; height: 11px; background: #bbb; margin: 0 20px;}
.cart-order-cash p:last-child::after {display: none;}


/* 팝업 주소검색 */
.lyPopCont .pop-address{height:520px;}

.pop-address .address-info{padding:30px 0 70px; font-size: 16px; overflow: hidden;}
.pop-address .address-info div{margin-top: 20px;font-size: 15px;line-height: 23px;}
.pop-address .address-list{padding-top: 20px;}
.pop-address .address-list ul li{position: relative;border-bottom: 1px solid #D7D7D7;padding: 20px 0;}
.pop-address .address-list ul li a:hover{color:#346DD0;text-decoration: underline;}
.pop-address .address-list ul li > div{margin-top: 6px;position: relative;}
.pop-address .address-list ul li > div:first-child{margin-top: 12px;}
.pop-address .address-list ul li > div span{font-size: 14px;line-height: 17px;}
.pop-address .address-list ul li > div.old{margin-top: 12px;font-size: 16px;display: flex;}
.pop-address .address-list ul li > div.old span:last-child{width: calc(100% - 75px);}
.pop-address .address-list ul li > div > span:first-child{width: 75px;display: inline-block;}
.pop-address .address-list ul li:first-child{border-top: 1px solid #D7D7D7;}
.pop-address .address-list ul li.none {border-top:none;padding:80px 0 100px;text-align: center;}
.pop-address .address-list ul li.none p{font-size: 16px;color:#999;padding-top:80px;background: url(../images/common/icon_none2.svg) 50% 0 no-repeat;}
.pop-address .address-list .acdArea .acdBtn{position: absolute;top: 2px;right:0;padding-right: 20px;font-size: 14px;}
.pop-address .address-list .acdArea .acdBtn .apt{display: inline-block;margin-right: 5px;font-size: 12px;height: 20px;line-height: 18px;padding:0 6px;margin-top: -3px;border-radius: 10px;border: 1px solid #346DD0;color:#346DD0;}
.pop-address .address-list .acdArea .acdBtn::after{content: "";width: 18px; height: 18px;margin-top: -9px; display: inline-block;position: absolute;top: 50%;right: 0;background:url(../images/common/btn_filter_more2.svg) 100% 0 no-repeat;}
.pop-address .address-list .acdArea .acdBtn.on::after{transform:rotate(-180deg)}
.pop-address .address-list .acdArea .acdCont{padding:12px 10px;margin-top:10px;display: none;background: #F5F5F5;}
.pop-address .address-list .acdArea .acdCont > div{display: table;font-size: 14px;line-height: 17px;}
.pop-address .address-list .acdArea .acdCont > div span{display: table-cell;margin-right: 10px;width: 62px;vertical-align: top;}
.pop-address .paging{margin:0;padding:30px 0}

.pop-address .address-search {width:100%; position:relative;}
.pop-address .address-search .addressListAuto {display:none; width:100%; height:183px; border:1px solid #666; background:#fff; position: absolute; top:calc(100% - 1px); left:0; z-index:3; overflow:auto;}
.pop-address .address-search .addressListAuto > p {width:100%; margin-top:5px; font-size:14px; color:#000;}
.pop-address .address-search .addressListAuto > p a {width:100%; padding:5px 10px; display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.pop-address .address-search .addressListAuto > p a:hover {background:#346dd0; color:#fff;}
.pop-address .address-search .addressListAuto > p:last-child {margin-bottom:5px;}


/* 팝업 결재승인자 추가 */
.approval-add p i{font-style: normal;color:#346DD0;vertical-align: top;}
.approval-add p + table{margin-top: 10px;}
.approval-add .jusitfy-info-area {margin: 10px 0;font-size: 15px;}
.approval-add .jusitfy-info-area + .jusitfy-info-area {margin-top:35px;}
.approval-add .jusitfy-info-area .btn-small-line{width: 56px;}
.approval-add .jusitfy-info-area .btn-small-line2{height: 38px;}
.approval-add .jusitfy-info-area .pop-ip-area{width:calc(100% - 123px);}
.approval-add .jusitfy-info-area .pop-ip-area label{padding-left: 0;width: 70px;}
.approval-add .jusitfy-info-area .pop-ip-area .form-search{flex:1}
.approval-table {max-height:199px; overflow-x: hidden; overflow-y: auto; border-top: 1px solid #bbb; border-bottom: 1px solid #D7D7D7;padding-bottom: 14px;}
.approval-table th{font-weight: normal;background:#F5F5F5;border-left: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;line-height: 59px;font-size: 16px;}
.approval-table th:first-child{border-left: none;}
.approval-table tbody tr:first-child td {padding-top: 20px;}
.approval-table td{text-align: center; font-size: 16px; padding: 6px 12px;}
.approval-table tr.td-start td{padding-top: 20px;}
.lyPopup .popup-cont .lyPopCont .approval-add .btn-area{text-align: right; padding-top:20px;}



/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1200px) {
    .cart-floating-box {height:auto;}
    .cart-total-floating dl {display:none;}
    .cart-total-floating dl + dl {margin-left:0; padding-left:0;}
    .cart-total-floating dl.total {display:block;}
    .cart-total-floating dl.total .price {margin-top:0;}
    .cart-total-floating dl.total::before {display:none;}
    .cart-floating-box .cart-floating-cont {width:100%; padding:0;}
    .cart-floating-cont .cart-total-floating {padding:20px 305px 20px 30px;}
    .cart-floating-cont .right-area {top:25px;}
    /* .cart-floating-cont .right-area {width:100%; text-align: center; position:inherit; top:inherit; right:inherit;}
    .cart-floating-cont .right-area .btn {min-width:198px; height:48px; line-height:47px; font-size:16px;} */
    /* .cart-floating-box {border-top-color:#d7d7d7;}
    .cart-floating-cont .right-area {display: flex;}
    .cart-floating-cont .right-area .btn {flex:1; min-width:198px; height:48px; line-height:47px; font-size:16px;} */

}


@media only screen and (max-width:1024px) { /* ipad pro*/
}

/* 모바일 시작 */
@media only screen and (max-width:800px) {
    /* 장바구니 */
    .cart-content {margin:36px 0 205px;}
    .cart-top {margin-bottom:0;}
    .cart-content .tit-type1-2 em  {font-size:16px;line-height:19px;vertical-align:top;}
    .cart-list-con + .cart-list-con {margin-top:30px;}
    /* .cart-list-con .list-con {border-top:0; border-bottom: 0;} */
    .cart-list-con .tit-area {margin-bottom:20px; padding:78px 20px 0; position:relative; font-size:15px;}
    .cart-list-con.wish-list-con .tit-area {padding-top:0;}
    .cart-list-con .tit-area .check-style2 > span {font-size:15px;}
    .cart-list-con .right-area {position:absolute; top:30px; left:20px; z-index:1;}
    .cart-list-con .list-con + .list-con {margin-top:20px;}
    .cart-list-con .list-con ul li .list-none {padding:130px 0 70px;background-position-y:70px; background-size: 50px 50px; font-size: 14px;}
    .cart-list-con .list-con ul {}
    .cart-list-con .tit-area .sub-txt > b {vertical-align: middle;}
    .wish-list-con .list-con ul {border-bottom:0; }
    .cart-content .list-con .list-in .btn-tooltip {margin-top: 0;}

    .cart-total-area {width:auto; margin:10px 20px 0; padding:0 0 20px; border-top:1px solid #000; border-bottom:1px solid #d7d7d7; background:none; flex-direction:column;}
    .cart-content .cart-total-area {margin-top:30px;}
    .cart-total-area dl {margin-top:20px; flex: inherit;}
    .cart-total-area dl.total::before,
    .cart-total-area dl + dl::before {display:none;}
    .cart-total-area dl + dl {border:0;}
    .cart-total-area dl {width:100%; display:flex; justify-content: space-between; align-items: flex-start;}
    .cart-total-area dl > dt {font-size:15px;}
    .cart-total-area dl > dd {text-align: right;}
    .cart-total-area .price {font-size:15px;}
    .cart-total-area .price > b {font-size:20px;}
    .cart-total-area .info-txt {font-size:13px; margin-top:2px;}

    /* 장바구니 유닛 */
    .unit-cart .check-style2 {margin-top:0; top:20px; left:20px; z-index:8;}
    .unit-cart {padding:50px 20px 20px; flex-direction:column;}
    .unit-cart > a {width: 100%;}
    .unit-cart .unit-area {padding:0 0 0 135px; min-height: 125px;}
    .unit-cart .unit-area > dt {width:125px; height:125px;}
    .unit-cart .unit-area > dt .soldeout-txt {font-size:14px;}
    .unit-cart .unit-area > dd {padding:0 0 0 10px;}
    .unit-cart .standard {display:none;}
    .unit-cart .unit-area .brand {font-size:14px; margin-bottom: 2px;}
    .unit-cart .unit-area .product-name {width:100%; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-wrod; white-space:inherit; font-size:15px;}
    .unit-cart .unit-under-btn {width:100%; padding:10px 0 0; position: static; top:inherit; right:inherit; z-index:inherit; transform:unset;}
    .unit-cart .unit-under-btn > li {display:flex;}
    .unit-cart .unit-under-btn > li .btn {flex:1;}
    .unit-cart .unit-under-btn > li .btn + .btn {margin-left:10px;}
    .unit-cart .unit-under-btn > li.del {position:absolute; top:20px; right:20px; display:inline-block;}
    .unit-cart .unit-under-btn > li.del .btn-style-m1 {width:24px; min-width:24px; height:24px; border:0; font-size:0; margin-bottom:0; background:url(../images/common/mo_btn_close_m_gray.svg) 0 0 no-repeat;}
    .unit-cart .unit-under-btn > li.del .btn-gray-line {width:24px; min-width:24px; height:24px; border:0; font-size:0; margin-bottom:0; background:url(../images/common/mo_btn_close_m_gray.svg) 0 0 no-repeat;}
    .unit-cart .option-area > p {font-size:13px; width: 100%;}
    .unit-cart .option-area > p + p::before {display:none;}
    .unit-cart .order-quantity {font-size:13px; margin: 10px 0 6px;}
    .unit-cart .unit-area .price-area .flag-txt {margin-right:5px;}
    .unit-cart .unit-area .price {font-size:12px;}
    .unit-cart .unit-area .price > b {font-size:20px;}
    .unit-cart .normal-price {margin-left:0;}
    .unit-cart .unit-under-btn > li > a {margin-bottom:0;}
    .unit-cart .unit-area .sale {margin-left: 0;}
    .unit-cart .normal-price {margin-right: 10px;}
    .unit-cart .unit-area .price {margin-right: 10px;}

    .unit-cart .del-area {padding:0;}
    .unit-cart .in-del-txt {}
    .unit-cart .unit-area .del-area {width: 100%; height: 30px; margin-bottom: 10px;}
    .unit-cart .del-area .del-box-cont {width: calc(100% + 20px); white-space:nowrap; overflow-y:hidden; overflow-x:auto;}
    .unit-cart .del-area .del-box-cont .del-box {margin-bottom: 10px;}

    .unit-cart .unit-area .price-area .btn-tooltip {margin:0 calc(100% - 69px) 0 0;}

    .mo-cart-floating-box {width:100%; display:block; border-top:1px solid #d7d7d7; background:#fff; position: fixed; bottom:0; left:0; z-index:10;}
    .mo-cart-floating-box .floating-total {width:100%; display: flex; padding:10px 20px; justify-content: space-between; font-size: 14px; color:#000;}
    .mo-cart-floating-box .floating-total .tit {font-size: 15px; font-weight: 500;}
    .mo-cart-floating-box .floating-total .price {line-height:15px;}
    .mo-cart-floating-box .floating-total .price > b {font-size: 16px; font-weight: 700; vertical-align: top;}
    .mo-cart-floating-box .floating-total .info-txt {color:#999;}
    .mo-cart-floating-box .btn-area-c {padding:0 0 20px;}

    /* quick주문 */
    .top-write-box {flex-wrap: wrap; margin-bottom: 0;}
    .top-write-box .form-layout {flex: 1; margin: 0 0 0 20px;}
    .top-write-box .notice-txt {width: 100%; padding: 10px 0 0 0;}
    .quick-con .tit-area {padding:78px 20px 0;}
    .quick-con .quick-none {border: 0;}
    .quick-con .quick-none > ul > li {border: 0; display: flex; justify-content: center;}
    .quick-con .result-none2 {border: 0;}
    .color-none .btn-style-ml1 {border: 1px solid #e5e5e5; background: #fafafa; color: #d7d7d7;}
    .color-none .btn-style-ml2 {background: #d7d7d7; color: #fff;}

    /* 장바구니 팝업 */
    .pop-restock  {text-align:left;}
    .pop-restock > p {font-size:15px;}
    .pop-restock > span {font-size:18px; font-weight:bold;}
    .pop-restock .pop-write > table > tbody > tr > th {width:81px;}
    .pop-restock .pop-write > table > tbody > tr > td {font-size:14px;}
    .pop-restock .pop-write > table > tbody > tr > td div:not(.filebox) {flex-direction:column;}
    .pop-restock .pop-write > table > tbody > tr > td div label {width:100px; margin-bottom:5px; font-size:15px;}
    .pop-restock .pop-write .input th  {padding-right:15px;}
    .pop-restock .pop-write .input td div {line-height:19px}
    .pop-restock .pop-write .input td div label {line-height:19px}
    .pop-restock .pop-write > table .input td div.form-layout  {width:100%;}
    .pop-cart-addr1 ul li.none p {background-size: 50px 50px; padding: 60px 0 0 0; font-size: 14px; line-height: 18px;}

      
    /* 장바구니 주문서 팝업*/
    .pop-orderlist > .input{display: flex;flex-direction: column;margin:20px 0 0}
    .pop-orderlist > .input .form-layout{width: 100%;}
    .pop-cart .radio-wrap {margin: 30px 0 10px}
    .pop-layout .pop-write.pop-cart-addr1{margin-top: 10px;}
    .pop-layout .pop-write.pop-cart-addr1 ul li{flex-direction: column;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div.btn-wrap{width: 122px;margin:10px 0 0;display: flex;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div.btn-wrap .btn{min-width: calc(50% - 5px);}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div.btn-wrap .btn:last-child{margin-top: 0;margin-left: 10px;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div span.num{display: block;padding-left: 0;margin-top: 2px;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div span.num::before{display: none;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > div{width: 100%;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > .check-style2{padding-bottom: 10px;}
    .pop-layout .pop-write.pop-cart-addr1 ul li > .check-style2 input + i{margin-top: 0;}
    .pop-layout .pop-write.pop-cart-addr1 ul li.none{padding:70px 0}
    .pop-restock .pop-cart-addr2 .pop-write{text-align: left;margin-top: 20px;}
    .pop-restock .pop-cart-addr2 .pop-mo-check{margin: 20px 0 10px;text-align: left;}
    .pop-restock .pop-cart-addr2 .pop-mo-check .check-style1{display: block;}
    .pop-restock .pop-cart-addr2 .pop-mo-check .check-style1:last-child{margin-top: 10px;}
    .lyPopup .popup-cont .lyPopCont .pop-namecard .btn-area{border:none;display: block;height: auto;}
    .lyPopup .popup-cont .lyPopCont .pop-namecard .btn-area a{width: auto;}
    .lyPopup .popup-cont .lyPopCont .pop-namecard .excel-wrap{margin-top: 10px;}
    

    /* 장바구니 관리 */
    .mypage-cart-list .list-con{padding:20px 0 10px; border-bottom: none;}
    .mypage-cart-list .list-con > p{font-size: 14px;}
    .mypage-cart-list .list-con .btn{position: relative;top:0;margin:10px 20px 0;}
    /* .mypage-cart-list .list-con .btn-tooltip .tooltip-box {left:0; right:inherit;} */
    .mypage-cart-list .list-con .list-in > li {display: flex; width: 100%; padding:0; margin-bottom:20px; flex-direction: row; align-items: center;}
    .mypage-cart-list .btn-style-mm1, .mypage-cart-list .btn-style-mm2{width:calc(50% - 5px);}

    /* 주문완료 */
    .cart-content .join-list-con {padding: 20px 0;}
    .cart-content .join-list-con ~ .join-list-con {padding: 0 0 20px 0;}
    .cart-content .list-con .list-in .one-form .form-layout {max-width: 100%;}
    .cart-content .selection-area {padding-left: 0;}
    .cart-content .selection-area .selection-item {padding: 0;}
    .cart-content .join-list-con .list-con .list-in .two-form .tooltip-box {right: auto; left: 0; width: 181px;}
    .cart-content .cart-order-list .toolsize {margin-top: 10px;}
    .cart-content .cart-order-list .toolsize .tooltip-box {width: 160px;}
    .cart-list-con .list-con .list-tit {padding:15px 20px; font-size: 16px;}
    .cart-list-con .list-con .list-tit .sub-txt {margin: 5px 0 0 0; display: block; font-size: 15px;}
    .cart-list-con .unit-cart .unit-under-count {position: relative; top: 0; margin: 10px 0 0 145px; padding: 0; transform: inherit;}
    
    .cart-order-list {padding: 0 0 20px 0;}
    .cart-order-list .tit-area {padding-bottom: 20px; border-bottom: 0;}
    .cart-order-list .tit-area + .cart-list-con {margin-top: 0;}
    .cart-order-list .unit-cart {padding: 20px; align-items: flex-start;}
    .cart-order-list .unit-cart .unit-area .price-area {width:100%; margin-top: 10px;}
    .cart-order-list .order-delivery {padding: 0 20px;}
    .cart-order-list .order-delivery ul li {flex-direction: column;}
    .cart-order-list .order-delivery ul li > label {font-size: 14px; padding: 0 0 5px 0; line-height: 17px;}
    .cart-order-list .order-delivery ul li .form-layout {flex-direction: column;}
    .cart-order-list .order-delivery ul li .form-layout .input {width: 100%;}
    .cart-order-list .order-delivery ul li .form-layout .form-de-order {width: 100%; flex-wrap: wrap;}
    .cart-order-list .order-delivery ul li .form-layout .form-de-order .in-de-order {width: 100%; margin: 10px 0 0 0;}
    .cart-order-list .order-delivery ul li .form-layout .form-de-order .input-w1 {width: 110px;}
    .cart-order-list .order-delivery ul li .form-layout .form-de-order .input-w1 + span {width: auto; font-size: 15px; line-height: 36px; height: 36px;}
    .cart-order-list .order-delivery ul li .form-layout .in-de-right {width: 100%; margin-top: 10px; justify-content: flex-start;}
    .cart-order-list .order-delivery ul li .form-layout .in-de-right .btn {width: 100%;}
    .cart-order-list .order-delivery ul li .form-layout .in-de-right > * {margin-left: 10px;}
    .cart-order-list .order-delivery ul li .form-layout .in-de-right > .btn:first-child {margin-left:0;}
    .cart-order-list .order-delivery ul li .form-layout .in-form-right {flex-direction: column; align-items: flex-start; padding-top: 20px; width: 100%;}
    .cart-order-list .order-delivery ul li .form-layout .in-form-right label {font-size: 14px; padding: 0 0 5px 0; line-height: 17px;}
    .cart-order-list .order-delivery ul li .form-layout .in-form-right .input {max-width: 100%;}
    .cart-order-list .order-delivery ul li .form-layout .in-form-right label + div {width: 100%;}
    .cart-order-list .order-delivery ul li .order-de-title {font-size: 14px; padding: 0 0 10px 0;}
    .cart-order-list .order-delivery ul li .order-de-txt > .de-txt-row {display: inherit;}
    .cart-order-list .order-delivery ul li .order-de-txt > .de-txt-row p {display: inline;}
    .add-address-area {display:block;}
    .cart-pay-area {margin: 30px 20px 20px; flex-wrap: wrap;}
    .cart-pay-area > p {width: 100%;}
    .cart-pay-area > p span {display: none;}
    .cart-pay-area .radio-style1 {margin: 20px 0 0 0; width: 50%;}
    .cart-pay-area .radio-style1 > span {font-size: 15px;}
    .notice-txt {padding: 0 20px;}
    .pay-agree-check {padding: 30px 20px 0;}
    .after-pay-area {padding: 0; margin-top: 30px;}
    .after-pay-area .swiper-slide {width: 370px !important; padding: 0 5px 10px;}
    .after-pay-area .afpay-box {padding:20px; background-size: 100% 100%;}
    .after-pay-area .afpay-box .afpay-txt p {font-size: 15px;}
    
    .list-con .list-in .two-form .form-layout > :last-child {width: 112px;}
    .list-con .list-in .w-fixed {width: 112px;}

    .cart-order-done {height: 169px; margin-bottom: 20px;}
    .cart-order-done .done-txt1 {font-size: 18px;}
    .cart-order-done .done-txt2 {font-size: 15px;}
    .cart-order-cash {flex-direction: column; height: 87px;}
    .cart-order-cash p {font-size: 14px; padding-bottom: 6px;}
    .cart-order-cash p:last-child {padding-bottom: 0;}
    .cart-order-cash p:after {display: none;}

    /* .cart-content .btn-area-c {margin-top:0;} */

    
    /* 주소검색 */
    .pop-address .inp-area .del{right:41px}
    .pop-address .address-list a{font-size: 15px;}
    .pop-address .address-info{font-size: 15px; padding-bottom:30px;}
    .pop-address .address-info div{font-size: 14px;line-height: 22px;}
    .pop-address .address-list ul li.none{padding: 70px 0;}
    .pop-address .address-list ul li.none p{padding-top: 60px;background-size: 50px;font-size: 14px;}
    .pop-address .mobile-paging{margin:30px 0;width: 100%;display: inline-block;}
    .pop-address .address-list .acdArea .acdBtn .apt{height: 18px; line-height: 19px;}

    .cart-floating-box {display:none;}
}

@media only screen and (max-width:480px) {
    .after-pay-area .swiper-slide {width: 300px !important;}
}
@media only screen and (max-width:414px) { /* iphone plus */
}
@media only screen and  (max-width:375px) { /* iphone6 */
    .mypage-cart-list .list-con .btn-tooltip .tooltip-box {left:0; right:inherit;}
}
@media only screen and  (max-width:360px) { /* galaxy */
}
@media only screen and  (max-width:320px) { /* iphoneSE */
    .after-pay-area .swiper-slide {width: 280px !important;}
}
@media only screen and  (max-height:568px) { /* 아이폰SE */

}