@charset "utf-8";
/* ==========================================================================
    z-index 정의
========================================================================== */
/* 
//--- 팝업(1000단위) ---//
모달팝업(mdPopup) - z-index:1000;
팝업(lyPopup) - z-index:999;
팝업딤드(dim) - z-index:999;


//--- 공통 컨텐츠 fixed 영역 별(100단위) ---//
 */

/* ==========================================================================
    layout
========================================================================== */
.wrap {width:100%; min-width:1200px;}
/* header */
.header {width:100%; position:fixed; top:0; left:0; z-index:99; background:#fff;}
.header .header-top {width:1200px; margin:20px auto 20px; text-align:right; font-size:13px; color:#333;}
.header .header-cont {width:1200px; margin:0 auto 32px; position:relative;}
.header-cont .logo {width:203px; height:24px; display:inline-block; position:absolute; top:0; left:0;}
.header-cont .search-area {width:400px; height:38px; margin:0 auto; position:relative; border-bottom:3px solid #000;}
.header-cont .search-area .inp-area {width:100%; padding:5px 33px 7px 0; position:relative; font-size:16px;}
.inp-area .inp {width:100%; font-size:16px;}
.inp-area .del {display:none;}
.header-cont .search-area .btn-search {position:absolute; top:0; right:0;}
.header-cont .right-area {position:absolute; top:5px; right:0; font-size:0;}
.header-cont .right-area .icon-btn {width:36px; height:36px; display:inline-block; background-size:auto 100%;}
/* gnb */
.gnb-wrap {width:100%; height:48px; background:#2d3a52;}
.gnb-wrap .gnb-area {width:1200px; margin:0 auto; position:relative;}
.gnb-wrap .cate-area {width:190px; float:left;}
.cate-area .btn-cate.moBtnCate {display:none;}
.cate-area .btn-cate {width:190px; height:48px; padding:6px 0 6px 20px; color:#f8f8f8; font-size:16px; display:inline-block; line-height:1.1; text-align:left;}
.cate-area .btn-cate::before {content:""; width:36px; height:36px; margin-right:10px; display:inline-block; background:url(../images/layout/btn_cate.svg) 50% 50% no-repeat; vertical-align:middle;}
.cate-area .cate-layer {width:175px; height:592px; padding:16px 0; background:#466175; font-size:16px; line-height:1.2;}
.gnb-wrap .cate-area .cate-layer-wrap {display:none; width:100%; height:592px; background:#fff; position:fixed; top:175px; left:0; z-index:100; border-bottom:1px solid #d7d7d7;}
.gnb-wrap .cate-area .cate-layer-cont {width:1200px; margin:0 auto; position:relative;}
.cate-layer .ly-go-back {display:none; position:absolute; top:0; left:0; z-index:10;}
.cate-layer .d1-btn {padding:8px 24px; display:block; color:#fff; position:relative;}
.cate-layer .d1-btn a {vertical-align:top;}
.cate-layer .d1-btn.on {background:#346dd0;}
.cate-layer .d1-btn::after {display:none; content:""; width:18px; height:18px; background:url(../images/common/arrow_gnb_d1.svg) 0 0 no-repeat; position:absolute; top:8px; right:16px;}
.cate-layer .d1-btn.on::after {display:inline-block;}
.cate-layer .d2-layer-box {display:none; width:1025px; height:592px; background:#fff; position:absolute; top:0; left:175px; z-index:1;}
.cate-layer .d2-layer-box.active {display:block;}
.cate-layer .cate-sub-layer {display:none; width:100%; height:500px; background:#fff;}
.gnbPC .cate-layer .d1:hover + .cate-sub-layer {display:block;}
.cate-layer .d2-layer-box {border:1px solid #d7d7d7;}
.cate-layer .d2-layer-box .tit {margin:24px 0; padding-left:24px; font-size:28px; line-height:28px; color:#000;}
.cate-layer .d2-layer-box .partition-wrap {width:100%; overflow:hidden;}
.cate-layer .partition-wrap .partition-area {float:left; display:inline-block; position:relative;}
.cate-layer .partition-area .depth-list {}
.cate-layer .partition-area .depth-list > li {width:100%; color:#333;}
.cate-layer .partition-area .depth-list > li > a {width:220px; padding:0 24px 14px; font-size:15px; display:inline-block;}

.cate-layer .partition-area .depth-list {color:#333;}
.cate-layer .depthBtn:hover {color:#346dd0;}
.cate-layer .depthBtn.on {color:#346dd0;}
.cate-layer .depthCont {height:100%; position:absolute; top:0; z-index:1; background:#fff;}
.cate-layer .depthCont::before {content:""; width:1px; height:457px; display:inline-block; background:#e5e5e5; position:absolute; top:0; left:0;}
.cate-layer .depth3-layer {left:220px;}
.cate-layer .depth4-layer {left:220px;}
.cate-layer .depth3-layer,
.cate-layer .depth4-layer {display:none;}
.cate-layer .depth3-layer.active,
.cate-layer .depth4-layer.active {display:block;}
.cate-layer .depth4-layer .d4-list {width:440px; height:503px; display:-webkit-box; display:-ms-flexbox; display:flex; flex-direction:column; flex-wrap:wrap; justify-content:left; position:relative; overflow:hidden;}
.cate-layer .depth4-layer .d4-list::before {content:""; width:1px; height:457px; display:inline-block; background:#e5e5e5; position:absolute; top:0; left:218px;}
.cate-layer .depth4-layer .d4-list > li {width:220px; padding-right:55px; position:relative;}
.cate-layer .depth4-layer .d4-list > li .btn-star {position:absolute; top:0; right:24px; z-index:1;}
.cate-layer .banner-area {float:right;}
.cate-layer .banner-area .banner-img-area {width:119px; height:475px;}
.cate-layer .banner-area .banner-img-area > img {width:100%; height:100%;}
.cate-layer-wrap .btn-layer-close {width:24px; height:24px; display:inline-block; font-size:0; background:url(../images/common/btn_cate_ly_close.svg) 0 0 no-repeat; position:absolute; top:24px; right:24px; z-index:1;}
.mo-cate-layer-wrap {display:none;}

.gnb-wrap .gnb-area .gnb {margin-left:12px; color:#fff; font-size:0; float:left;}
.gnb-area .gnb ul > li {display:inline-block; font-size:18px; position:relative;}
.gnb-area .gnb ul > li > a {height:100%; line-height:48px; padding:0 48px;}
.gnb-area .gnb ul > li + li::before {content:""; width:1px; height:14px; display:inline-block; background:#fff; vertical-align:middle; position:absolute; top:50%; left:0; transform:translateY(-50%);}
.gnb-wrap .gnb-area .gnb-right-area {width:190px; height:48px; color:#fff; position:absolute; top:0; right:0; z-index:1;}
.gnb-right-area .real-time-search {height:48px; padding-right:20px; position:relative;}
.gnb-right-area .real-time-search .swiper-container {height:48px;}
.gnb-right-area .real-time-search .realtime-search-slide {height:48px; overflow:hidden;}
.gnb-right-area .real-time-search .real-time-more {width:18px; height:18px; display:inline-block; background:url(../images/common/arrow_realtime_search.svg) 0 0 no-repeat; position:absolute; top:14px; right:0; font-size:0;}
.gnb-right-area .real-time-search .realtime-area {width:100%; height:100%; padding:14px 0 14px 32px; position:relative;}
.gnb-right-area .real-time-search .realtime-area .num {width:20px; height:20px; text-align:center; line-height:20px; background:#12b5cf; color:#fff; position:absolute; top:14px; left:0; z-index:1;}
.gnb-right-area .real-time-search .real-time-layer {display:none; width:190px; padding:25px 20px 10px; position:absolute; top:0; right:0; z-index:1; background:#fff; color:#000; border:1px solid #d7d7d7;}
.real-time-search .real-time-layer .layer-close {width:20px; height:20px; display:inline-block; position:absolute; top:5px; right:5px; font-size:0; background:url(../images/common/btn_close_s.svg) 0 0 no-repeat; background-size:100% auto;}
.real-time-search .real-time-layer .all-list {}
.real-time-search .real-time-layer .all-list .realtime-area {padding:5px 0 5px 32px;}
.real-time-search .real-time-layer .all-list .realtime-area .num {top:5px;}

.container {margin-top:174px; overflow:hidden;}
.sub-content {min-height:550px;}

/* footer */
.footer-wrap {width:100%; overflow:hidden; position:relative; background:#fafafa;}
.footer-wrap::before {content:""; width:100%; height:1px; display:inline-block; background:#666; position:absolute; top:0; left:0;}
.footer-wrap .footer {width:1200px; margin:0 auto;}
.footer .footer-top {width:100%; padding:23px 0; border-bottom:1px solid #d7d7d7; font-size:0;}
.footer .footer-top ul {display:inline-block; font-size:0;}
.footer .footer-top ul > li {display:inline-block; font-size:16px;}
.footer .footer-top ul > li > * {vertical-align:top;}
.footer .footer-top ul > li + li {padding-left:21px; margin-left:20px; position:relative;}
.footer .footer-top ul > li + li::before {content:""; width:1px; height:10px; background:#999; position:absolute; top:50%; left:0; transform:translateY(-50%);}
.footer .footer-top ul + ul {padding-left:21px; margin-left:20px; position:relative;}
.footer .footer-top ul + ul::before {content:""; width:1px; height:14px; background:#999; position:absolute; top:50%; left:0; transform:translateY(-50%);}
.footer .footer-cont {padding:40px 0 60px 232px; position:relative;}
.footer .footer-cont .footet-logo {width:172px; height:28px; position:absolute; top:40px; left:0;}
.footer .footer-cont .footer-info {font-size:14px; color:#666;}
.footer .footer-cont .footer-info > span {position:relative; display:inline-block;}
.footer .footer-cont .footer-info > span + span {margin-left:12px; padding-left:12px;}
.footer .footer-cont .footer-info > span + span::before {content:""; width:1px; height:10px; background:#999; display:inline-block; position:absolute; top:3px; left:0;}
.footer .footer-cont .copyright {margin-top:16px; font-size:14px; color:#999;}

/* 퀵메뉴 */
.quick-menu {position:fixed; right:0; top:175px; z-index:99;}
.quick-menu a {overflow:visible; position:relative; display:flex; justify-content: center; align-items: center; flex-direction: column; text-align:center; width:70px; height:70px; margin-bottom:1px; background:#000;}
.quick-menu u {display:inline-block; width:36px; height:36px;}
.quick-menu span {display:block; margin:2px 0 4px; font-size:13px; line-height:14px; color:#fff;}
.quick-menu .qk-quick span {font-size:12px; margin-top:-4px;}
.quick-menu .qk-quicktop {background:#2d3a52;}
.quick-menu .qk-notify u {background:url(../images/common/icon_st_notify.svg) 0 0 no-repeat;}
.quick-menu .qk-lookmark u {background:url(../images/common/icon_st_lookmark.svg) 0 0 no-repeat;}
.quick-menu .qk-history u {background:url(../images/common/icon_st_history.svg) 0 0 no-repeat;}
.quick-menu .qk-favorite u {background:url(../images/common/icon_st_favorite.svg) 0 0 no-repeat;}
.quick-menu .qk-speech u {background:url(../images/common/icon_st_speech.svg) 0 0 no-repeat;}
.quick-menu .qk-quick u {background:url(../images/common/icon_st_quick.svg) 0 0 no-repeat;}
.quick-menu .qk-request u {background:url(../images/common/icon_st_request.svg) 0 0 no-repeat;}
.quick-menu .qk-quicktop u {background:url(../images/common/icon_st_quicktop.svg) 0 0 no-repeat;}
.quick-menu .noti-txt {position:absolute; top:19px; right:57px; width:auto; height:32px; line-height:32px; font-size:13px; color:#fff; padding:0 12px; border-radius:16px; text-align:right; background:#12b5cf; box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);}
.quick-menu .noti-txt p {white-space:nowrap; }
.quick-menu .noti-txt:after {content:''; display:inline-block; position:absolute; top:50%; right:-2px; margin-top:-5px; width:10px; height:10px; transform:rotate(45deg); background:#12b5cf;}
.quick-menu .qk-group-show {display: none;}

/* ==========================================================================
    plugin 관련
========================================================================== */
/* swiper 관련 css */
.slide-arrow-prev:after,
.slide-arrow-next:after {display:none;}
.slide-arrow-prev {width:40px; height:40px; margin-top:0; background:url(../images/common/btn_slide_L.svg) 0 0 no-repeat; left:0; position:absolute; z-index:10;}
.slide-arrow-next {width:40px; height:40px; margin-top:0; background:url(../images/common/btn_slide_R.svg) 0 0 no-repeat; right:0; position:absolute; z-index:10;}
.slide-arrow-next.swiper-button-disabled,
.slide-arrow-prev.swiper-button-disabled {display:none;}
.swiper-pagination.swiper-pagination-bullets {width:100%; margin-top:20px; text-align:center;}
.swiper-pagination-bullet + .swiper-pagination-bullet {margin-left:5px;}
.swiper-pagination-bullet {width:8px; height:8px; background:#d7d7d7; opacity:1;}
.swiper-pagination-bullet-active {width:24px; height:8px; border-radius:4px; background:#346dd0;}

.swiper-container-horizontal > .swiper-scrollbar {height:2px; background:rgba(0,0,0,0.7); border-radius:0;}
.swiper-scrollbar-drag {background:#fff; border-radius:0;}

.main .slide-type-arrow .slide-arrow-prev,
.main .slide-type-arrow .slide-arrow-next {top:156px;}
.main .bulk-purchase-slide .slide-arrow-prev,
.main .bulk-purchase-slide .slide-arrow-next {top:55px;}

.slide-type-arrow .swiper-pagination.swiper-pagination-bullets {display:none;}
/* ==========================================================================
    공통 요소
========================================================================== */
/* 블릿style */
.bul-bar + .bul-bar {margin-left:12px; padding-left:12px; position:relative;}
.bul-bar + .bul-bar::before {content:""; width:1px; height:10px; display:inline-block; background:#666; position:absolute; top:5px; left:0;}

/* 버튼 */
.btn-search {width:36px; height:36px; display:inline-block; font-size:0; background:url(../images/common/btn_search.svg) 50% 50% no-repeat;}
.icon-btn + .icon-btn {margin-left:30px;}
.icon-btn.cart {position:relative; background:url(../images/common/icon_cart.svg) 50% 50% no-repeat;}
.icon-btn.cart .cart-num {min-width:24px; height:24px; padding:2px; display:inline-block; font-size:13px; font-weight:500; color:#fff; background:#346dd0; line-height:22px; text-align:center; border-radius:22px; overflow:hidden; position:absolute; top:0; right:-8px}
.icon-btn.member {background:url(../images/common/icon_member.svg) 50% 50% no-repeat;}
.btn-more-white {width:auto; height:28px; line-height:26px; padding:0 35px 0 15px; border:1px solid #fff; font-weight:500; font-size:14px; color:#fff; background:url(../images/common/icon_plus_white.svg) right 16px center no-repeat; display:inline-block;}
.btn-star {font-size:0; width:24px; height:24px; background:url(../images/common/icon_star_s.svg) 0 0 no-repeat; display:inline-block;}
.btn-star.on {background:url(../images/common/icon_star_s_on.svg) 0 0 no-repeat;}
.btn-more {width: 57px; height: 18px; line-height: 18px; font-size: 14px; text-align: left; color: #000; background: url(../images/common/btn_more.svg) right center no-repeat;}
.btn-more-black {width: auto; height: 28px; line-height: 26px; padding: 0 35px 0 15px; border: 1px solid #000; font-weight: 500; font-size: 14px; color: #000; background: url(../images/common/icon_plus_black.svg) right 16px center no-repeat;}

/* 플래그 */
.flag-txt {display: inline-block; width: auto; height: 20px; line-height: 18px; font-size: 12px; text-align: center; border-radius: 10px; padding: 0 10px;}
.flag-txt ~ .flag-txt {margin-left: 6px;}
.flag-txt.blue {color: #fff; background: #346dd0;}
.flag-txt.purple {color: #a340bf; border: 1px solid #a340bf;}
.flag-txt.brown {color: #c67043; border: 1px solid #c67043;}
.flag-txt.green {color: #239587; border: 1px solid #239587;}
.flag-txt.black {color: #000; border: 1px solid #bbb;}

/* 공통 아이콘 */
.icon-new {position: relative; display: inline-block; font-style: normal; margin-top: -4px; width: 15px; height: 15px; font-weight: 500; font-size: 10px; line-height: 15px; text-align: center; color: #fff; border-radius: 100%; background: #346DD0; text-decoration: none;}


/* 인풋 */
input::placeholder {color:#999; opacity:1;}
input::-webkit-input-placeholder {color:#999; opacity:1;}
input:-ms-input-placeholder {color:#999; opacity:1;}
input:-mos-input-placeholder {color:#999; opacity:1;}

textarea::placeholder {color:#999; opacity:1;}
textarea::-webkit-input-placeholder {color:#999; opacity:1;}
textarea:-ms-input-placeholder {color:#999; opacity:1;}
textarea:-mos-input-placeholder {color:#999; opacity:1;}
/* input.input {width:100%; height:35px; padding:0 10px; border:1px solid #bbb; line-height:35px; font-size:13px;}
input.input:disabled {background:#f8f8f8; color:#999;}
input.input:focus {border-color:#000;}
input.input:read-only:focus {border-color:#bbb;} */

/* 텍스트 관련 style */
.point-color1 {color:#ed1c24;}
/* - 타이틀 */
.tit-center-area {width:100%; padding-right:100px; position:relative;}
.tit-center-area .left-area [class^="tit"] {width:100%; text-align:center;}
.tit-center-area .right-area {position:absolute; top:50%; right:0; transform:translateY(-50.4%); text-align:right;}
.tit-type1 {font-size:34px; color:#000;}
/* .tit-type1 > b {font-weight:700;} */
.tit-area {display: flex; align-items: flex-end; justify-content: space-between; margin-bottom: 40px;}
.tit-area .tit-type1 {margin-bottom: 0;}
.tit-type2 {font-size: 24px; color: #000;}
.tit-type3 {width: 100%; height: 36px; line-height: 36px; font-size: 16px; text-align: center; color: #000;}

.ellipsis {width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.ellipsis-multiple {overflow:hidden; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-wrod;}
.ellipsis-multiple2 {overflow:hidden; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-wrod;}
.ellipsis-multiple3 {overflow:hidden; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; word-wrap:break-wrod;}

/* 탭 */
.tab-area {}
.tabArea .tabCont {display:none;}
.tabArea .tabCont.active {display:block;}
.tabSlide .tabCont {display:none;}
.tabSlide .tabCont.active {display:block;}
/* .tabArea.tabSlide {position:relative; height:526px;}
.tabArea.tabSlide .tabCont {height:100%; display:block; position:absolute; top:0; left:0; z-index:-1; background:#fff;}
.tabArea.tabSlide .tabCont.active {display:block; z-index:1;} */
.tab-area .tab-btn-list {font-size:0;}
.tab-area .tab-btn-list > li {display:inline-block; font-size:16px;}
.tab-area .tab-style1 {width:100%; overflow-y:hidden; overflow-x:auto; white-space:nowrap;}
.tab-area .tab-style1 > li + li {margin-left:24px;}
.tab-area .tab-style1 .tabBtn {padding-bottom:5px; font-size:16px; position:relative; cursor:pointer;}
.tab-area .tab-style1 .tabBtn.on {color:#346dd0; font-weight:500;}
.tab-area .tab-style1 .tabBtn.on::after {content:""; width:100%; height:2px; background:#346dd0; display:inline-block; position:absolute; bottom:0; left:0; z-index:1;}
.tab-area .tab-style2 {width:100%; overflow-y:hidden; overflow-x:auto; white-space:nowrap;}
.tab-area .tab-style2 > li + li {margin-left:36px;}
.tab-area .tab-style2 .tabBtn {padding-bottom:5px; font-size:18px; position:relative;}
.tab-area .tab-style2 .tabBtn.on {color:#346dd0; font-weight:500;}
.tab-area .tab-style2 .tabBtn.on::after {content:""; width:100%; height:2px; background:#346dd0; display:inline-block; position:absolute; bottom:0; left:0; z-index:1;}
.tab-area .tab-style3 {width:100%; overflow-y:hidden; overflow-x:auto; white-space:nowrap; display: flex; justify-content: space-around; border-bottom: 1px solid #d7d7d7;}
.tab-area .tab-style3 > li {width: 100%; text-align: center; cursor: pointer;}
.tab-area .tab-style3 .tabBtn {padding-bottom:4px; font-size:20px; line-height: 51px; position:relative;}
.tab-area .tab-style3 .tabBtn.on {color:#346dd0; font-weight:500;}
.tab-area .tab-style3 .tabBtn.on::after {content:""; width:100%; height:4px; background:#346dd0; display:inline-block; position:absolute; bottom:0px; left:0; z-index:1;}
.tab-area .tab-cont {width:100%;}

/* ==========================================================================
    유닛 관련
========================================================================== */
/* 유닛 */
.unit-type1 {width:100%; height:472px; position:relative;}
.unit-type1 > a {width:100%; height:calc(100% - 42px); display:inline-block; position:absolute; top:0; left:0; z-index:8;}
.unit-type1 .unit-area {width:100%; padding:10px;}
.unit-type1 .unit-area > dt {width:100%; background:#f5f5f5;}
.unit-type1 .unit-area > dt > img {width:100%;}
.unit-type1 .unit-area > dd {width:100%; padding:20px 0 62px;}
.unit-type1 .unit-area .brand {width:100%; margin-bottom:10px; font-size:15px; color:#bbb; display:inline-block;}
.unit-type1 .unit-area .product-name {width:100%; height:38px; font-size:16px;}
.unit-type1 .unit-area .price {width:100%; margin-top:10px; font-size:20px; color:#000; display:inline-block;}
.unit-type1 .unit-area .price > b {vertical-align:text-bottom; font-weight:700; font-size:28px;}

.unit-type1 .unit-layer {width:100%; height:100%; border:1px solid #346dd0; position:absolute; top:0; left:0; z-index:7;}
.unit-type1 .unit-layer .unit-link {width:100%; height:calc(100% - 48px); cursor:pointer; display:inline-block;}
.unit-type1 .unit-layer .unit-under-btn {width:100%; height:42px; line-height:42px; display:-webkit-box; display:-ms-flexbox; display:flex; position:absolute; bottom:0; left:0; z-index:9; background:#346dd0; color:#fff;}
.unit-type1 .unit-layer .unit-under-btn > li {height:100%; flex:1; text-align:center;}
.unit-type1 .unit-layer .unit-under-btn > li > a {width:100%; height:100%; display:inline-block; vertical-align:top;}
.unit-type1 .unit-layer .unit-under-btn > li + li  {border-left:1px solid #7ea1dc;}
.unit-type1 .unit-layer .unit-under-btn .btn-buynow {font-size:18px;}
.unit-type1 .unit-layer .unit-under-btn .btn-cart {width:36px; height:100%; font-size:0; background:url(../images/common/icon_cart_w.svg) 50% 50% no-repeat;}
.unit-type1 .unit-layer .unit-under-btn .btn-like {width:36px; height:100%; font-size:0; margin-left:20px; background:url(../images/common/icon_like_w.svg) 50% 50% no-repeat;}
.unit-type1 .unit-layer {display:none;}
.unit-type1:hover .unit-layer {display:block;}


/* 상품리스트 */
.product-list-wrap {width:100%; max-width:1200px;}
.product-list-wrap .product-list {width:calc(100% + 10px); margin:0 -5px; font-size:0;}
.product-list-wrap .product-list > li {width:25%; padding:0 5px; display:inline-block;}
.product-list-wrap .best-list {overflow:hidden;}
.product-list-wrap .best-list > li {float:left; position:relative;}
.product-list-wrap .best-list > li::after {content:""; width:32px; height:32px; line-height:32px; font-size:20px; color:#fff; background:#000; position:absolute; top:10px; left:15px; z-index:1; text-align:center;}
.product-list-wrap .best-list > li:nth-child(2)::after {content:"2";}
.product-list-wrap .best-list > li:nth-child(3)::after {content:"3";}
.product-list-wrap .best-list > li:nth-child(4)::after {content:"4";}
.product-list-wrap .best-list > li:nth-child(5)::after {content:"5";}
.product-list-wrap .best-list > li.product-1st {width:590px;}
.product-list-wrap .best-list > li.product-1st::after {content:"1"; width:50px; height:50px; font-size:32px; line-height:50px; background:#346dd0;}
.product-list .product-1st .unit-type1 {height:860px;}


.sub-content {width:1200px; margin:0 auto;}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1024px){ /* ipad pro*/

}

/* 모바일 시작 */
@media only screen and (max-width:800px){
    /* layout */
    .wrap {min-width:auto; overflow:hidden;}
    .header-top {display:none;}
    .header {}
    .header .header-cont {width:100%; margin:0; padding:66px 20px 26px;}
    .header-cont .search-area {width:100%; height:36px;}
    .header-cont .logo {width:153px; top:36px; left:20px;}
    .header-cont .right-area {top:30px; right:20px;}
    .header-cont .right-area .icon-btn {width:24px; height:24px;}
    .icon-btn + .icon-btn {margin-left:20px;}
    .header-cont .search-area .inp-area {}
    .inp-area .inp {font-size:15px;}
    .gnb-wrap .gnb-area {width:100%; height:48px; padding:0 0 0 66px;}
    .gnb-wrap .gnb-area .gnb {width:100%; margin-left:0; white-space:nowrap; overflow-y:hidden; overflow-x:auto;}
    .gnb-area .gnb ul > li {font-size:15px;}
    .gnb-area .gnb ul > li:first-child > a {padding-left:0;}
    .gnb-area .gnb ul > li > a {padding:0 18px; display:inline-block;}
    .gnb-wrap .gnb-area .gnb-right-area {display:none;}
    .gnb-wrap .cate-area {width:auto; position:absolute; top:12px; left:20px; float:inherit;}
    .gnb-wrap .cate-area .cate-layer-wrap {display:none;}
    .gnb-wrap .btn-cate {display:none;}
    .gnb-wrap .btn-cate.moBtnCate {display:block; width:24px; height:24px; font-size:0; background:none; padding:0;}
    .gnb-wrap .btn-cate.moBtnCate::before {width:100%; height:100%; margin-right:0; background:url(../images/layout/mo_btn_cate.svg) 50% 50% no-repeat;}
    .mo-cate-layer-wrap {display:block; width:100%; height:100vh; position:fixed; top:0; left:100%; z-index:100;}
    .mo-cate-layer-wrap.open {left:0; transition-duration:0.5s; -moz-transition-duration:0.5s;}
    .mo-cate-layer-wrap .cate-layer-cont {width:100%; height:100%; padding-top:84px; margin:0; position:relative; background:#fff;}
    .mo-cate-layer-wrap .btn-layer-close {width:24px; height:24px; position:absolute; top:24px; right:20px; z-index:15; font-size:0; background:url(../images/common/mo_btn_cate_ly_close.svg) 0 0 no-repeat;}
    .mo-cate-layer-wrap .cate-layer {width:100%; height:100%; overflow-x:hidden; overflow-y:auto; background:#fff;}
    .mo-cate-layer-wrap .cate-layer > ul {margin-bottom:20px;}
    .mo-cate-layer-wrap .cate-layer .d1-btn {padding:10px 42px 10px 24px; font-weight:500; font-size:16px; line-height:20px; text-align:left; color:#666;}
    .mo-cate-layer-wrap .cate-layer .d1-btn::after {display:inline-block; background:url(../images/common/mo_arrow_gnb_d1.svg) 0 0 no-repeat;}
    .mo-cate-layer-wrap .cate-layer .d1-btn.on {background:none; color:#346dd0;}
    .mo-cate-layer-wrap .cate-layer .d1-btn.on::after {background:url(../images/common/mo_arrow_gnb_d1_on.svg) 0 0 no-repeat;}
    .mo-cate-layer-wrap .cate-layer .d2-layer-box {display:block; width:100%; height:100%; border:0; position:fixed; left:100%; z-index:-1;}
    .mo-cate-layer-wrap .cate-layer .d2-layer-box.active {left:0; transition-duration:0.5s; -moz-transition-duration:0.5s; z-index:10;}
    .mo-cate-layer-wrap .cate-layer .d2-layer-box .tit {display:none;}
    .mo-cate-layer-wrap .cate-layer .ly-go-back {display:block;}
    .mo-cate-layer-wrap .cate-layer .d2-list > li > .depthBtn {width:100%; padding:10px 42px 10px 24px; font-weight:500; font-size:16px; line-height:20px; text-align:left; position:relative;}
    .mo-cate-layer-wrap .cate-layer .d2-list > li > .depthBtn::after {content:""; width:18px; height:18px; background:url(../images/common/mo_arrow_gnb_d1.svg) 0 0 no-repeat; position:absolute; top:8px; right:16px;}
    .mo-cate-layer-wrap .cate-layer .partition-wrap .partition-area {width:100%; height:auto; padding-top:84px; margin:0; float:inherit; display:block; position:relative; background:#fff;}
    .mo-cate-layer-wrap .cate-layer .depthCont {width:100%; height:auto;}
    .mo-cate-layer-wrap .cate-layer .depthCont::before {display:none;}
    .mo-cate-layer-wrap .cate-layer .depth3-layer {display:block; width:100%; height:100%; padding-top:68px; position:fixed; top:0; left:100%; z-index:-1;}
    .mo-cate-layer-wrap .cate-layer .depth3-layer.active {left:0; transition-duration:0.5s; -moz-transition-duration:0.5s; z-index:10;}
    .mo-cate-layer-wrap .cate-layer .d3-list > li > a {width:100%; padding:16px 42px 16px 24px; font-weight:500; font-size:16px; line-height:20px; text-align:left; color:#666; position:relative;}
    .mo-cate-layer-wrap .cate-layer .d3-list > li > a::after {content:""; width:18px; height:18px; background:url(../images/common/mo_icon_cate_minus.svg) 0 0 no-repeat; position:absolute; top:17px; right:24px;}
    .mo-cate-layer-wrap .cate-layer .d3-list > li > a.on {color:#346dd0;}
    .mo-cate-layer-wrap .cate-layer .d3-list > li > a.on::after {content:""; background:url(../images/common/mo_icon_cate_plus.svg) 0 0 no-repeat;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer {position:relative; top:inherit; left:inherit; z-index:inherit;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer::before {content:""; width:calc(100% - 48px); height:1px; background:#e5e5e5; position:absolute; top:0; left:24px; display:inline-block;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer::after {content:""; width:calc(100% - 48px); height:1px; background:#e5e5e5; position:absolute; bottom:0; left:24px; display:inline-block;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer .d4-list {width:100%; height:auto; display:block;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer .d4-list::before {display:none;}
    .mo-cate-layer-wrap .cate-layer .partition-area .depth-list > li > a {width:100%;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer .d4-list {padding-top:16px;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer .d4-list a {padding-bottom:16px;}
    .mo-cate-layer-wrap .cate-layer .depth4-layer .d4-list > li {width:100%;}
    .mo-cate-layer-wrap .cate-layer .banner-area {width:100%; height:auto; padding:24px; float:inherit; }
    .mo-cate-layer-wrap .ly-go-back {width:24px; height:24px; display:inline-block; background:url(../images/common/mo_arrow_cate_goback.svg) 0 0 no-repeat; position:absolute; top:24px; left:24px; z-index:11; font-size:0;}
    .mo-cate-layer-wrap .depth-scroll-area {height:100%; overflow-x:hidden; overflow-y:auto;}
    .mo-cate-layer-wrap .cate-layer .banner-area .banner-img-area {width:100%; height:100%;}
    .container {margin-top:176px;}
    .main .main-visual-cate {display:none !important;}
    .sub-content {min-height:auto;}

    .footer-wrap .footer {width:100%; padding:84px 20px 0; text-align:center;}
    .footer .footer-cont {padding:20px 0 60px; position:inherit;}
    .footer .footer-cont .footet-logo {width:147px; height:24px; left:50%; margin-left:-73.5px;}
    .footer .footer-top {padding:0 0 20px;}
    .footer .footer-top ul {font-size:0;}
    .footer .footer-top ul > li {font-size:14px; line-height:20px;}
    .footer .footer-top ul > li + li {padding-left:10px; margin-left:10px;}
    .footer .footer-top ul + ul {display:block; padding:0; margin:0;}
    .footer .footer-top ul + ul::before {display:none;}
    .footer .footer-top ul.question {}
    .footer .footer-top ul.question > li {margin-top:5px; display:block; font-size:13px;}
    .footer .footer-top ul.question > li::before {display:none;}
    .footer .footer-cont .footer-info {line-height:20px;}
    .footer .footer-cont .footer-info > span {width:100%;}
    .footer .footer-cont .footer-info > span + span {padding-left:0; margin-left:0;}
    .footer .footer-cont .footer-info > span + span::before {display:none;}
    .footer .footer-cont .copyright {font-size:13px;}

    /* 퀵메뉴 */
    .quick-menu {top: auto; right: 20px; bottom: 20px;}
    .quick-menu span {display: none;}
    .quick-menu a {width: 40px; height: 40px;}
    .quick-menu u {width: 24px; height: 24px;}
    .quick-menu .qk-notify u {background: url(../images/common/mo_icon_st_notify.svg) 0 0 no-repeat;}
    .quick-menu .qk-lookmark u {background: url(../images/common/mo_icon_st_lookmark.svg) 0 0 no-repeat;}
    .quick-menu .qk-history u {background: url(../images/common/mo_icon_st_history.svg) 0 0 no-repeat;}
    .quick-menu .qk-favorite u {background: url(../images/common/mo_icon_st_favorite.svg) 0 0 no-repeat;}
    .quick-menu .qk-speech u {background: url(../images/common/mo_icon_st_speech.svg) 0 0 no-repeat;}
    .quick-menu .qk-quick u {background: url(../images/common/mo_icon_st_quick.svg) 0 0 no-repeat;}
    .quick-menu .qk-request u {background: url(../images/common/mo_icon_st_request.svg) 0 0 no-repeat;}
    .quick-menu .qk-quicktop u {background: url(../images/common/mo_icon_st_quicktop.svg) 0 0 no-repeat;}
    .quick-menu .qk-group {display: none;}
    .quick-menu .qk-group-show {display: flex;}
    .quick-menu .qk-group-show u {background: url(../images/common/mo_icon_plus_big_w.svg) 0 0 no-repeat;  transition: all 0.3s ease;}
    .quick-menu .qk-group-show.on u {transform: rotate(45deg);}
    .quick-menu .noti-txt {top: -5px; right: -5px; width: 22px; height: 22px; line-height: 22px; font-size: 12px; padding: 0; text-align: center;}
    .quick-menu .noti-txt:after {display: none;}

    /* 공통 */
    /* 버튼 */
    .header-cont .search-area .btn-search {width:24px; height:24px; background:url(../images/common/mo_btn_search.svg) 50% 50% no-repeat; top:5px;}
    .icon-btn.cart {background:url(../images/common/mo_icon_cart.svg) 50% 50% no-repeat;}
    .icon-btn.cart .cart-num {min-width:22px; height:22px; font-size:12px; line-height:18px; top:0; right:-12px;}
    .icon-btn.member {background:url(../images/common/mo_icon_member.svg) 50% 50% no-repeat;}
    .btn-more-white {width:24px; height:24px; padding:0; font-size:0; border-color:#d7d7d7; background-position:center center; display:inline-block;}
    
    .btn-more-black {width: 24px; height: 24px; padding: 0; font-size: 0; border-color: #d7d7d7; background-position: center center;}

    /* 모바일 padding */    
    .mo-pd {padding: 0 20px;}
    
    /* 탭 */
    .tab-area .tab-btn-list > li {display:inline-block; font-size:16px;}
    .tab-area .tab-style1 > li:first-child {margin-left:20px;}
    .tab-area .tab-style1 > li:last-child {margin-right:20px;}
    .tab-area .tab-style1 > li + li {margin-left:18px;}
    .tab-area .tab-style1 .tabBtn {padding-bottom:5px; margin-bottom:10px; font-size:14px; position:relative;}
    .tab-area .tab-style2 > li:first-child {margin-left:20px;}
    .tab-area .tab-style2 > li:last-child {margin-right:20px;}
    .tab-area .tab-style2 > li + li {margin-left:24px;}
    .tab-area .tab-style2 .tabBtn {padding-bottom:5px; font-size:16px;}
    .tab-area .tab-style3 .tabBtn {font-size: 16px; line-height: 47px; padding-bottom: 3px;}
    .tab-area .tab-style3 .tabBtn.on::after {height: 3px;}
    .tabArea.tabSlide {}

    /* 텍스트 관련 */
    .tit-area {padding: 0 20px;}
    .tit-type1 {font-size:22px;}
    .tit-type2 {font-size: 18px;}
    .tit-type3 {font-size: 16px;}

    /* 공통 아이콘 */
    .icon-new {width: 14px; height: 14px; line-height: 14px;}

    /* 플래그 */
    .flag-txt {height: 18px; padding: 0 8px; font-size: 10px; line-height: 16px;}

    /* 유닛 */
    .unit-type1 {width:100% !important; height:auto; overflow:hidden;}
    .unit-type1 > a {height:calc(100% - 42px); display:inline-block; position:absolute; top:0; left:0; z-index:8;}
    .unit-type1 .unit-area {padding:5px;}
    .unit-type1 .unit-area > dt {width:100%; height:100%;}
    .unit-type1 .unit-area > dd {padding:10px 0 0;}
    .unit-type1 .unit-area .brand {margin-bottom:5px; font-size:14px;}
    .unit-type1 .unit-area .product-name {height:36px; font-size:15px;}
    .unit-type1 .unit-area .price {margin-top:8px; font-size:15px;}
    .unit-type1 .unit-area .price > b {vertical-align:text-bottom; font-weight:700; font-size:22px;}

    .unit-type1 .unit-layer {width:100%; height:30px; margin-top:11px; border:0; position:inherit; top:inherit; left:inherit; z-index:inherit; display:block;}
    .unit-type1 .unit-layer .unit-link {width:100%; height:80vw; position:absolute; bottom:30px; left:0; z-index:5;}
    .unit-type1 .unit-layer .unit-under-btn {height:30px; padding:0 5px; margin-top:11px; line-height:30px;background:none;}
    .unit-type1 .unit-layer .unit-under-btn > li > a {display:inline-block; color:#000; line-height:28px;}
    .unit-type1 .unit-layer .unit-under-btn > li {text-align:left;}
    .unit-type1 .unit-layer .unit-under-btn > li + li  {border-left:0; text-align:right;}
    .unit-type1 .unit-layer .unit-under-btn .btn-buynow {width:90px; font-size:15px; border:1px solid #bbb; border-radius:15px; text-align:center;}
    .unit-type1 .unit-layer .unit-under-btn .btn-cart {width:24px; height:100%; font-size:0; background:url(../images/common/mo_icon_cart_g.svg) 50% 50% no-repeat;}
    .unit-type1 .unit-layer .unit-under-btn .btn-like {width:24px; height:100%; font-size:0; margin-left:10px; background:url(../images/common/mo_icon_like_g.svg) 50% 50% no-repeat;}
    .unit-type1 .unit-layer {display:block;}
    .product-list-wrap .best-list > li.product-1st {width:100%;}
    
    .product-list-wrap .best-list > li::after {width:24px; height:24px; line-height:24px; left:10px; font-size:16px;}
    .product-list-wrap .best-list > li.product-1st::after {width:40px; height:40px; line-height:40px; font-size:24px;}
    .product-list .product-1st .unit-type1 {height:auto;}

    /* swiper 관련 */
    .swiper-pagination.swiper-pagination-bullets,
    .slide-type-arrow .swiper-pagination.swiper-pagination-bullets {display:block; position:relative;}
    .slide-arrow-prev, .slide-arrow-next {display:none;}
    /* 상품리스트 */
    .product-list-wrap {max-width:100%;}
    .product-list-wrap .product-list {width:100%; margin:0; padding:0 10px 10px; font-size:0;}
    .product-list-wrap .product-list > li {width:50%; padding:5px; display:inline-block;}

    /* main */
    .main .container .main-visual {min-width:auto;}
    .main .main-slide-area .swiper-slide {height:auto;}
    .main .main-slide-area .swiper-slide .slide-img-area {display:none;}
    .main .main-slide-area .swiper-slide .mo-slide-img-area {display:block;}
    .main .main-slide-area .swiper-scrollbar {width:calc(100% - 70px); margin-left:0; left:35px; bottom:40px;}
    .main .bulk-purchase-slide .swiper-container {height:157px;}
    .main .bulk-purchase-wrap .cont-bulk-purchase {width:100%; padding:60px 0;}
    .main .bulk-purchase-slide {padding:0;}
    .main .bulk-purchase-slide .swiper-slide {width:116px !important;}
    .main .bulk-purchase-slide .swiper-slide > a:hover::after {display:none;}
    .main .bulk-purchase-slide .swiper-slide:first-child {margin-left:20px;}
    .main .bulk-purchase-slide .slide-arrow-prev,
    .main .bulk-purchase-slide .slide-arrow-next {display:none;}
    .main .bulk-purchase-slide .bulk-img-area {width:116px;}
    .main .bulk-purchase-slide .swiper-scrollbar {width:calc(100% - 76px); height:2px; display:block; background:#fff; left:38px;}
    .main .bulk-purchase-slide .swiper-scrollbar-drag {background:#346dd0;}
    .main .bulk-purchase-slide .bulk-img-area > dt {width:116px; height:82px; border-radius:10px; overflow:hidden;}
    .main .bulk-purchase-slide .bulk-img-area > dd {margin-top:10px; font-size:16px;}
    .main .cont-main-wrap {max-width:100%;}    
    .main .cont-main-wrap .tab-cont {margin-top:0;}
    .main .cont-main {margin-top:60px;}
    .main .cont-main-wrap .cont-mdpick {width:100%; overflow:hidden;}
    .main .slide-type-arrow {padding:0 15px; margin-top:14px;}
    .main .cont-main-wrap .cont-newproduct {width:100%;}
    
    .main .cont-banner {width:100%; padding:0 20px; overflow:hidden; font-size:0;}
    .main .cont-banner .banner-image-area {display:block;}
    .main .cont-banner .banner-image-area + .banner-image-area {margin-top:16px;}
    .main .cont-banner .banner-image-area .banner-image {display:none;}
    .main .cont-banner .banner-image-area .mo-banner-image {display:block; width:100%; height:auto;}
    .main .mid-banner-wrap .cont-mid-banner {width:100%; margin-top:70px;}
    .main .mid-banner-wrap .slide-mid-banner .banner-image {display:none;}
    .main .mid-banner-wrap .slide-mid-banner .mo-banner-image {display:block;}
    .main .cont-bidding-info-wrap {margin-top:60px; padding:0 20px 20px; background:#1f2d62;}
    .main .cont-bidding-info-wrap .tit-type1 {margin:40px 0 15px; text-align:left;}
    .main .cont-bidding-info {width:100%;}
    .main .cont-bidding-info-wrap::before {display:none;}
    .main .bidding-info-slide,
    .main .bidding-info-slide .swiper-container {height:auto;}
    .main .cont-bidding-info .bidding-info-slide {margin-top:0;}
    .main .cont-bidding-info .bidding-info-box {width:100%; height:176px; margin:0;}
    .main .cont-bidding-info .bidding-info-box > a {height:100%; margin:0; padding:24px 12px;}
    .main .cont-bidding-info .bidding-info-box > a:hover {padding:24px 12px; background:#fff; box-shadow:none;}
    .main .cont-bidding-info .bidding-info-box > a:hover::after {display:none;}
    .main .bidding-info-box .tit {height:32px; margin-top:5px; font-size:13px; line-height:16px;}
    .main .bidding-info-box .txt {height:27px; margin-top:26px; font-size:11px; line-height:14px;}
    .main .bidding-info-box .date {margin-top:12px; font-size:11px; line-height:11px; color:#666;}


    /* sub */
    .sub-content {width:100%; margin:0;}

}
@media only screen and  (min-height:812px){ /* iphoneX */

}
@media only screen and (max-width:768px){ /* ipad */

}
@media only screen and (max-width:760px){
}

@media only screen and (max-width:480px){

}
@media only screen and (max-width:414px){ /* iphone plus */

}
@media only screen and  (max-width:375px){ /* iphone6 */

}
@media only screen and  (max-width:360px){ /* galaxy */

}
@media only screen and  (max-width:320px){ /* iphoneSE */
    .product-list-wrap .product-list {padding:0 10px;}
    .product-list-wrap .product-list > li {padding:0;}
    /* .unit-type1 .unit-layer .unit-under-btn .btn-buynow {width:80px;} */
    .unit-type1 .unit-layer .unit-under-btn .btn-like {margin-left:3px;}
}
@media only screen and  (max-height:568px){ /* 아이폰SE */

}