/* ==========================================================================
    고객센터 layout
========================================================================== */
.cs-cont {position: relative; min-height: 593px;}
.cs-cont .cs-menu {position: absolute; top: 0; left: 0; width: 164px;}
.cs-cont .cs-menu .cs-logo {display: flex; justify-content: center; margin-bottom: 60px; align-items: center; width: 164px; height: 160px; border-radius: 80px 80px 0px 80px; background: #2d3a52;}
.cs-cont .cs-menu .cs-logo p {font-weight: bold; font-size: 32px; line-height: 35px; text-align: center; color: #fff;}
.cs-cont .cs-menu .cs-menu-list ul:after {content: ""; display: block; clear: both;}
.cs-cont .cs-menu .cs-menu-list a {display: block;}
.cs-cont .cs-menu .cs-menu-list > ul {padding-left: 20px;}
.cs-cont .cs-menu .cs-menu-list > ul > li {padding-bottom: 24px;}
.cs-cont .cs-menu .cs-menu-list > ul > li > a {font-weight: 500; font-size: 16px; color: #666; font-weight: 400;}
.cs-cont .cs-menu .cs-menu-list > ul > li.on > a {color:#346dd0; font-weight: 500;}
.cs-cont .cs-menu .cs-info {padding:24px 0; margin-top:36px; margin-left: 20px; border-top:1px solid #000; }
.cs-cont .cs-menu .cs-kakao {padding: 24px 0; margin-left: 20px; border-top: 1px solid #000; border-bottom: 1px solid #000;}
.cs-cont .cs-menu .cs-kakao .link-kakao {display: block; height: 26px; line-height: 26px; font-size: 14px; color: #666; font-weight: 500; padding-left: 37px; text-align: right; background: url(../images/common/img_kakao.png) 0 0 no-repeat; background-size: 28px;}
.cs-cont .cs-content {margin-left: 214px;}
.cs-info dl {}
.cs-info dl > dt {font-size: 14px; color: #666; font-weight: 500;}
.cs-info dl > dd {font-size: 26px; color: #000;}
.cs-info dl > dd > p {font-size: 14px; color: #666; font-weight: 400;}
.cs-info dl > dd .cs-tel {padding:6px 0; font-size: 26px; color: #000; font-weight: 700;}

.cs-content .list-con + .list-con {margin-top:20px;}

/* ==========================================================================
    공지사항
========================================================================== */
/* 목록 */
.notice-list .new,
.notice-detail .new {width:15px; height:15px; line-height: 13px; text-align: center; display:inline-block; background:url(../images/common/icon_list_new.svg) 50% 50% no-repeat; font-size:0;}
.notice-detail .new {margin-left:5px;}
.list-top-search {padding-top:20px; display:flex; justify-content: flex-end;}
.list-top-search .form-search {width:320px; flex:320px 1 1;}
.notice-list-area {width:100%; margin-top:20px;}
.notice-list {width:100%; border-top:1px solid #bbb; border-bottom:1px solid #d7d7d7;}
.notice-list > li {width:100%; padding:18px 114px 18px 76px; position: relative;}
.notice-list > li .ellipsis {width:auto; max-width:100%;}
.notice-list > li + li {border-top: 1px solid #e5e5e5;}
.notice-list > li .list-flag {position: absolute; top:18px; left:20px; z-index:1;}
.notice-list .txt-area {width:100%;}
.notice-list .txt-area {display:inline-block; font-size:0;}
.notice-list .txt-area .txt {padding-right:25px; font-size: 16px; position: relative; display:inline-block;}
.notice-list .txt-area .txt > a {line-height: 24px;}
.notice-list .txt-area .txt .new {position: absolute; top:5px; right:0; font-size:0;}
.notice-list .txt-area .date {width:80px; font-size:14px; color:#666; text-align: right; position: absolute; top:20px; right:20px; z-index:1;}
/* 상세 */
.notice-detail-area {overflow: hidden;}
.notice-detail {width:100%;}
.notice-detail > dt {width:100%; padding:18px 114px 18px 76px; position: relative; border-bottom:1px solid #d7d7d7;}
.notice-detail > dt .new {margin:-3px 0 0 10px;}
.notice-detail .list-flag {position: absolute; top:18px; left:20px; z-index:1;}
.notice-detail .date  {width:80px; font-size:14px; color:#666; text-align: right; position: absolute; top:20px; right:20px; z-index:1;}
.notice-detail > dd {width:100%;}
.notice-detail .notice-file-upload {width: 100%; margin-bottom: 30px; display:flex; align-items: center;}
.notice-detail .notice-file-upload > dt {display: none;width:99px; padding-left:20px; font-size:16px; font-weight: 400;}
.notice-detail .notice-file-upload > dd {flex:1; }
.notice-detail .html-area {width:100%; padding:30px 20px; word-break: keep-all; font-size:16px; color:#666; line-height:19px;}
.notice-detail .notice-bt-list {border-top: 1px solid #bbb; border-bottom: 1px solid #bbb;}
.notice-detail .notice-bt-list > li {padding:18px 20px 18px 76px; position: relative;}
.notice-detail .notice-bt-list > li + li {border-top: 1px solid #e5e5e5;}
.notice-detail .notice-bt-list .tit {width:76px; font-size: 14px; color: #666; position: absolute; top:50%; left:20px; z-index:1; transform: translateY(-50.4%);}
.notice-detail .notice-bt-list .txt-area {font-size: 16px; color: #000;}
.notice-detail .notice-bt-list .txt-area > span {display: inline-block;}
.notice-detail .notice-bt-list .txt {width:100%; font-size: 16px; color:#000;  vertical-align: top;}

/* ==========================================================================
    다운로드센터
========================================================================== */
/* 목록 */
.cs-cont .list-top-search2 .list-con {padding-top: 20px;}
.list-top-search2 .list-con .list-in {display: flex; border: 0; padding-top: 0; margin-top: 0;}
.list-top-search2 .list-con .list-in > li  {padding-bottom: 0; flex:1;}
.list-top-search2 .list-con .list-in > li > label {width: 64px;}
.list-top-search2 .list-con .list-in > li .select {width: 136px;}
.list-top-search2 .list-con .list-in > li .input {width: 225px;}
.notice-list.download-list > li {padding: 18px 466px 18px 20px;}
.download-list .txt-area p {font-size: 14px; color: #666; text-align: center;}
.download-list .txt-area .cate {position: absolute; top: 20px; right: 320px; width: 82px !Important; text-align: center;}
.download-list .txt-area .made {position: absolute; top: 20px; right: 150px; width: 130px !Important; text-align: center;}
.notice-detail.download-detail > dt {padding: 18px 466px 18px 20px;}
/* 상세 */
.download-detail .txt-area .txt {font-size: 16px; color: #000;}
.download-detail .txt-area .cate {width:82px; font-size:14px; color:#666; text-align: center; position: absolute; top:20px; right:320px; z-index:1;}
.download-detail .txt-area .made {width:130px; font-size:14px; color:#666; text-align: center; position: absolute; top:20px; right:150px; z-index:1;}

/* ==========================================================================
    자주묻는질문
========================================================================== */
.qna-search {margin-top:20px; padding: 20px; background: #f5f5f5;}
.qna-search .info-txt {margin-bottom:10px; font-size: 16px; color: #000;}
.qna-search .form-search {width:460px;}
.qna-list-area {border-top:1px solid #bbb; border-bottom:1px solid #bbb; font-size:16px;}
.qna-list-area dl > dt {padding:18px 48px 18px 60px; position: relative;}
.qna-list-area dl > dt::after {content:""; width:18px; height:18px; margin-top:-9px; display: inline-block; background: url(../images/common/btn_filter_more.svg) 0 0 no-repeat; position: absolute; top:50%; right:20px;}
.qna-list-area dl > dt.on::after {transform: rotate(-180deg);}
.qna-list-area dl > dt .qna-num {line-height: 19px; position: absolute; top:50%; left:20px; font-weight:700; color:#346dd0; transform: translateY(-50.4%);}
.qna-list-area dl > dt b {vertical-align: top;}
.qna-list-area dl > dd {display:none; border-top:1px solid #e5e5e5; padding: 18px 20px 18px 60px; background: #fafafa;}
.qna-list-area dl + dl {border-top:1px solid #e5e5e5;}

.questions-list {margin-top:70px;}
.questions-list .tab-btn-list {margin-bottom:30px;}


/* ==========================================================================
    관심카테고리 (마이페이지)
========================================================================== */
.info-top-area {padding-top:30px;}
.info-top-area .info-txt {font-size: 16px; color:#000;}
.list-top-chk {padding-top:24px; display:flex; justify-content:space-between;}
.list-top-chk .check-style1 {margin-left:20px;}
.interested-list-area {margin-top:12px; border-bottom:1px solid #bbb;}
.interested-list {width:100%; border-top:1px solid #bbb;}
.interested-list > li {width:100%; padding:18px 56px 18px 52px; position: relative;}
.interested-list > li .ellipsis {width:auto; max-width:100%;}
.interested-list > li + li {border-top: 1px solid #e5e5e5;}
.interested-list > li .chk-area {position: absolute; top:50%; left:20px; z-index:1; transform: translateY(-50.4%);}
.interested-list .txt-area {width:100%;}
.interested-list .txt-area {display:inline-block; font-size:0;}
.interested-list .txt-area .txt {font-size: 16px; position: relative; display:inline-block; word-break: keep-all;}
.interested-list .txt-area .txt .new {width:15px; height:15px; line-height: 13px; text-align: center; display:inline-block; background:url(../images/common/icon_list_new.svg) 50% 50% no-repeat; position: absolute; top:5px; right:0; font-size:0;}
.interested-list .txt-area .star-area {width:40px; font-size:0; color:#666; text-align: right; position: absolute; top:50%; right:16px; z-index:1; transform: translateY(-50.4%);}
.mypage-cont .my-main .product-result.wish-list {margin-top:30px;}
.mypage-cont .my-main .product-result .tit-area {padding-bottom:20px; border-bottom:1px solid #d7d7d7;}

/* ==========================================================================
    뉴스 (공지사항 notice-list와 함께 사용)
========================================================================== */
.notice-list.news-list > li {padding:18px 114px 18px 20px;}
.notice-detail.news-detail > dt {padding:18px 114px 18px 20px;}
.notice-detail.news-detail > dt .star-area {width:40px; font-size:0; color:#666; text-align: right; position: absolute; top:50%; right:16px; z-index:1; transform: translateY(-50.4%);}
.news-detail .news-box {padding:20px 0; border:1px solid #d7d7d7; border-top:0;}
.news-box .justify-list {font-size:0;}
.news-box .justify-list > li {width:50%; padding:10px 30px; display:inline-flex;}
.news-box .justify-list > li > p {flex:1; font-size:16px; display: inline-block; color:#666;}
.news-box .justify-list > li .tit {flex:none; width:118px; color:#000; font-weight: 500;}
.arrow-link {padding-right:23px; background: url(../images/common/btn_more.svg) 100% 50% no-repeat;}

/* ==========================================================================
ICTMALL 고객만족도 조사
========================================================================== */
.cs-cont .list-con{padding-top: 0;}
.cs-cont .tab-style1{margin: 20px 0;}
.cs-cont .tab-area .tab-cont{padding-top: 0;}
.cs-cont .survey-box{background:#F5F5F5;padding:30px 20px}
.cs-cont .survey-list {border-top: 1px solid #BBBBBB ;}
.cs-cont .survey-list ul li{display: flex;padding:18px 0;border-bottom: 1px solid #E5E5E5;}
.cs-cont .survey-list ul li > div{position: relative;}
.cs-cont .survey-list ul li > div>div{position:absolute;top:50%;left: 0;margin-top: -12px;}
.cs-cont .survey-list ul li .num{width: 170px;text-align: left;}
.cs-cont .survey-list ul li .text{width: 260px;}
.cs-cont .survey-list ul li .text span{display: block;}
.cs-cont .survey-list ul li .text span:first-child{font-weight: 500;margin-bottom: 6px;}
.cs-cont .survey-list ul li .radio-wrap{flex:1;margin-left: 30px;}
.cs-cont .survey-list ul li .radio-wrap .radio-style1 + .radio-style1{margin-left:30px;}
.cs-cont .survey-list ul li .text.w100{flex:1;}
.cs-cont .survey-list ul li .text.w100 span{display: inline-block;}
.cs-cont .survey-list ul li .text.w100 span:first-child{margin-bottom:0px;}
.cs-cont .survey-list ul li .text.w100 textarea{margin-top: 10px;height: 109px;}

@media only screen and (max-width: 800px){
  /* ==========================================================================
      관심카테고리 (마이페이지)
  ========================================================================== */
  .info-top-area {padding:20px 20px 0;}
  .list-top-chk {padding:20px 20px 0;}
  .list-top-chk .check-style1 > span {font-size:16px;}
  .list-top-chk .check-style1 {margin-left: 10px;}
  .interested-list-area {margin:11px 20px 0;}
  .interested-list > li {padding:12px 54px 12px 50px;}
  .interested-list > li .chk-area {left:10px;}
  .interested-list .txt-area .txt {font-size: 14px;}
  .interested-list .txt-area .txt > a {vertical-align: top;}
  .mypage-cont .my-main .product-result.wish-list .tit-area {border:0; padding-bottom:5px;}
}

@media only screen and (max-width: 800px){
  /* ==========================================================================
    고객센터 layout
  ========================================================================== */
  .cs-cont .cs-menu {position: relative; width: 100%; padding: 50px 0 0;}
  .cs-cont .cs-menu .cs-logo {display: none;}
  .cs-cont .cs-menu .cs-menu-list > ul {padding-left: 0; border-top: 10px solid #f5f5f5; border-bottom: 10px solid #f5f5f5;}
  .cs-cont .cs-menu .cs-menu-list > ul > li {padding-bottom: 0; position: relative;}
  .cs-cont .cs-menu .cs-menu-list > ul > li + li {border-top: 1px solid #e5e5e5;}
  .cs-cont .cs-menu .cs-menu-list > ul > li > a {padding: 16px 48px 16px 20px; font-size: 14px;}
  .cs-cont .cs-menu .cs-menu-list > ul > li.on > a {color:#666; font-weight:400;}
  .cs-cont .cs-menu .cs-menu-list > ul > li::after {content: ''; width:18px; height:18px; background: url(../images/common/mo_arrow_gnb_link.svg) 50% 50% no-repeat; display:inline-block; position: absolute; top:16px; right:20px;}
  .cs-cont .cs-menu .cs-menu-list > ul > li > a.acdBtn {background-position: right 20px center;}
  .cs-cont .cs-menu .cs-menu-list > ul > li > a.acdBtn.on {background-position: right 20px center;}
  .cs-cont .cs-content {margin-left:0;}
  .cs-cont .tit-area2 {display:none;}
  .cs-cont .join-list-con {padding-top:0;}
  .cs-info dl > dd {font-size: 0;}
  .cs-info dl > dd > p {vertical-align: top;}
  .cs-cont .cs-menu .cs-info {margin-top:0; margin-left: 0; padding:20px; border-top:0; border-bottom: 10px solid #f5f5f5; text-align: center;}
  .cs-cont .cs-menu .cs-kakao {padding: 20px 0; margin-left: 0; border-bottom: 10px solid #f5f5f5; border-top: 0; text-align: center;}
  .cs-cont .cs-menu .cs-kakao .link-kakao {display: inline-block;}
  .cs-info .cs-time {display:inline-block;}
  .cs-info .cs-closed {margin-left:10px; padding-left:10px; position:relative; display:inline-block;}
  .cs-info .cs-closed::before {content:''; width:1px; height:8px; display:inline-block; background:#bbb; position: absolute; top:5px; left:0;}

  /* ==========================================================================
    공지사항
  ========================================================================== */
  .notice-list .new,
  .notice-detail .new {width:13px; height:13px; background-size:100% auto;}
  /* 목록 */
  .list-top-search {padding:20px 20px 0;}
  .list-top-search .right-area {width:100%; flex:1;}
  .notice-list-area {padding:0 20px;}
  .notice-list > li {padding-right:0; padding-left:42px;}
  .notice-list > li .list-flag {top:50%; left:0; transform: translateY(-50.4%);}
  .notice-list .txt-area .date {margin-top:5px; font-size:13px; position: relative; top:inherit; right:inherit; z-index: inherit; text-align: left;}
  .notice-list .txt-area .txt {padding-right: 18px; font-size:14px;}
  .notice-list .txt-area .txt .new {top:4px;}
  /* 상세 */
  .notice-detail-area {margin:0 20px;}
  .notice-detail {margin-top:20px; border-top:1px solid #000;}
  .notice-detail > dt {padding:12px 0 12px 42px; font-size: 14px;}
  .notice-detail .list-flag {left:0; top: 12px;}
  .notice-detail .date {margin-top: 6px; font-size:13px; text-align:left; position: static; z-index:inherit;}
  .notice-detail > dt .new {margin:-5px 0 0 5px;}
  .notice-detail .html-area {padding:20px 0; font-size: 14px; line-height:17px;}
  .notice-detail .notice-file-upload > dt {display:none;}
  .notice-detail .notice-bt-list > li {padding:18px 0 18px 42px;}
  .notice-detail .notice-bt-list .tit {left:0; font-size:12px;}
  .notice-detail .notice-bt-list .txt {font-size:14px;}
  /* 뉴스 */
  .news-cont .join-list-con {padding-top:0;}
  .list-top-search .form-search {width:100%; flex: 1;}
  .notice-list.news-list > li {padding:18px 0;}
  .notice-list.news-list .txt-area .date {margin-top:6px;}
  .notice-detail.news-detail > dt {padding:12px 33px 12px 0;}
  .notice-detail.news-detail > dt .star-area {right:0;}
  .news-detail .news-box {padding: 10px 0;}
  .news-box .justify-list > li {width:100%; padding:10px 20px;}
  .news-box .justify-list > li > p {font-size: 14px; text-align: right;}
  .news-box .justify-list > li .tit {text-align: left;}
  .arrow-link {padding-right:18px;}
  /* ==========================================================================
    자주묻는질문
  ========================================================================== */
  .qna-search {background:none; padding:20px 20px 3px;}
  .qna-search .info-txt {font-size:14px;}
  .qna-search .form-search {width:100%;}

  .qna-list-area {margin:0 20px; font-size: 14px;}
  .qna-list-area dl > dt {padding: 18px 38px 18px 38px;}
  .qna-list-area dl > dd {padding: 18px 38px 18px 38px;}
  .qna-list-area dl > dt .qna-num {left:10px;}
  .qna-list-area dl > dt::after {right:10px;}
  .questions-list {margin-top:50px;}
  .questions-list .tab-btn-list {margin-bottom:25px;}

}