/* ==========================================================================
    메인
========================================================================== */
.main .container {width:100%;}
.main .container .main-visual {width:100%; min-width:1200px; z-index:0;}
.main-visual {position:relative;}
.main-visual-cate .cate-area .cate-layer {position:absolute; top:48px; left:0; z-index:99;}
.main-visual-cate {width:1200px; margin-left:-600px; position:absolute; top:0; left:50%; z-index:10;}
.main-visual-cate .cate-area .cate-layer {top:0;}
.main-visual-cate .btn-layer-close {display:none;}

.main .main-slide-area {position:relative;}
.main .main-slide-area .swiper-container {overflow:inherit;}
.main .main-slide-area .swiper-wrapper {}
.main .main-slide-area .swiper-slide {width:100%; height:592px; position:relative;}
.main .main-slide-area .swiper-slide .slide-img-area {width:1200px; height:592px; margin:0 auto; text-align:right;}
.main .main-slide-area .swiper-scrollbar {width:300px; height:2px; margin-left:-350px; position:absolute; bottom:80px; left:50%;}
.main .main-slide-area .swiper-slide .mo-slide-img-area {display:none;}

.main .bulk-purchase-wrap {width:100%; background:#f5f5f5;}
.main .bulk-purchase-wrap .cont-bulk-purchase {width:1200px; margin:0 auto; padding:100px 0;}
.main .tit-type1 {margin-bottom:40px; text-align:center;}
.main .tit-type1 > b {vertical-align:top;}
.main .bulk-purchase-slide {padding:0 22px; position:relative}
.main .bulk-purchase-slide .swiper-container {width:100%; height:212px;}
.main .bulk-purchase-slide .swiper-scrollbar {display:none;}
.main .bulk-purchase-slide .swiper-slide > a:hover {width:100%; height:100%; position:relative; display:inline-block;}
.main .bulk-purchase-slide .swiper-slide > a:hover::after {content:""; width:212px; height:150px; border-radius:10px; overflow:hidden; display:inline-block; position:absolute; top:0; left:0; background:url(../images/common/icon_plus_big_w.svg) 50% 50% no-repeat rgba(52,109,208,0.84);}
.main .bulk-purchase-slide .bulk-img-area {width:212px; display:inline-block;}
.main .bulk-purchase-slide .bulk-img-area .mo {display:none;}
.main .bulk-purchase-slide .bulk-img-area > dt {width:212px; height:150px; border-radius:10px; overflow:hidden;}
.main .bulk-purchase-slide .bulk-img-area > dt > img {width:100%; height:100%;}
.main .bulk-purchase-slide .bulk-img-area > dd {width:100%; margin-top:20px; text-align:center; font-size:18px;}

.main .cont-main-wrap {width:100%; max-width:1200px; margin:0 auto;}
.main .cont-main {margin:100px auto 0;}
.main .cont-main .tab-btn-list {text-align:center;}
.main .cont-main-wrap .tab-cont {}
.main .cont-main-wrap .cont-mdpick {width:1200px;}
.main .slide-type-arrow {width:100%; padding:0 5px; position:relative;}
.main .slide-type-arrow .mdpick-slide .unit-type1 {width:290px;}
.main .cont-main-wrap .cont-newproduct {width:1200px;}

.main .cont-banner {width:100%; margin-top:100px; overflow:hidden; font-size:0;}
.main .cont-banner .banner-image-area {display:inline-block;}
.main .cont-banner .banner-image-area .banner-image {width:588px; height:248px;}
.main .cont-banner .banner-image-area .banner-image > img {width:100%; height:100%;}
.main .cont-banner .banner-image-area .mo-banner-image {display:none;}

.main .mid-banner-wrap {width:100%; background:#dfe3e6;}
.main .mid-banner-wrap .cont-mid-banner {width:1200px; margin:0 auto;}
.main .mid-banner-wrap .slide-mid-banner {width:100%; display:inline-block; position:relative;}
.main .mid-banner-wrap .slide-mid-banner .swiper-scrollbar {width:200px; bottom:30px;}
.main .mid-banner-wrap .slide-mid-banner .mo-banner-image {display:none;}
.main .mid-banner-wrap .slide-mid-banner .banner-image {width:100%; height:100%;}
.main .mid-banner-wrap .slide-mid-banner .banner-image > img,
.main .mid-banner-wrap .slide-mid-banner .mo-banner-image > img {width:100%; height:100%;}

.main .cont-bidding-info-wrap {width:100%; margin-top:60px; position:relative; overflow:hidden;}
.main .cont-bidding-info-wrap::before {content:""; width:100%; height:390px; background:url(../images/common/bg_bidding.png) 50% 0 no-repeat #1f2d62; display:inline-block; position:absolute; top:0; left:0; z-index:-1;}
.main .bidding-info-slide {width:1200px; height:375px; margin:0 auto;}
.main .cont-bidding-info-wrap .tit-type1 {margin-top:40px; color:#fff;}
.main .cont-bidding-info {width:1240px; margin:0 auto; overflow:hidden;}
.main .cont-bidding-info .bidding-info-slide {width:100%; margin-top:-15px;}
.main .bidding-info-slide .swiper-container {height:359px;}
.main .cont-bidding-info .bidding-info-box {width:302px; height:320px; margin:10px 0; text-align:center; display:-webkit-box; display:-ms-flexbox; display:flex; align-items:center;}
.main .cont-bidding-info .bidding-info-box > a {height:300px; margin:0 10px; padding:40px 20px; background:#f5f5f5; display:inline-block; vertical-align:middle; flex:1; text-align:left; position:relative;}
.main .cont-bidding-info .bidding-info-box > a:hover {width:100%; height:100%; margin:0; padding:50px 30px; background:#fff; box-shadow:2px 2px 10px rgba(0,0,0,0.1);}
.main .cont-bidding-info .bidding-info-box > a:hover::after {content:"더보기아이콘"; font-size:0; width:24px; height:24px; background:url(../images/common/icon_plus.svg) 0 0 no-repeat; display:inline-block; position:absolute; bottom:20px; right:20px;}
.main .bidding-info-box > p {font-size:15px;}
.main .bidding-info-box .tit {width:100%; height:79px; margin-top:10px; font-size:22px; line-height:25px; font-weight:500; overflow:hidden;}
.main .bidding-info-box .txt {height:21px; margin-top:21px; color:#999;}
.main .bidding-info-box .date {margin-top:30px; color:#666;}

/* ==========================================================================
    상품상세
========================================================================== */
.pro-detail-top {font-size:0;}
.pro-detail-photo {width:590px; font-size:14px; display:inline-block;}
.pro-detail-slide {width:100%; padding-left:90px; position: relative;}
.pro-detail-slide .swiper-container {width: 100%; margin-left: auto; margin-right: auto;}
.pro-detail-slide .swiper-slide {background-size: cover; background-position: center; overflow: hidden;}    
.pro-detail-slide .swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.pro-detail-slide .swiper-slide .product-img {width:500px; height:500px; overflow: hidden;}
.pro-detail-slide .productDetaileSlide {width:70px; height:390px; position:absolute; top:0; left:0; z-index:1;}
.pro-detail-slide .productDetaileSlide .swiper-slide {width:70px; height:70px !important;}
.pro-detail-slide .swiper-slide-thumb-active {opacity:1; border: 2px solid #346dd0;}
.pro-detail-slide .swiper-button-next,
.pro-detail-slide .swiper-button-prev {display:none;}
.pro-detail-reporting {width:100%; margin-top:20px; padding:16px 22px; border: 1px solid #d7d7d7; overflow: hidden;}
.pro-detail-reporting > p {font-size:16px; float:left;}
.pro-detail-reporting  .btn-style-s1 {float:right; margin-left:22px;}
.pro-detail-info {width:570px; margin-left:40px; font-size:14px; display:inline-block; vertical-align: top;}
.pro-detail-info .flag-area {font-size: 0;}
.pro-detail-info .brand {margin-top:10px; font-size: 16px;}
.pro-detail-info .product-name {margin-top:10px; font-weight: 500; font-size: 24px;}
.pro-detail-info .product-info {margin-top:10px; font-size: 16px; color: #999;}
.pro-detail-info .group-buying {width:100%; margin-top:20px; padding:12px 20px; font-size:16px; color: #fff; border-radius: 21.5px 21.5px 21.5px 0px; background: #12b5cf; overflow: hidden;}
.pro-detail-info .price-area {margin-top:20px;}
.pro-detail-info .price-area .price {display:inline-block; font-size:22px;}
.pro-detail-info .price-area .price > b {font-size:32px; font-weight:700; vertical-align: text-bottom;}
.pro-detail-info .price-area .flag-txt {margin:3px 0 0 2px;}
.pro-detail-info .satis-large {display:inline-block; margin-top:6px;}
.pro-detail-info .satis-large > p {display:inline-block;}
.pro-detail-info .satis-large .tit {margin-left:10px; font-size: 14px; text-align: right; color: #666;}
.pro-detail-info .satis-large .tit > * {vertical-align: top;}
.pro-detail-info .table-area {margin-top:10px;}
.option-area {margin-top:20px;}
.option-result {margin-top:20px;}
.option-box {width:100%; margin-top: 10px; padding:20px; position: relative; background: #f5f5f5;}
.option-box:first-child {margin-top:0;}
.option-box .btn-del {position: absolute; top:20px; right:20px;}
.option-box .option-name {font-size:16px;}
.option-box .option-price {width:100%; margin-top:20px; padding-top:20px; border-top:1px solid #d7d7d7; display:-webkit-box; display:-ms-flexbox; display:flex; align-items: center;}
.option-box .option-price > li {flex:1;}
.option-box .option-price > li:last-child {flex:2; text-align: right;}
.option-box .option-price .price {font-size:20px; display:inline-block}
.option-box .option-price .btn-xs-small {margin-left:10px;}
.option-box .option-price .price > b {font-size:30px; vertical-align:text-bottom; font-weight: 700;}
.option-box .minimum-order {margin-top:3px; font-size: 13px; color: #666;}
.option-box .normal-price {font-size: 16px; color: #999; text-decoration:line-through;}
.product-total {margin-top:20px; padding:20px 0 40px; border-top:1px solid #000; display:-webkit-box; display:-ms-flexbox; display:flex; align-items: center;}
.product-total .tit {flex: 1; font-size: 23px; font-weight: 500; color: #333;}
.product-total .total-price {flex: 2; text-align: right;}
.product-total .total-price .price {font-size: 28px;}
.product-total .total-price .price > b {font-size: 42px; font-weight:700; vertical-align: text-bottom;}
.product-total .price-info {font-size: 14px; color: #999;}

.product-banner-area {width:100%; margin:100px 0; display:-webkit-box; display:-ms-flexbox; display:flex;}
.product-banner-area > li {flex:1;}
.product-banner-area > li img {width:100%;}
.product-banner-area > li + li {margin-left:24px;}

.action-bar {display:none; width:100%; position:fixed; bottom:0; left:0; z-index:102;}
.action-bar .detail-btn {display:flex;}
.action-bar .detail-btn > li {flex:1; height:50px; align-self:center; background:#000; color:#fff;}
.action-bar .detail-btn > li + li {border-left:1px solid #d7d7d7;}
.action-bar .detail-btn > li.share-area {width:125px; padding:0 12px; flex:1; font-size:0;}
.action-bar .detail-btn > li.buy-area {flex:2.317;}
.action-bar .detail-btn .btn {height:100%; display:inline-block; text-align:center; line-height:50px; vertical-align:middle;}

.option-ly-btn {width:48px; height:20px; display:inline-block; margin-left:-24px; font-size:0; position:absolute; top:-19px; left:50%; z-index:1; background: url(../images/common/btn_ly_option_more.svg) 0 0 no-repeat;}
.option-ly-btn-open {width:48px; height:20px; display:inline-block; margin-left:-24px; font-size:0; position:absolute; top:-20px; left:50%; z-index:1; background: url(../images/common/btn_ly_option_more_on.svg) 0 0 no-repeat;}
.ly-detail {width:100%; padding:0 20px 83px; background:#fff; position:fixed; bottom:0; left:0; z-index:100; transition-duration:0.5s; -moz-transition-duration:0.5s; display:none;}
.ly-detail.open {display:block;}
.ly-detail .option-select-area {}
.ly-detail .option-select-area + .option-select-area {margin-top:5px;}
.ly-detail .option-select-area + .option-list {margin-top:10px;}
.ly-detail .option-select-area > li + li {margin-top:5px;}
.ly-detail .btn-full-area {display:none; width:100%; position: fixed; bottom:0; left:0; z-index:100;}
.ly-detail .option-result {height:235px; overflow-x: hidden; overflow-y: auto;}

.ly-detail .option-list {overflow-x:hidden; overflow-y:auto; max-height:174px;}
.ly-detail .option-list > li {padding:15px 0; height:58px; line-height:25px;}
.ly-detail .option-list > li + li {border-top:1px dashed #d7d7d7;}
.ly-detail .option-list li.none-option {height:45px; padding-top:0;}
.ly-detail .option-list li.none-option .right-area {width:100%;}
.ly-detail .option-list li.none-option .spinner {width:100%;}
.ly-detail .option-list .option-name {float:left; font-weight:500; font-size:16px;}
.ly-detail .option-list .right-area {float:right; text-align:right;}
.ly-detail .option-total {width:100%; padding:20px 0 10px; border-top:1px solid #d7d7d7; text-align:right;}
.ly-detail .option-total .price {margin-left:5px; font-size:18px; font-weight:700;}
.ly-detail .option-total .price b {font-size:22px; vertical-align:text-top; font-weight:900;}
.ly-detail .option-total .tit {font-size:14px; color:#666;}
.ly-detail .option-del {width:20px; height:20px; margin-left:7px; background:url(../img/common/btn_option_close.png) 0 0 no-repeat; background-size:20px auto; display:inline-block; font-size:0;}
.ly-detail .btn-area {padding-top:20px;}
.detaileLyDim {width:100%; height:100%; overflow:hidden; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; z-index:99;}

.product-detail .tit-type1-1 {text-align: center;}

.personalization-area {margin:100px 0 120px;}

/* ==========================================================================
    상품목록
========================================================================== */
.pro-list-cont {margin-top:30px;}
.location {width:100%; margin-bottom:50px; display:inline-block;}
.location > .home {width:18px; height:18px; font-size:0; background: url(../images/common/icon_home.svg) 0 0 no-repeat; display:inline-block; float: left;}
.location-list {float: left; display:inline-block;}
.location-list > li {margin-left:12px; padding-left:13px; position: relative; float: left;}
.location-list > li::before {content: ""; width:1px; height:10px; background:#e5e5e5; display:inline-block; position: absolute; top:50%; left:0; transform: translateY(-50%);}
.location-list > li .select-type-s {width:163px; height:18px; padding-right:21px; line-height:18px; font-size:14px; color:#666; background:url(../images/common/arrow_select.svg) 100% 0 no-repeat; vertical-align: top;}
.pro-list-cont .tit-type1-2 {margin-bottom:30px;}
.filter-box {padding:31px 30px; border:1px solid #d7d7d7; border-top:1px solid #333; margin-bottom:10px;}
.filter-box > ul {width:100%; overflow: hidden;}
.filter-box > ul > li {width:16.666%; float:left;}
.filter-box > ul > li > a {width:100%; height:100%; display:inline-block;}
.filter-box > ul > li .num {vertical-align: top;}
.filter-box .filter-rd {position: relative;}
.filter-box .filter-rd input {opacity: 0; position: absolute; top:0; left:0;}
.filter-box .filter-rd > span {height:40px; line-height:40px; font-size:16px; color:#666; vertical-align: middle;}
.filter-box .filter-rd input:checked + span {color:#333; font-weight: 500;}
.filter-price {width:100%; display:flex; padding:20px 30px; border:1px solid #d7d7d7;}
.filter-price > li {display:inline-block;}
.filter-price > li:first-child .cont {width:382px; margin-right:95px;}
.filter-price > li:last-child .cont {width:467px;}
.filter-price .tit {margin-right: 30px; font-weight: 500; font-size: 16px; text-align: left; color: #000; display:inline-block;}
.filter-price .cont {display:inline-block;}

.product-result {margin-top:54px;}
.product-result .tit-area {padding-bottom:20px; border-bottom:1px solid #d7d7d7;}
.product-result .product-list-wrap {margin-top:30px;}
.product-result .paging {margin-top:70px;}
.list-top-area {display:flex; align-items:flex-end; flex-wrap: wrap; justify-content:space-between;}
.list-top-area .tab-rd-area {flex:1;}
.list-top-area .right-area {display:inline-block;}
.btn-list-layout {width: 55px; height: 28px; background: url(../images/common/btn_list_layout.svg) 0 0 no-repeat; display:inline-block; font-size:0;}
.btn-list-layout.on {background: url(../images/common/btn_list_layout.svg) 0 0 no-repeat;}
.rd-tab-area {}
.rd-tab-area > li {display:inline-block;}
.rd-tab-area > li + li {margin-left:24px;}
.rd-tab-area .rd-tab {display:inline-block;}
.rd-tab-area .rd-tab > span {padding-bottom:5px; font-size:16px; position:relative; cursor:pointer; display:inline-block;}
.rd-tab-area .rd-tab > input {width:0; height:0; opacity: 0; overflow: hidden;}
.rd-tab-area .rd-tab input:checked + span {color:#346dd0; font-weight:500;}
.rd-tab-area .rd-tab input:checked + span::after {content:""; width:100%; height:2px; background:#346dd0; display:inline-block; position:absolute; bottom:0; left:0; z-index:1;}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
 @media only screen and (max-width:1200px){
}

@media only screen and (max-width:1024px){ /* ipad pro*/

}
/* 모바일 시작 */
@media only screen and (max-width:800px){
    /* main */
    .main .container .main-visual {min-width:auto;}
    .main .main-slide-area .swiper-slide {height:auto;}
    .main .main-slide-area .swiper-slide .slide-img-area {display:none;}
    .main .main-slide-area .swiper-slide .mo-slide-img-area {display:block;}
    .main .main-slide-area .swiper-scrollbar {width:calc(100% - 70px); margin-left:0; left:35px; bottom:40px;}
    .main .bulk-purchase-slide .swiper-container {height:157px;}
    .main .bulk-purchase-wrap .cont-bulk-purchase {width:100%; padding:60px 0;}
    .main .bulk-purchase-slide {padding:0;}
    .main .bulk-purchase-slide .swiper-slide {width:116px !important;}
    .main .bulk-purchase-slide .swiper-slide > a:hover::after {display:none;}
    .main .bulk-purchase-slide .swiper-slide:first-child {margin-left:20px;}
    .main .bulk-purchase-slide .slide-arrow-prev,
    .main .bulk-purchase-slide .slide-arrow-next {display:none;}
    .main .bulk-purchase-slide .bulk-img-area {width:116px;}
    .main .bulk-purchase-slide .swiper-scrollbar {width:calc(100% - 76px); height:2px; display:block; background:#fff; left:38px;}
    .main .bulk-purchase-slide .swiper-scrollbar-drag {background:#346dd0;}
    .main .bulk-purchase-slide .bulk-img-area > dt {width:116px; height:82px; border-radius:10px; overflow:hidden;}
    .main .bulk-purchase-slide .bulk-img-area > dd {margin-top:10px; font-size:16px;}
    .main .cont-main-wrap {max-width:100%;}    
    .main .cont-main-wrap .tab-cont {margin-top:0;}
    .main .cont-main {margin-top:60px;}
    .main .cont-main-wrap .cont-mdpick {width:100%; overflow:hidden;}
    .main .slide-type-arrow {padding:0 15px; margin-top:14px;}
    .main .cont-main-wrap .cont-newproduct {width:100%;}

    .main .cont-banner {width:100%; padding:0 20px; overflow:hidden; font-size:0;}
    .main .cont-banner .banner-image-area {display:block;}
    .main .cont-banner .banner-image-area + .banner-image-area {margin-top:16px;}
    .main .cont-banner .banner-image-area .banner-image {display:none;}
    .main .cont-banner .banner-image-area .mo-banner-image {display:block; width:100%; height:auto;}
    .main .mid-banner-wrap .cont-mid-banner {width:100%; margin-top:70px;}
    .main .mid-banner-wrap .slide-mid-banner .banner-image {display:none;}
    .main .mid-banner-wrap .slide-mid-banner .mo-banner-image {display:block;}
    .main .cont-bidding-info-wrap {margin-top:60px; padding:0 20px 20px; background:#1f2d62;}
    .main .cont-bidding-info-wrap .tit-type1 {margin:40px 0 15px; text-align:left;}
    .main .cont-bidding-info {width:100%;}
    .main .cont-bidding-info-wrap::before {display:none;}
    .main .bidding-info-slide,
    .main .bidding-info-slide .swiper-container {height:auto;}
    .main .cont-bidding-info .bidding-info-slide {margin-top:0;}
    .main .cont-bidding-info .bidding-info-box {width:100%; height:176px; margin:0;}
    .main .cont-bidding-info .bidding-info-box > a {height:100%; margin:0; padding:24px 12px;}
    .main .cont-bidding-info .bidding-info-box > a:hover {padding:24px 12px; background:#fff; box-shadow:none;}
    .main .cont-bidding-info .bidding-info-box > a:hover::after {display:none;}
    .main .bidding-info-box .tit {height:32px; margin-top:5px; font-size:13px; line-height:16px;}
    .main .bidding-info-box .txt {height:27px; margin-top:26px; font-size:11px; line-height:14px;}
    .main .bidding-info-box .date {margin-top:12px; font-size:11px; line-height:11px; color:#666;}

    /* 상품상세 */
    .pro-detail-photo {width:100%;}
    .pro-detail-slide .swiper-container {height:auto;}
    .pro-detail-slide {padding-left:0;}
    .pro-detail-slide .productDetaileSlide {width:100%; padding:0 20px; margin-top:10px; position: inherit; top:inherit; left:inherit; z-index:inherit;}
    .pro-detail-slide .productDetaileSlide .swiper-wrapper {height:16vw;}
    .pro-detail-slide .productDetaileSlide .swiper-slide {height:auto !important;}
    .pro-detail-slide .productDetaileSlide2 {width:100%;}
    .pro-detail-slide .swiper-slide .product-img {width:100%; height:100vw;}
    .pro-detail-reporting {display:none;}
    .pro-detail-info {width:100%; margin-left:0; padding:20px 20px 0;}
    .pro-detail-info .brand {font-size: 13px;}
    .pro-detail-info .product-name {font-size:20px;}
    .pro-detail-info .product-info {font-size:14px;}
    .pro-detail-info .group-buying {}
    .pro-detail-info .group-buying > .tit {display:block; margin-bottom:8px;}
    .pro-detail-info .group-buying .buying {float: right;}
    .pro-detail-info .satis-large {margin-top:8px;}
    .pro-detail-info .table-area {margin-top:18px;}
    .option-box {padding:16px 20px; margin-top:5px;}
    .option-box .option-name {font-size:13px;}
    .option-box .normal-price {font-size:13px;}
    .option-box .option-price {margin-top:16px; height:79px; padding-top:12px; align-items: flex-end;}
    .option-box .option-price .price {width:100%; font-size: 12px; text-align:right;}
    .option-box .option-price .price > b {font-size: 22px;}
    .option-box .option-price .btn-xs-small {margin:5px 0 0;}
    .option-result {margin-top:16px;}
    .product-total {margin-top:16px; padding:20px 0;}
    .product-banner-area {width:100%; margin:30px 0; padding:0 20px; display:block;}
    .product-banner-area > li {flex:1;}
    .product-banner-area > li + li {margin-left:0; margin-top:10px;}
    .action-bar {display:block;}
    .option-pc-area {display:none;}
    .product-total .total-price .price {font-size: 22px;}
    .product-total .total-price .price > b {font-size: 32px;}
    .product-total .price-info {margin-top:5px; font-size:12px;}
    .product-total .tit {font-size:18px;}
    .option-box .btn-del {top:14px; right:14px;}
    .personalization-area {margin:60px 0 120px; padding:0 15px;}

    .btn-full-area {padding:20px; background:#fff; border-top:1px solid #d7d7d7;}
    .ly-detail .btn-full-area {display:flex;}
}
@media only screen and  (min-height:812px){ /* iphoneX */

}
@media only screen and (max-width:768px){ /* ipad */

}
@media only screen and (max-width:760px){
}

@media only screen and (max-width:480px){

}
@media only screen and (max-width:414px){ /* iphone plus */

}
@media only screen and  (max-width:375px){ /* iphone6 */

}
@media only screen and  (max-width:360px){ /* galaxy */

}
@media only screen and  (max-width:320px){ /* iphoneSE */
    .ly-detail .option-result {height:150px;}
    .product-total .total-price .price > b {font-size: 30px;}
    .product-total .price-info {font-size: 11px;}
    .option-box {padding:14px;}
}
@media only screen and  (max-height:568px){ /* 아이폰SE */

}