/* ==========================================================================
    메인
========================================================================== */
.main .container {width:100%;}
.main .container .main-visual {width:100%; min-width:1200px; z-index:0;}
.main-visual {position:relative;}
.main-visual-cate .cate-area .cate-layer {position:absolute; top:48px; left:0; z-index:99;}
.main-visual-cate {width:1200px; margin-left:-600px; position:absolute; top:0; left:50%; z-index:10;}
.main-visual-cate .cate-area .cate-layer {top:0;}
.main-visual-cate .btn-layer-close {display:none;}

.main .main-slide-area {position:relative;}
.main .main-slide-area .swiper-container {overflow:inherit;}
.main .main-slide-area .swiper-wrapper {}
.main .main-slide-area .swiper-slide {width:100%; height:592px; position:relative;}
.main .main-slide-area .swiper-slide .slide-img-area {width:1200px; height:592px; margin:0 auto; text-align:right;}
/* .main .main-slide-area .swiper-scrollbar {width:300px; height:2px; margin-left:-350px; position:absolute; bottom:80px; left:50%;} */
.main .main-slide-area .swiper-indicator-area {height:50px; line-height:49px; margin-left:-366px; padding:0 30px; color:#fff; border-radius: 25px; background:rgba(0,0,0,0.2); display: inline-block; position: absolute; bottom:30px; left:50%; z-index:1; overflow: hidden;}
.main .main-slide-area .swiper-pagination {width:auto; position:static; top:inherit; left:inherit; right:inherit; bottom:inherit; z-index:0; float:left;}
.main .main-slide-area .swiper-pagination::after {content: ""; width:1px; height:14px; margin:0 25px; background:#d7d7d7; display:inline-block; vertical-align:middle;}
.main .main-slide-area .swiper-pagination {font-size:14px; font-weight:400;}
.main .main-slide-area .swiper-pagination > span {font-size:20px; vertical-align:top;}
.main .main-slide-area .swiper-pagination .swiper-pagination-current {margin-right:7px; font-weight:500;}
.main .main-slide-area .swiper-pagination .swiper-pagination-total {margin-left:7px;}
.main .main-slide-area .swiper-button-prev {width:18px; height:18px; margin:0; display:inline-block; font-size:0; position:static; top:inherit; left:inherit; right:inherit; bottom:inherit; z-index:0; background:url(../images/common/arrow_visual_banner_prev.svg) 0 0 no-repeat;}
.main .main-slide-area .swiper-button-next {width:18px; height:18px; margin:0 0 0 30px; display:inline-block; font-size:0; position:static; top:inherit; left:inherit; right:inherit; bottom:inherit; z-index:0; background:url(../images/common/arrow_visual_banner_next.svg) 0 0 no-repeat;}
.main .main-slide-area .swiper-button-prev::after,
.main .main-slide-area .swiper-button-next::after {display:none;}
.main .main-slide-area .swiper-slide .mo-slide-img-area {display:none;}

.bulk-purchase-wrap {width:100%; background:#f5f5f5;}
.bulk-purchase-wrap .cont-bulk-purchase {width:1200px; margin:0 auto; padding:50px 0;}
.main .tit-type1 {margin-bottom:40px; text-align:center;}
.main .tit-type1 > b {vertical-align:top;}
.bulk-purchase-slide {padding:0 22px; position:relative}
.bulk-purchase-slide .swiper-container {width:100%; height:212px;}
.bulk-purchase-slide .swiper-scrollbar {display:none;}
.bulk-purchase-slide .swiper-slide > a:hover {width:100%; height:100%; position:relative; display:inline-block;}
.bulk-purchase-slide .swiper-slide > a:hover::after {content:""; width:212px; height:150px; border-radius:10px; overflow:hidden; display:inline-block; position:absolute; top:0; left:0; background:url(../images/common/icon_plus_big_w.svg) 50% 50% no-repeat rgba(52,109,208,0.84);}
.bulk-purchase-slide .bulk-img-area {width:212px; display:inline-block;}
.bulk-purchase-slide .bulk-img-area .mo {display:none;}
.bulk-purchase-slide .bulk-img-area > dt {width:212px; height:150px; border-radius:10px; overflow:hidden;}
.bulk-purchase-slide .bulk-img-area > dt > img {width:100%; height:100%;}
.bulk-purchase-slide .bulk-img-area > dd {width:100%; margin-top:20px; text-align:center; font-size:17px;}

.main .cont-main-wrap {width:100%; max-width:1200px; margin:0 auto;}
.main .cont-main {margin:100px auto 0;}
.main .cont-main .tab-btn-list {text-align:center;}
.main .cont-main-wrap .tab-cont {}
.main .cont-main-wrap .cont-mdpick {width:1200px;}
.main .cont-main-wrap .cont-mdpick .tab-area .tab-style1 .tabBtn:hover{color:#346dd0}
.main .slide-type-arrow {width:100%; padding:0 5px; position:relative;}
.main .slide-type-arrow .mdpick-slide .unit-type1 {width:290px;}
.main .cont-main-wrap .cont-newproduct {width:1200px;}

.main .cont-banner {width:100%; margin-top:100px; overflow:hidden; font-size:0;}
.main .cont-banner .banner-image-area {display:inline-block;}
.main .cont-banner .banner-image-area .banner-image {width:588px; height:248px;}
.main .cont-banner .banner-image-area .banner-image > img {width:100%; height:100%;}
.main .cont-banner .banner-image-area .mo-banner-image {display:none;}

.main .mid-banner-wrap {width:100%; background:#dfe3e6;}
.main .mid-banner-wrap .cont-mid-banner {width:1200px; margin:0 auto;}
.main .mid-banner-wrap .slide-mid-banner {width:100%; display:inline-block; position:relative;}
.main .mid-banner-wrap .slide-mid-banner .swiper-scrollbar {width:200px; bottom:30px;}
.main .mid-banner-wrap .slide-mid-banner .mo-banner-image {display:none;}
.main .mid-banner-wrap .slide-mid-banner .banner-image {width:100%; height:100%;}
.main .mid-banner-wrap .slide-mid-banner .banner-image > img,
.main .mid-banner-wrap .slide-mid-banner .mo-banner-image > img {width:100%; height:100%;}

.main .cont-bidding-info-wrap {width:100%; margin-top:60px; position:relative; overflow:hidden;}
.main .cont-bidding-info-wrap::before {content:""; width:100%; height:390px; background:url(../images/common/bg_bidding.png) 50% 0 no-repeat #1f2d62; display:inline-block; position:absolute; top:0; left:0; z-index:-1;}
.main .bidding-info-slide {width:1200px; height:375px; margin:0 auto;}
.main .cont-bidding-info-wrap .tit-type1 {margin-top:40px; color:#fff;}
.main .cont-bidding-info {width:1240px; margin:0 auto; overflow:hidden;}
.main .cont-bidding-info .tit-center-area {max-width:1222px;}
.main .cont-bidding-info .bidding-info-slide {width:100%; margin-top:-15px; padding-left:4px;}
.main .bidding-info-slide .swiper-container {height:359px;}
.main .cont-bidding-info .bidding-info-box {width:302px; height:320px; margin:10px 0; text-align:center; display:-webkit-box; display:-ms-flexbox; display:flex; align-items:center;}
.main .cont-bidding-info .bidding-info-box > a {height:300px; margin:0 9px; padding:40px 20px; background:#f5f5f5; display:inline-block; vertical-align:middle; flex:1; text-align:left; position:relative;}
.main .cont-bidding-info .bidding-info-box > a:hover {width:100%; height:100%; margin:0; padding:50px 30px; background:#fff; box-shadow:2px 2px 10px rgba(0,0,0,0.1);}
.main .cont-bidding-info .bidding-info-box > a:hover::after {content:"더보기아이콘"; font-size:0; width:24px; height:24px; background:url(../images/common/icon_plus.svg) 0 0 no-repeat; display:inline-block; position:absolute; bottom:20px; right:20px;}
.main .bidding-info-box > p {font-size:15px;}
.main .bidding-info-box .tit {width:100%; height:76px; margin-top:10px; font-size:22px; line-height:25px; font-weight:500; overflow:hidden;}
.main .bidding-info-box .txt {height:21px; margin-top:21px; color:#999;}
.main .bidding-info-box .date {margin-top:30px; color:#666;}


/* ==========================================================================
    메인 공지사항
========================================================================== */
.notice-wrap {width: 100%; background: #f5f5f5; margin-bottom: 90px;}
.notice-wrap .cont-notice {position: relative; width: 1200px; padding: 40px 0;}
.notice-wrap .cont-notice .notice-area {width: 740px;}
.notice-wrap .cont-notice .notice-area .tit-area {align-items: flex-start; margin-bottom: 33px;}
.notice-wrap .cont-notice .notice-area .tit-type1 > b {line-height: 100%;}
.notice-wrap .cont-notice .notice-area .tit-area .tit-type1 {margin-bottom: 0;}
.notice-wrap .cont-notice .notice-area ul {display: flex; justify-content: space-between;}
.notice-wrap .cont-notice .notice-area ul li {width: 240px; height: 190px;}
.notice-wrap .cont-notice .notice-area ul li a {display: block; padding: 24px 20px; background: #fff;}
.notice-wrap .cont-notice .notice-area ul li p {padding-top: 10px; font-size: 18px; font-weight: 500; line-height: 26px; text-align: left; color: #000;}
.notice-wrap .cont-notice .notice-area ul li .noti-date {padding-top: 46px; font-size: 15px; line-height: 15px; text-align: left; color: #999;}
.notice-wrap .cont-notice .notice-area ul li .noti-date .icon-new {margin-left: 3px;}
.notice-wrap .cont-notice .service-area {position: absolute; top: -20px; right: 0; width: 436px; height: 384px; padding: 40px 28px; border: 1px solid #d7d7d7; background: #fff url(../images/common/img_cs.svg) right 28px top 28px no-repeat;}
.notice-wrap .cont-notice .service-area .tit-area  .tit-type1 {margin-bottom: 24px;}
.notice-wrap .cont-notice .service-area .tit-type1 {text-align: left; margin-bottom: 24px;}
.notice-wrap .cont-notice .service-area .ser-call .call-txt {font-size: 20px; line-height: 20px; color: #000;}
.notice-wrap .cont-notice .service-area .ser-call a {display: inline-block; font-weight: bold; font-size: 48px; line-height: 48px; text-align: left; color: #346dd0; padding-top: 7px;}
.notice-wrap .cont-notice .service-area .ser-call .call-time {font-size: 15px; line-height: 15px; color: #666; padding-top: 27px; word-break:keep-all;}
.notice-wrap .cont-notice .service-area .ser-call .call-time span {vertical-align: top;}
.notice-wrap .cont-notice .service-area .ser-box ul {display: flex; justify-content: space-between; padding-top: 18px;}
.notice-wrap .cont-notice .service-area .ser-box ul li {width: 120px; height: 110px; background: #f5f5f5; display: flex; align-items: center; justify-content: center; text-align: center;}
.notice-wrap .cont-notice .service-area .ser-box ul li u {display: inline-block; width: 100%; height: 39px;}
.notice-wrap .cont-notice .service-area .ser-box ul .sc-question u {background: url(../images/common/icon_cs_question.svg) center bottom no-repeat;}
.notice-wrap .cont-notice .service-area .ser-box ul .sc-faq u {background: url(../images/common/icon_cs_faq.svg) center bottom no-repeat;}
.notice-wrap .cont-notice .service-area .ser-box ul .sc-delivery u {background: url(../images/common/icon_cs_delivery.svg) center bottom no-repeat;}
.notice-wrap .cont-notice .service-area .ser-box ul .sc-return u {background: url(../images/common/icon_cs_return.svg) center bottom no-repeat;height:46px}
.notice-wrap .cont-notice .service-area .ser-box ul li p {padding-top: 12px; font-size: 15px; line-height: 15px; color: #000;}

/* 하단배너 */
.last-banner-wrap{width:1200px;margin: 0 auto 120px;}
.last-banner-wrap ul{display: flex;}
.last-banner-wrap ul li{position: relative;}
.last-banner-wrap ul li:after{content: "";position: absolute;top:7px;right:0;width: 1px ;height: 16px;background:#D7D7D7;}
.last-banner-wrap ul li:last-child:after{content: "";display: none;}
.last-banner-wrap ul li a {display: block;}
.last-banner-wrap ul li a img{padding: 0 36px}
.last-banner-wrap ul li:first-child a img{padding-left: 0}

/* 알림메시지함 */
.pop-alarm .alarmlist-wrap .list-top-area{padding:30px 0;}
.pop-alarm .alarmlist-wrap .rd-tab-area > li + li{margin-left:36px}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li{padding:20px 0;border-bottom:1px solid #D7D7D7;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li:first-child{border-top:1px solid #D7D7D7;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div{display: flex;justify-content: space-between;margin-bottom: 10px;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div span{position: relative;font-size: 16px;color:#346DD0;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div span::after{content: "";position: absolute;top:2px;right:-10px;width:6px;height:6px;border-radius: 50%;background:#12B5CF;display: inline-block;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div span.read::after{display: none;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div .time{font-size: 14px;color:#999;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li div .time::after{display: none;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li.none{border:none;padding: 200px 0;}
.pop-alarm .alarmlist-wrap .alarmlistCont ul li.none p{padding-top: 80px;font-size: 18px;color:#999999;text-align: center;background:url(../images/common/icon_none2.svg) 50% 0 no-repeat;}
.pop-alarm .alarmlist-wrap .paging{margin: 30px 0 0;}
.lyPopup .popup-cont .lyPopCont .pop-alarm .btn-area{padding: 0;flex:1;text-align: right;border:none}



/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1024px){ /* ipad pro*/
    /* .main.wrap {width:1200px;} */
}
/* 모바일 시작 */
@media only screen and (max-width:800px){
    /* main */
    .main .container .main-visual {min-width:auto;}
    .main .main-slide-area .swiper-slide {height:auto;}
    .main .main-slide-area .swiper-slide .slide-img-area {display:none;}
    .main .main-slide-area .swiper-slide .mo-slide-img-area {display:block;}
    /* .main .main-slide-area .swiper-scrollbar {width:calc(100% - 70px); margin-left:0; left:35px; bottom:40px;} */
    .main .main-slide-area .swiper-indicator-area {height:36px; left:20px; bottom:20px; margin:0; padding:0 26px; font-size:18px; line-height:36px;}
    .main .main-slide-area .swiper-button-prev,
    .main .main-slide-area .swiper-button-next {display:none;}
    .main .main-slide-area .swiper-pagination::after {display:none;}
    .bulk-purchase-slide .swiper-container {height:150px;}
    .bulk-purchase-wrap .cont-bulk-purchase {width:100%; padding:40px 0;}
    .bulk-purchase-slide {padding:0;}
    .bulk-purchase-slide .swiper-slide {width:116px !important;}
    .bulk-purchase-slide .swiper-slide > a:hover::after {display:none;}
    .bulk-purchase-slide .swiper-slide:first-child {margin-left:20px;}
    .bulk-purchase-slide .slide-arrow-prev,
    .bulk-purchase-slide .slide-arrow-next {display:none;}
    .bulk-purchase-slide .bulk-img-area {width:116px;}
    .bulk-purchase-slide .swiper-scrollbar {width:calc(100% - 76px); height:2px; display:block; background:#fff; left:38px;}
    .bulk-purchase-slide .swiper-scrollbar-drag {background:#346dd0;}
    .bulk-purchase-slide .bulk-img-area > dt {width:116px; height:82px; border-radius:10px; overflow:hidden;}
    .bulk-purchase-slide .bulk-img-area > dd {margin-top:10px; font-size:16px;}
    .main .cont-main-wrap {max-width:100%;}    
    .main .cont-main-wrap .tab-cont {margin-top:0;}
    .main .cont-main {margin-top:60px;}
    .main .cont-main-wrap .cont-mdpick {width:100%; overflow:hidden;}
    .main .slide-type-arrow {padding:0 15px; margin-top:14px;}
    .main .cont-main-wrap .cont-newproduct {width:100%;}

    .main .cont-banner {width:100%; padding:0 20px; overflow:hidden; font-size:0;}
    .main .cont-banner .banner-image-area {display:block;}
    .main .cont-banner .banner-image-area + .banner-image-area {margin-top:16px;}
    .main .cont-banner .banner-image-area .banner-image {display:none;}
    .main .cont-banner .banner-image-area .mo-banner-image {display:block; width:100%; height:auto;}
    .main .mid-banner-wrap .cont-mid-banner {width:100%; margin-top:70px;}
    .main .mid-banner-wrap .slide-mid-banner .banner-image {display:none;}
    .main .mid-banner-wrap .slide-mid-banner .mo-banner-image {display:block;}
    .main .cont-bidding-info-wrap {margin-top:60px; padding:0 20px 20px; background:#1f2d62;}
    .main .cont-bidding-info-wrap .tit-type1 {margin:40px 0 15px; text-align:left;}
    .main .cont-bidding-info {width:100%;}
    .main .cont-bidding-info-wrap::before {display:none;}
    .main .bidding-info-slide,
    .main .bidding-info-slide .swiper-container {height:auto;}
    .main .cont-bidding-info .bidding-info-slide {margin-top:0;}
    .main .cont-bidding-info .bidding-info-box {width:100%; height:176px; margin:0;}
    .main .cont-bidding-info .bidding-info-box > a {height:100%; margin:0; padding:24px 12px;}
    .main .cont-bidding-info .bidding-info-box > a:hover {padding:24px 12px; background:#fff; box-shadow:none;}
    .main .cont-bidding-info .bidding-info-box > a:hover::after {display:none;}
    .main .bidding-info-box .tit {height:32px; margin-top:5px; font-size:13px; line-height:16px;}
    .main .bidding-info-box .txt {height:27px; margin-top:26px; font-size:11px; line-height:14px;}
    .main .bidding-info-box .date {margin-top:12px; font-size:11px; line-height:11px; color:#666;}

    .notice-wrap {margin-bottom: 100px;}
    .notice-wrap .cont-notice {width: 100%; height: 796px;  padding: 40px 20px;}
    .notice-wrap .cont-notice .notice-area {width: 100%; height: auto;}
    .notice-wrap .cont-notice .notice-area .tit-area {padding: 0; margin-bottom: 16px;}
    .notice-wrap .cont-notice .notice-area ul {display: block;}
    .notice-wrap .cont-notice .notice-area ul li {width: 100%; height: auto;}
    .notice-wrap .cont-notice .notice-area ul li a {margin-bottom: 10px; padding: 16px;}
    .notice-wrap .cont-notice .notice-area ul li:last-child a {margin-bottom: 0;}
    .notice-wrap .cont-notice .notice-area ul li p {padding-top: 8px; font-size: 16px; letter-spacing: -0.02em; line-height: 20px;}
    .notice-wrap .cont-notice .notice-area ul li .noti-date {padding-top: 12px; font-size: 13px;}
    .notice-wrap .cont-notice .service-area {position: relative; top: 0; width: 100%; height: auto; margin-top: 40px; padding: 40px 16px; background: #fff url(../images/common/mo_img_cs.svg) right 16px top 34px no-repeat;}
    .notice-wrap .cont-notice .service-area .tit-type1 {margin-bottom: 20px;}
    .notice-wrap .cont-notice .service-area .ser-call .call-txt {font-size: 15px;}
    .notice-wrap .cont-notice .service-area .ser-call a {font-size: 40px; line-height: 100%; letter-spacing: -0.02em;}
    .notice-wrap .cont-notice .service-area .ser-call .call-time {font-size: 12px; padding-top: 20px;}
    .notice-wrap .cont-notice .service-area .ser-box ul li {width: calc(33.333% - 5px); height: 98px;}
    .notice-wrap .cont-notice .service-area .ser-box ul li p {font-size: 13px; padding-top: 16px;}
    .notice-wrap .cont-notice .service-area .ser-box ul .sc-question u {background: url(../images/common/mo_icon_cs_question.svg) center bottom no-repeat;}
    .notice-wrap .cont-notice .service-area .ser-box ul .sc-faq u {background: url(../images/common/mo_icon_cs_faq.svg) center bottom no-repeat;}
    .notice-wrap .cont-notice .service-area .ser-box ul .sc-delivery u {background: url(../images/common/mo_icon_cs_delivery.svg) center bottom no-repeat;}
    .notice-wrap .cont-notice .service-area .ser-box ul .sc-return u {background: url(../images/common/mo_icon_cs_return.svg) center bottom no-repeat;height: 39px;}
    
    .main .btn-area-c {padding: 0; display:block;}
    .main .btn-area-c .btn-more-black2 {height:28px; line-height: 26px; font-size: 14px; position: inherit;  top:inherit; left: inherit; z-index: inherit;}

    /* 하단배너 */
    .last-banner-wrap{width:100%;margin: 0 auto 100px;}
    .last-banner-wrap ul {padding: 0 20px;flex-wrap: nowrap;overflow-x: auto; -ms-overflow-style: none; scrollbar-width: none;}
    .last-banner-wrap ul::-webkit-scrollbar {display: none;}
    .last-banner-wrap ul li a img{padding: 0 10px;width: auto;height:30px}

    /* 알림메시지함 */
    .pop-alarm .jusitfy-info-area{flex-direction: column;align-items: flex-start;}
    .lyPopup .popup-cont .pop-alarm .btn-area{margin-top: 10px;}
    .lyPopup .popup-cont .pop-alarm .btn-area button{width: 118px;flex:initial;}
    .pop-alarm .alarmlist-wrap .list-top-area{padding-bottom: 20px;}
    .pop-alarm .alarmlist-wrap .list-top-area .rd-tab-area{padding:0}
    .pop-alarm .alarmlist-wrap .rd-tab-area > li + li{margin-left: 24px;}
    .pop-alarm .alarmlist-wrap .alarmlistCont ul li.none {padding:180px 0 0;}
    .pop-alarm .alarmlist-wrap .alarmlistCont ul li.none p{font-size: 14px;padding-top: 60px;background-size: 50px auto;}
    .pop-alarm .alarmlist-wrap .rd-tab-area .rd-tab input:checked + span{color:#346dd0}
    .pop-alarm .alarmlist-wrap .rd-tab-area .rd-tab > span{font-size: 15px;color:#999;}
    .pop-alarm .alarmlist-wrap .mobile-paging{margin: 30px 0 0;width: 100%;}
    

}

@media only screen and (max-width:768px){ /* ipad */

}
@media only screen and (max-width:760px){
}

@media only screen and (max-width:480px){

}
@media only screen and (max-width:414px){ /* iphone plus */

}
@media only screen and  (max-width:375px){ /* iphone6 */

}
@media only screen and  (max-width:360px){ /* galaxy */

}
@media only screen and  (max-width:320px){ /* iphoneSE */
    

}
@media only screen and  (max-height:568px){ /* 아이폰SE */

}