/* ==========================================================================
    자재일괄구매
========================================================================== */
.materiel-banner {position: relative; text-align: center; margin-bottom: 50px;}
.materiel-banner img {max-width: 100%;}
.materiel-banner .ban-text-area {position: absolute; top: 50%; left: 100px; transform: translateY(-50%); text-align: left;}
.materiel-banner .ban-text-area p {font-size: 34px; color: #fff; line-height: 41px; display: inline-block; font-weight: normal;}
.materiel-banner .ban-text-area p b {display: block; font-weight: bold;}

.materiel-cont .bulk-purchase-wrap {background: none;}
.materiel-cont .tit-area {margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #d7d7d7;}
.materiel-cont .tit-area .tit-type2 + div {font-size: 0;}
.materiel-cont .tit-area .tit-type2 + div button {margin-left: 5px;}
.materiel-cont .tab-area .tab-cont {padding: 30px 0 40px;}
.materiel-cont .materiel-list {padding: 70px 0 0 0;}
.materiel-cont .tab-btn-list.fixed {position: fixed; max-width: 1200px; background: #fff; z-index: 10; padding: 30px 0;}
.materiel-cont .tab-btn-list.fixed + .tab-cont {margin-top: 43px;}

.materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dt {border: 4px solid #346dd0;}
.materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dd {color: #346dd0; font-weight: 500;}


/* 에러페이지 */
.error-content {width: 606px;margin: 120px auto 0;text-align: center;}
.error-content .error-tit{padding-top: 90px;font-size: 28px;background:url(../images/common/icon_none2.svg) 50% 0 no-repeat;}
.error-content span{color: #999;padding: 30px 0;display: inline-block;}
.error-content .box{width: 500px;margin: 0 auto;background:#FAFAFA;line-height: 56px;}
.error-content .box i{font-style:normal;color:#346DD0;vertical-align: top;}

@media only screen and (max-width: 800px){
  /* ==========================================================================
    자재일괄구매
  ========================================================================== */
  .materiel-banner {margin-bottom: 30px;}
  .materiel-banner .ban-text-area {left: 28px;}
  .materiel-banner .ban-text-area p {font-size: 18px; line-height: 1.2;}
  .materiel-cont {margin-top: 0;}
  .materiel-cont .materiel-list {margin-top: 20px; padding: 30px 0 0;}
  .materiel-cont .tit-area {margin: 0 20px 5px; padding: 0 0 10px 0; align-items: center;}
  .materiel-cont .tit-area .tit-type2 + div button {margin-left: 5px;}
  .materiel-cont .tab-area .tab-cont {padding: 20px 0 10px;}
  .materiel-cont .tab-btn-list.fixed {padding: 20px 0 10px;}
  .materiel-cont.tab-btn-list.fixed + .tab-cont {margin-top: 55px;}
  .materiel-cont .tab-btn-list.tab-style4 .tabBtn {padding:0;}
  .materiel-cont .tab-btn-list.tab-style4 .tabBtn > a {padding: 10px 20px;}
  .materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dt {border: 2px solid #346dd0;}
  .materiel-cont .swiper-scrollbar {background:#d7d7d7;}

  /* 에러페이지 */
  .error-content {width: 100%;margin: 60px 0px;padding:0 20px}
  .error-content .box{width: 280px;line-height: 36px;font-size: 14px;}
  .error-content .error-tit{font-size: 18px;padding-top:70px;background-size: 50px auto;}
  .error-content span{font-size: 14px;line-height: 18px;padding-top: 10px;width: 267px;}
  .error-content .box i{font-style:normal;color:#346DD0;vertical-align: top;}
  .error-content.sub-content .btn-area-c{margin: 0;}
}
