/* ==========================================================================
    자재일괄구매
========================================================================== */
.materiel-banner {position: relative; text-align: center; margin-bottom: 50px;}
.materiel-banner img {max-width: 100%;}
.materiel-banner .ban-text-area {position: absolute; top: 50%; left: 100px; transform: translateY(-50%); text-align: left;}
.materiel-banner .ban-text-area p {font-size: 34px; color: #fff; line-height: 41px; display: inline-block; font-weight: normal;}
.materiel-banner .ban-text-area p b {display: block; font-weight: bold;}

.materiel-cont .bulk-purchase-wrap {background: none;}
.materiel-cont .materiel-list {padding: 70px 0 0 0;}
.materiel-cont .tit-area {margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #d7d7d7;}
.materiel-cont .tit-area .tit-type2 + div {font-size: 0;}
.materiel-cont .tit-area .tit-type2 + div button {margin-left: 5px;}
.materiel-cont .tab-area .tab-cont {padding: 30px 0 40px;}

.materiel-cont .tab-btn-list.fixed {position: fixed; max-width: 1200px; background: #fff; z-index: 10; padding: 30px 0;}
.materiel-cont .tab-btn-list.fixed + .tab-cont {margin-top: 43px;}


.materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dt {border: 4px solid #346dd0;}
.materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dd {color: #346dd0; font-weight: 500;}


@media only screen and (max-width: 800px){
  /* ==========================================================================
    자재일괄구매
  ========================================================================== */
  .materiel-banner {margin-bottom: 30px;}
  .materiel-banner .ban-text-area {left: 28px;}
  .materiel-banner .ban-text-area p {font-size: 18px; line-height: 1.2;}
  .materiel-cont {margin-top: 0;}
  .materiel-cont .materiel-list {padding: 50px 0 0;}
  .materiel-cont .tit-area {margin: 0 20px 5px; padding: 0 0 10px 0; align-items: center;}
  .materiel-cont .tit-area .tit-type2 + div button {margin-left: 5px;}
  .materiel-cont .tab-area .tab-cont {padding: 30px 0 40px;}
  .materiel-cont .tab-btn-list.fixed {padding: 20px 0 10px;}
  .materiel-cont .tab-btn-list.fixed + .tab-cont {margin-top: 55px;}
  .materiel-cont .tab-btn-list.tab-style4 .tabBtn {padding:0;}
  .materiel-cont .tab-btn-list.tab-style4 .tabBtn > a {padding: 10px 20px;}
  .materiel-cont .bulk-purchase-slide .swiper-slide.on .bulk-img-area > dt {border: 2px solid #346dd0;}
  .materiel-cont .swiper-scrollbar {background:#d7d7d7;}
}


/* ==========================================================================
    신규상품요청
========================================================================== */
.request-info {width:100%; margin-top: 10px; padding:20px 0; border-top:1px solid #bbb; display:flex; justify-content: space-between;}
.request-info .ea {font-size: 16px; line-height:26px;}
.request-info .ea .tit {font-weight: 500; vertical-align: top;}
.request-info .ea > b {color: #346dd0; font-weight: normal; vertical-align: top;}
.total-price {}
.total-price .tit {font-size:16px; font-weight:500;}
.total-price .info-txt {font-size:14px;}
.total-price .price {color: #346dd0; font-size: 14px;}
.total-price .price b {font-size: 22px; vertical-align: text-bottom; font-weight: 700;}
.chk-list {position: relative;}
.chk-list .check-style2 {margin-top:-15px; position: absolute; top:50%; left:20px; z-index:1;}
.chk-list .list-in {margin-top:0; padding-left:40px; border-top:1px solid #d7d7d7; border-bottom:0; position: relative;}
.chk-list .req {padding:0;}
.list-con .chk-list .list-in > li > label {width:141px;}
.list-con .radio-style1 > span {margin-left:10px; color:#000; font-size:16px;}
.list-con .radio-style1 + .radio-style1 {margin-left:50px;}
.list-con .btn-detail {margin-top:13px;}
.mypage-cont .list-file-con {padding-top:20px;}

.chk-list.chk-list-detail {background:#fafafa;}
.chk-list .form-phone .select {padding:0 20px 0 12px;}
.request-number {font-size:16px; font-weight: 500; color:#666; display:inline-block;}
.request-number .num {margin-left:8px; color:#000; vertical-align: top;}


@media only screen and (max-width: 800px){
  /* ==========================================================================
    신규상품요청
  ========================================================================== */
  .list-con .tit-area3 {margin:0 20px;}
  .list-con .tit-area3 .tit-type2-1 {padding-left:0;}
  .request-info {width:auto; margin:10px 20px 0;}
  .request-info .ea {font-size:14px;}
  .total-price .tit {font-size:14px;}
  .total-price .info-txt {font-size:12px;}
  .total-price .price b {font-size:20px;}
  .chk-list .list-in {margin:0; padding:56px 20px 0; border-bottom:0;}
  .chk-list .check-style2 {margin-top:0; top:20px;}
  .list-con .btn-r-area .btn {width:50%; flex:1; min-width:auto;}
  .list-con .btn-detail {display:none;}
  .chk-list.chk-list-detail {display:none; height:0; overflow: hidden;}
  .request-number {font-size:14px;}
  .request-number .num {margin-left:5px;}
}

/* ==========================================================================
    주문현황
========================================================================== */
.btn-open {width:auto; height:38px; line-height:35px; text-align:center; font-size:14px; display:inline-block; padding: 0 12px; color:#000; background:#fff; border:1px solid #000;}
.btn-open::before {content:""; width:18px; height:35px; line-height:35px; background: url(../images/common/icon_plus_black.svg) 50% 50% no-repeat; display:inline-block; line-height:1.1; vertical-align: top;}
.btn-open.on {font-size: 0;}
.btn-open.on::before {background: url(../images/common/icon_minus_black.svg) 50% 50% no-repeat;}
.btn-open.on::after {content:"닫기"; font-size:14px; vertical-align: top;}
.w127 {width:127px;}
.orderFormeTgView .list-in {height:295px; overflow:hidden;}
.orderFormeTgView.open .list-in {height:auto;}
.lybox-area {position: relative;}
.lybox-wrap {display:none; width:800px; padding:30px; position: absolute; top:168px; left:150px; background:#fff; border: 1px solid #bbb;  z-index:10;}
.lybox-wrap .tit {font-weight:500; font-size:16px;}
.lybox-wrap .chk-area {width:calc(100% + 20px); font-size:0; margin-left:-20px;}
.lybox-wrap .chk-area > li {width:132px; margin:20px 0 0 19px; display:inline-block; font-size:14px;}
.lybox-wrap .chk-area .check-style1 > span {font-size:14px; color:#666;}
.lyboxClose {width:24px; height:24px; font-size:0; background: url(../images/common/btn_cate_ly_close.svg) 50% 50% no-repeat; display:inline-block; position: absolute; top:9px; right:9px;}

@media only screen and (max-width: 800px){
  /* ==========================================================================
    주문현황
  ========================================================================== */
  .btn-open {height:36px; padding:0 21px; line-height:35px;}
  .orderFormeTgView .list-in {height:578px;}
  .lybox-wrap {width:calc(100% - 40px); margin:10px 20px 0; padding:20px; top:245px; left:0;}
  .lybox-wrap .chk-area {margin-left:0;}
  .lybox-wrap .chk-area > li {width:50%; margin-left:0;}
}