/* 공통 */
.tit-area2 {display: flex; align-items: flex-end;}
.tit-type1-2 {font-size: 28px; color: #000; font-weight: bold;}
.tit-type2-1 {font-size: 20px; color: #000;}

.form-layout .bar {font-size: 16px; color: #666;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

.btn-area-c {font-size: 0;}
.btn-area-c .btn + .btn {margin-left: 10px;}
.btn-slide-open {width: 18px; height: 18px; background: url(../images/common/arrow_select.svg) center center no-repeat #fff; font-size: 0;}
.btn-slide-open.on { transform: rotate(180deg);}
.btn-style-ml1 {min-width:198px; height:48px; line-height:46px; text-align:center; font-size:16px; display:inline-block; color:#000; background:#fff; border:1px solid #000;}
.btn-style-ml2 {min-width:198px; height:48px; line-height:46px; text-align:center; font-size:16px; display:inline-block; color:#fff; background:#346dd0;}

.check-style2 > span {font-size: 16px; color: #000; line-height: 22px; margin-left: 10px;}


.form-phone .select {width: 86px; flex: inherit;}
.form-phone .input {flex:1;}










/* ==========================================================================
    회원가입
========================================================================== */
.join-content .tit-type1-2 {margin-bottom: 50px;}
.join-list-con .req {font-size: 16px; color: #346dd0; font-style: normal; vertical-align: top; padding: 0 3px;}
.join-list-con .form-layout {flex: 1;}
.join-list-con .tit-type3 {text-align: left; height: 24px; line-height: 24px;}
.join-list-con .join-txt {font-size: 16px; color: #000; word-break: keep-all;}
.join-list-con .join-txt ~ .join-txt {padding-top: 6px;}
.join-list-con .join-txt:before {content: '※'; display: inline-block; margin-right: 3px;}
.join-list-con .join-txt2 {text-align: right; font-size: 16px; color: #000; word-break: keep-all;}
.join-list-con .join-txt2:before {content: '*'; display: inline-block; margin-right: 3px;}
.join-list-con .join-txt2 span {color: #346DD0; vertical-align: top;}
.join-list-con .tit-area {margin-bottom: 0; border-bottom: 2px solid #000; padding-bottom: 10px;}
.join-list-con .tit-area2 {border-bottom: 2px solid #000; padding-bottom: 10px;}
.join-list-con .tit-area2 .join-txt {padding-left: 20px;}
.join-list-con .tit-area2 .join-txt:before {display: none;}
.join-list-con .tit-area2 .tit-type2 {font-weight: 500;}
.join-list-con .list-con {padding-top: 30px;}
.join-list-con ~ .join-list-con {padding-top: 50px;}
.join-list-con .list-con .list-in {margin-top: 10px; padding-top: 20px; border-top: 1px solid #bbb; border-bottom: 1px solid #d7d7d7;}
.join-list-con .list-con .list-in > li {padding: 0 20px 20px 20px; display: flex; align-items: center;}
.join-list-con .list-con .list-in > li > label {width: 180px; font-size: 16px; display: block;}
.join-list-con .list-con .list-in > li button {margin-left: 5px;} 
.join-list-con .list-con .list-half-style {display: flex; flex-wrap: wrap;}
.join-list-con .list-con .list-half-style li {width: 50%;}
.join-list-con .list-con .list-in + .tit-type2-1 {padding-top: 30px;}
.join-list-con .list-con .mem-info-list li {display: flex;}
.join-list-con .list-con .mem-info-list li .form-layout {flex: inherit; width: 503px;}
.join-list-con .list-con .mem-info-list li .form-phone.form-layout .input {flex: 1;}
.join-list-con .list-con .mem-info-list .ip-only .form-layout {width: 380px;}
.join-list-con .list-con .mem-info-list li .form-layout .input {flex: inherit;}
.join-list-con .list-con .mem-info-list li .form-email input.input {flex: inherit; width: 100%;}
.join-list-con .list-con .mem-info-list li .form-email .select {width: 118px;}
.join-list-con .list-con .form-list-checkradio {display: flex; flex-wrap: wrap; margin-bottom: -22px; width: 100%;}
.join-list-con .list-con .form-list-checkradio li {width: 25%; margin-bottom: 22px;}
.join-list-con .list-con .agree-allcheck {padding-bottom: 20px;}
.join-list-con .list-con .join-agree ul li {padding-bottom: 10px;}
.join-list-con .list-con .join-agree ul li:last-child {padding-bottom: 0;}
.join-list-con .list-con .join-agree .agree-area .agree-tit {position: relative; padding: 20px; border: 1px solid #d7d7d7;}
.join-list-con .list-con .join-agree .agree-area .agree-tit .btn-slide-open {position: absolute; top: 18px; right: 12px; width: 30px; height: 30px;}
.join-list-con .list-con .join-agree .agree-area .agree-cont {padding: 20px; border: 1px solid #d7d7d7; border-top: 0; font-size: 14px; line-height: 22px; text-align: left; color: #666; height: 125px; overflow-y: auto;}
.join-content .btn-area-c {padding: 70px 0 120px;}

.join-list-con .con-normal-info {padding-top: 0;}
.join-list-con .con-normal-info .list-in {margin-top: 0; border-top: 0; display: flex; flex-wrap: wrap;}
.join-list-con .con-normal-info .list-in .list-w100 {flex: inherit; width: 100%; border-bottom: 1px solid #d7d7d7; margin-bottom: 20px;}
.join-list-con .con-normal-info .list-in .list-w60 {width: 66.666%; font-size: 0;}
.join-list-con .con-normal-info .list-in .list-w60 input {width: 100%;}
.join-list-con .con-normal-info .list-in .list-w60 .select {margin-left: 5px; width: 118px;}
.join-list-con .con-normal-info .list-in .list-w60 .w60-flexbox {display: flex; width: 245px;}
.join-list-con .con-normal-info .list-in > li {width: 33.333%;}
.join-list-con .con-normal-info .list-in > li > label {width: 120px;}

.join-list-con .list-file-con .file-con {margin: 10px 0; border: 1px solid #d7d7d7; display: flex;}
.join-list-con .list-file-con .file-con .in-grid-size {background: #f5f5f5; height: 280px;}
.join-list-con .list-file-con .file-con .in-grid-size.w-460 {width: 460px; margin-right: 10px;}
.join-list-con .list-file-con .file-con .in-grid-size.w-all {flex:1;}












/* 모바일 시작 */
@media only screen and (max-width:800px){
    .tit-type1-2 {font-size: 16px; font-weight: normal; text-align: center; margin-bottom: 0; padding: 8px 0; border-bottom: 1px solid #d7d7d7;}
    .tit-type2-1 {font-size: 16px;}
    .form-layout .bar {font-size: 14px;}
    .check-style1 > span {font-size: 14px;}
    .check-style2 > span {font-size: 14px;}

    .btn-style-ml1 {font-size: 16px;}

    



    .join-content .btn-area-c {display: flex; margin: 0 20px;}
    .join-content .btn-area-c .btn {flex: 1;}
    .join-content .tit-type1-2 {margin-bottom: 0;}
    .join-list-con {padding-top: 16px;}
    .join-list-con ~ .join-list-con {padding-top: 16px;}
    .join-list-con .tit-area {padding-bottom: 16px;}
    .join-list-con .tit-area2 {padding: 0 20px 15px; border-bottom: 1px solid #000;}
    .join-list-con .tit-area2 .join-txt {padding-left: 10px; line-height: 100%;}
    .join-list-con .join-txt {font-size: 14px; padding-left: 15px; text-indent: -8px; margin: 0 20px;}
    .join-list-con .join-txt2 {font-size: 14px; margin: 0 20px; text-align: left; padding-left: 8px; text-indent: -4px;}
    .join-list-con .list-con {padding-top: 20px; border-bottom: 10px solid #f5f5f5;}
    .join-list-con .list-con .tit-type2-1 {padding: 0 20px;}
    .join-list-con .list-con .list-in {margin-left: 20px; margin-right: 20px; border-bottom: 0;}
    .join-list-con .list-con .list-in > li {display: block; padding: 0 0 20px 0;}
    .join-list-con .list-con .list-in > li > label {width: auto; font-size: 14px; padding-bottom: 5px;}
    .join-list-con .list-con .list-in + .tit-type2-1 {padding-top: 20px; border-top: 1px solid #d7d7d7;}
    .join-list-con .list-con .list-in > li .btn-style-m1 {font-size: 14px; min-width: 68px; height: 36px;}
    .join-list-con .list-con .list-half-style {flex-direction: column; align-items: flex-start; margin: 10px 20px 0;}
    .join-list-con .list-con .list-half-style li {width: 100%;}
    .join-list-con .list-con .mem-info-list li .form-layout {width: 100%;}
    .join-list-con .list-con .mem-info-list li .form-checkradio {padding-top: 8px;}
    .join-list-con .list-con .mem-info-list .ip-only .form-layout {width: 100%;}
    .join-list-con .list-con .mem-info-list li .form-layout .input {flex:1;}
    .join-list-con .list-con .form-address .btn-style-m1 {width: 112px;}
    .join-list-con .list-con .form-list-checkradio {flex-direction: column;}
    .join-list-con .list-con .form-list-checkradio li {width: 100%;}
    .join-list-con .list-con .join-agree .agree-area .agree-cont {height: 112px;}
    .join-list-con .list-con .join-agree .agree-area .agree-tit {padding: 18px 20px;}
    .join-list-con .list-con .join-agree .agree-area .agree-cont {font-size: 12px; line-height: 1.4;}
    .join-agree-con .list-con {padding: 20px 20px 0 20px; border-bottom: 0;}
    .join-content .btn-area-c {padding: 50px 0 100px;}

    .join-list-con .con-normal-info .list-in {padding-top: 0; flex-direction: column;}
    .join-list-con .con-normal-info .list-in > li {width: 100%;}
    .join-list-con .con-normal-info .list-in .list-w60 {width: 100%;}
    .join-list-con .con-normal-info .list-in .list-w60 .w60-flexbox {width: 196px;}
    .join-list-con .con-normal-info .list-in .form-layout {flex: inherit; }
    .join-list-con .list-con .mem-info-list li .form-address .btn-style-m1 {width: 112px;}
    .join-list-con .list-file-con {padding-bottom: 20px;}
    .join-list-con .list-file-con .file-con {margin: 10px 20px; display: block; }
    .join-list-con .list-file-con .file-con .in-grid-size {height: auto; min-height: 150px;}
    .join-list-con .list-file-con .file-con .in-grid-size.w-460 {width: 100%; margin: 0 0 10px 0;}

    
    
}