/* ==========================================================================
    회원가입
========================================================================== */
.join-content .tit-type1-2 {margin-bottom: 50px;}
.join-list-con .req {font-size: 16px; color: #346dd0; font-style: normal; vertical-align: top; padding: 0 3px;}
.join-list-con .form-layout {flex: 1;}
.join-list-con .tit-type3 {text-align: left; height: 24px; line-height: 24px;}
.join-txt {font-size: 16px; color: #000; word-break: keep-all;}
.join-txt ~ .join-txt {padding-top: 6px;}
.join-txt:before {content: '※'; display: inline-block; margin-right: 3px;}
.join-txt2 {text-align: right; font-size: 16px; color: #000; word-break: keep-all;}
.join-txt2:before {content: '*'; display: inline-block; margin-right: 3px;}
.join-txt2 span {color: #346DD0; vertical-align: top;}
.join-list-con .tit-area {margin-bottom: 0; border-bottom: 2px solid #000; padding-bottom: 10px;}
.join-list-con .tit-area2 {border-bottom: 2px solid #000; padding-bottom: 10px;}
.join-list-con .tit-area2 .join-txt {padding-left: 20px;}
.join-list-con .tit-area2 .join-txt:before {display: none;}
.join-list-con .tit-area2 .tit-type2 {font-weight: 500;}
.list-con {padding-top: 30px;}
.join-list-con ~ .join-list-con {padding-top: 50px;}
.list-con .list-in {margin-top: 10px; padding-top: 20px; border-top: 1px solid #bbb; border-bottom: 1px solid #d7d7d7;}
.join-content .list-con .list-btn-area .form-list-checkradio li {width: 25%;}
.list-con .list-in > li {padding: 0 20px 20px 20px; display: flex; align-items: center;}
.list-con .list-in > li > label {width: 180px; font-size: 16px; display: block;}
.list-con .list-in > li input + button {margin-left: 5px;} 
.list-con .list-half-style {display: flex; flex-wrap: wrap;}
.list-con .list-half-style li {width: 50%;}
.list-con .list-in + .tit-type2-1 {padding-top: 30px;}
.list-con .mem-info-list li {display: flex;}
.list-con .mem-info-list li .form-layout {flex: inherit; width: 503px;}
.list-con .mem-info-list li .form-phone.form-layout .input {flex: 1;}
.list-con .mem-info-list .ip-only .form-layout {width: 380px;}
.list-con .mem-info-list li .form-layout .input {flex: inherit;}
.list-con .mem-info-list li .form-email input.input {flex: inherit; width: 100%;}
.list-con .mem-info-list li .form-email .select {width: 118px;}
.list-con .form-list-checkradio {display: flex; flex-wrap: wrap; margin-bottom: -22px; width: 100%;}
.list-con .form-list-checkradio li {width: 25%; margin-bottom: 22px;}
.list-con .agree-allcheck {padding-bottom: 20px;}
.list-con .join-agree ul li {padding-bottom: 10px;}
.list-con .join-agree ul li:last-child {padding-bottom: 0;}
.list-con .join-agree .agree-area .agree-tit {position: relative; padding: 20px; border: 1px solid #d7d7d7;}
.list-con .join-agree .agree-area .agree-tit .btn-slide-open {position: absolute; top: 18px; right: 12px; width: 30px; height: 30px;}
.list-con .join-agree .agree-area .agree-cont {padding: 20px; border: 1px solid #d7d7d7; border-top: 0; font-size: 14px; line-height: 22px; text-align: left; color: #666; height: 125px; overflow-y: auto;}

.con-normal-info {padding-top: 0;}
.con-normal-info .list-in {margin-top: 0; border-top: 0; display: flex; flex-wrap: wrap;}
.con-normal-info .list-in .list-w100 {flex: inherit; width: 100%; border-bottom: 1px solid #d7d7d7; margin-bottom: 20px;}
.con-normal-info .list-in .list-w60 {width: 66.666%; font-size: 0;}
.con-normal-info .list-in .list-w60 input {width: 100%;}
.con-normal-info .list-in .list-w60 .select {margin-left: 5px; width: 118px;}
.con-normal-info .list-in .list-w60 .w60-flexbox {display: flex; width: 240px; margin-left: 5px;}
.con-normal-info .list-in > li {width: 33.333%;}
.con-normal-info .list-in > li > label {width: 120px;}

.list-file-con .file-con {margin: 10px 0; display: flex;}
.list-file-con .file-con .in-grid-size {background: #f5f5f5; min-height: 280px; overflow-y: hidden; overflow-x: auto;}
.list-file-con .file-con .in-grid-size.w-460 {width: 460px; margin-right: 10px;}
.list-file-con .file-con .in-grid-size.w-all {flex:1;}

/* 팝업 주소검색 */
#addressPopup .lyPopup .lyPopCont{padding:0}
.btn.pc-hide {display:none;}

/* 회원가입 */               
.join-content .member-tit{text-align: center;font-size: 34px;line-height: 4 1px;font-weight: bold;margin-top: 120px;padding:0 20px}
.join-content .member-sub-tit{text-align: center;font-size: 18px;line-height: 21px;margin-top: 30px;padding:0 20px}
.join-content .member-sub-tit em{vertical-align: top;}
.join-content .member-sub-tit2{text-align: center;font-size: 18px;line-height: 21px;margin-top: 30px;padding:0 60px}
.join-content .member-tit strong{color:#346DD0;vertical-align: top;font-weight: bold;}
.join-content .member-select-box {display: flex;margin: 50px auto;width: 706px;}
.join-content .member-select-box > div{border:1px solid #D7D7D7;text-align: center;padding:50px 0}
.join-content .member-select-box > div p{font-size: 24px;}
.join-content .member-select-box > div span{font-size: 18px;display: inline-block;margin-top: 30px;font-weight: 300;}
.join-content .member-select-box > div a{width: 198px;height: 48px;line-height: 46px;margin-top: 70px;}
.join-content .member-select-box > div.admin{margin-left: 50px;}
.join-content .complete-wrap{width: 406px; margin: 200px auto;text-align: center;}
.join-content .complete-wrap .complete-txt{font-size: 18px; margin: 50px 0 70px;}
.join-content .complete-wrap .btn-full-area a{height: 48px; line-height: 46px;}
.join-content .login-wrap{width: 360px;margin: 0 auto;padding:30px 0;}
.join-content .login-wrap > div > p{text-align: center;font-size: 16px;line-height: 19px;margin-top: 30px;}
.join-content .login-wrap > div > p strong{color:#346DD0;vertical-align: top;}
.join-content .login-wrap .login-checkbox{margin: 10px 0 20px;color:#666}
.join-content .login-wrap .login-checkbox label + label{margin-left: 30px;}
.join-content .login-wrap .btn-area{margin-top: 10px;}
.join-content .login-wrap .btn-area a{width: 100%;}
.join-content .login-wrap > div div.btn-full-area a{color:#666;}
.join-content .login-wrap .btn-full-area {padding: 20px 0 30px;border-bottom: 1px solid #BBBBBB;}
.join-content .login-wrap .btn-full-area a{flex: 1;text-align: center;position: relative;}
.join-content .login-wrap .btn-full-area a:last-child::before{content: "" ;position: absolute;top:5px;left:0;width:1px ;height: 10px;background:#999;}
.join-content .login-wrap.find {width:720px}
.join-content .login-wrap.find .tab-area .tab-cont{padding-top:50px }
.join-content .login-wrap.find .tab-area .tab-style1{text-align: center;}
.join-content .login-wrap.find .tab-area .tab-style1 .tabBtn{font-size: 18px;}
.join-content .login-wrap.find .radio-style1 + .radio-style1{margin-left: 50px;}
.join-content .login-wrap.find .radio-style1 span{font-size: 16px;}
.join-content .login-wrap.find .radio-select {margin-top:10px;}
.join-content .login-wrap.find .radio-select > div{display: none;border-top:1px solid #BBBBBB;border-bottom:1px solid #BBBBBB;padding:20px}
.join-content .login-wrap.find .radio-select > div.on{display: block;}
.join-content .login-wrap.find .radio-select > div > div{display: flex;}
.join-content .login-wrap.find .radio-select > div > div + div{margin-top: 20px;}
.join-content .login-wrap.find .radio-select > div > div label{width: 180px;line-height: 38px;}
.join-content .login-wrap.find .radio-select > div > div .form-layout{display: contents;width: calc(100% - 180px);}
.join-content .login-wrap.find .radio-select > div > div .w380{width:380px}
.join-content .login-wrap.find .radio-select > div > div .w100{width: calc(100% - 180px)}
.join-content .login-wrap.find .radio-select select.select{width: 86px;}
.join-content .login-wrap.find .radio-select .form-email select.select{width: 118px;flex: none;}
.join-content .login-wrap.find #tab2 .radio-select .form-phone input{width: 130px;flex: none;}
.join-content .login-wrap.find .radio-select > a{margin: 50px auto 0;width: 198px; display: block;}
.join-content .login-wrap.find .form-area + button{margin-left: 5px;}
.join-content .login-wrap.find #tab2 .radio-select .vc-input{display: flex;}
.join-content .login-wrap.find #tab2 .radio-select .vc-input input{width: 380px;}
.join-content .login-wrap.find #tab2 .radio-select .vc-input button{width: 118px;margin-left: 5px;flex:none}
.join-content .login-wrap.account{padding:50px 20px;}
.join-content .login-wrap.account .btn-area{margin-top: 20px;}
.join-content .login-wrap.privacy{width: 700px;padding:50px 0}
.join-content .login-wrap.privacy > p {text-align: center;font-size: 22px;line-height: 27px;}
.join-content .login-wrap.privacy > p em{vertical-align: top;}
.join-content .login-wrap.privacy > .privacy-box {border: 1px solid #D7D7D7;padding:20px;margin-top: 30px;}
.join-content .login-wrap.privacy > .privacy-box p{text-align: left;margin-top: 0;padding-left: 10px;position: relative;}
.join-content .login-wrap.privacy > .privacy-box p + p{margin-top: 10px;}
.join-content .login-wrap.privacy > .privacy-box p::before{content: '';width:3px;height:3px;background: #666;display: inline-block;position:absolute;top:8px; left: 0;}
.join-content .login-wrap.privacy .btn-full-area{padding:50px 147px 30px;line-height: 46px;border: none;}

/* 회원가입 로그인 팝업 */
.pop-loginfind{padding:20px 0; text-align: center;}
.pop-loginfind > p{margin-top: 20px;}
.pop-loginfind > p.id{text-decoration: underline;}
.pop-loginfind > span em{vertical-align: top;}
.pop-loginfind > span strong{text-decoration: underline;vertical-align: top;}
.pop-loginfind > div{border-top:1px solid #d7d7d7;margin-top: 30px;}

.pop-password {text-align: center;}
.pop-password > p {margin-top: 20px;}
.pop-password > p em{vertical-align: top;}
.pop-password > span{font-size: 24px;}
.pop-password .pop-write{margin-top: 30px;}
.pop-password .pop-write > ul {padding:10px 0 0;border-top:1px solid #d7d7d7}
.pop-password .pop-write > ul > li{border: none;padding:10px 0}
.pop-password .pop-write > ul > li:last-child {padding-bottom: 0;}
.pop-password .pop-ip-area > label{width: 170px;text-align: left;}
.pop-password .pop-ip-area label + .form-layout{width: calc(100% - 190px)}
.popup-type-m .lyPopup .popup-cont .pop-password .btn-area{padding-bottom: 0;}
.pop-account {text-align: center;}
.pop-account > p.account-tit {font-size: 24px;margin-top: 0;}
.pop-account > p {margin-top: 20px;}
.pop-account > p em {vertical-align: top;}
.pop-account > .form-area {margin-top: 30px;}





/* 모바일 시작 */
@media only screen and (max-width:800px){
    .join-txt {font-size: 14px; padding-left: 15px; text-indent: -8px; margin: 0 20px;}
    .join-txt2 {font-size: 14px; margin: 0 20px; text-align: left; padding-left: 8px; text-indent: -4px;}
    .join-list-con .tit-area2 .join-txt {margin:3px 0 0 10px;}
    .join-content .tit-type1-2 {margin-bottom: 0;}
    .join-list-con {padding-top: 16px;}
    .join-list-con ~ .join-list-con {padding-top: 16px;}
    .join-content .join-list-con .list-con {border-bottom: 10px solid #f5f5f5;}
    .join-content .join-list-con.join-agree-con .list-con {border-bottom: 0;}
    .join-list-con .tit-area {padding-bottom: 16px; border-bottom: 1px solid #000; align-items: center;}
    .join-list-con .tit-area2 {padding: 0 20px 15px; border-bottom: 1px solid #000;}
    .join-list-con .tit-area2 .join-txt {padding-left: 10px; line-height: 100%;}
    .join-list-con .btn-area-c {padding-top:20px;}
    .list-con {padding-top: 20px;}
    .list-con .tit-type2-1 {padding: 0 20px;}
    .list-con .list-in {margin-left: 20px; margin-right: 20px; border-bottom: 0;}
    /* .join-list-con .list-con .list-in > li {display: block; padding: 0 0 20px 0;} */
    .list-con .list-in > li.mo-hide {display: none;}
    .list-con .list-in > li {padding: 0 0 20px 0; flex-direction: column; align-items: flex-start;}
    .list-con .list-in > li > label {width: auto; font-size: 14px; padding-bottom: 5px; line-height: 17px;}
    .list-con .list-in + .tit-type2-1 {padding-top: 20px; border-top: 1px solid #d7d7d7;}
    .list-con .list-in > li .btn-style-m1 {font-size: 14px; min-width: 68px; height: 36px;}
    .list-con .list-half-style {flex-direction: column; align-items: flex-start; margin: 10px 20px 0;}
    .list-con .list-half-style li {width: 100%;}
    .list-con .mem-info-list li .form-layout {width: 100%;}
    .list-con .mem-info-list .ip-only .form-layout {width: 100%;}
    .list-con .mem-info-list li .form-layout .input {flex:1;}
    .list-con .form-address .btn-style-m1 {width: 112px;}
    .list-con .form-list-checkradio {flex-direction: column;}
    .list-con .form-list-checkradio li {width: 100%;}
    .join-content .list-con .list-btn-area .form-list-checkradio li {width: 100%;}
    .list-con .join-agree .agree-area .agree-cont {height: 112px;}
    .list-con .join-agree .agree-area .agree-tit {padding: 18px 40px 18px 20px; word-break: keep-all;}
    .list-con .join-agree .agree-area .agree-cont {font-size: 12px; line-height: 1.4;}
    .join-agree-con .list-con {padding: 20px 20px 0 20px; border-bottom: 0;}

    .con-normal-info .list-in {padding-top: 20px; flex-direction: column;}
    .con-normal-info .list-in > li {width: 100%;}
    .con-normal-info .list-in .list-w60 {width: 100%;}
    .con-normal-info .list-in .list-w60 .w60-flexbox {width: 190px;}
    .con-normal-info .list-in .list-w60 .select {width: 112px;}
    .con-normal-info .list-in .form-layout {flex: inherit; }
    .list-con .mem-info-list li .form-email .select {width: 112px;}
    .list-con .mem-info-list li .form-address .btn-style-m1 {width: 112px;}
    .list-file-con {padding-bottom: 20px;}
    .list-file-con .file-con {margin: 10px 20px; display: block; border: 0;}
    .list-file-con .file-con .in-grid-size {height: auto; min-height: 480px;}
    .list-file-con .file-con .in-grid-size.w-460 {width: 100%; margin: 0 0 10px 0; min-height: 240px;}

    /* 회원가입 */
    .join-content .complete-wrap{width: 100%;margin: 70px auto;}
    .join-content .complete-wrap .complete-txt{margin: 30px 0;font-size: 16px;}
    .join-content .complete-wrap .btn-full-area{border:none;}
    .join-content .member-tit{font-size: 22px;line-height: 27px;margin-top: 70px; font-weight: 500;}
    .join-content .member-sub-tit{font-size: 16px;line-height: 19px;}
    .join-content .member-sub-tit em{display: block;}
    .join-content .member-select-box {width:100%;margin:30px auto;padding:0 30px;flex-direction: column;}
    .join-content .member-select-box > p.pc-hide{margin-top: 10px;font-size: 15px;text-align: center;}
    .join-content .member-select-box > div a{margin-top: 50px;}
    .join-content .member-select-box > div span{margin-top: 20px;font-size: 16px;}
    .join-content .member-select-box > div p{font-size: 20px;}
    .join-content .member-select-box > div.admin {margin:30px 0 0;}
    .join-content .member-select-box > div.admin a{background: #D7D7D7;}
    .join-content .login-wrap{padding: 30px 20px;width: 100%;}
    .join-content .login-wrap input{height:42px}
    .join-content .login-wrap .login-checkbox label + label{margin-left:20px;}
    .join-content .login-wrap .btn-style-l2{height: 50px;line-height: 48px;}
    .join-content .login-wrap .btn-full-area{font-size: 14px;}
    .join-content .login-wrap.find {width: 100%;}
    .join-content .login-wrap.find input{height: 36px;font-size: 14px;}
    .join-content .login-wrap.find .tab-area .tab-style1 .tabBtn{font-size: 15px;}
    .join-content .login-wrap.find .tab-area .tab-cont{padding:20px 0}
    .join-content .login-wrap.find .radio-select > div {padding:20px 0}
    .join-content .login-wrap.find .radio-select > div > div{flex-direction: column ;}
    .join-content .login-wrap.find .radio-select > div > div label{font-size: 14px;line-height: 17px;margin-bottom: 5px;}
    .join-content .login-wrap.find .radio-select > div > div .w380{width: 100%;}
    .join-content .login-wrap.find .radio-select > div > div .w100{width: 100%;}
    .join-content .login-wrap.find .radio-select > div .form-email{display: flex !important;}
    .join-content .login-wrap.find .radio-select > div > div select.select{height:36px}
    .join-content .login-wrap.find .radio-select > div > div .form-layout{display: flex;width: 100%;}
    .join-content .login-wrap.find .radio-select > a {width: 100%;height:42px;line-height: 40px;margin-top: 30px;}
    .join-content .login-wrap.find .radio-select select.select{background:url(../images/common/arrow_select.svg) top 10px right 10px no-repeat #fff}
    .join-content .login-wrap.find #tab2 .radio-select .form-phone input{flex:1; width: inherit;}
    .join-content .login-wrap.find .form-phone {}
    .join-content .login-wrap.find .form-phone .btn-style-m1 {width:68px; min-width:auto;}
    .join-content .login-wrap.find #tab2 .radio-select .vc-input button{width: 68px; min-width:auto; height: 36px;line-height: 34px;}
    .join-content .login-wrap.find #tab2 .radio-select .vc-input button{width: 68px; min-width:auto; height: 36px;line-height: 34px;}
    .join-content .login-wrap.privacy{width: 100%;padding:50px 20px}
    .join-content .login-wrap.privacy > p {font-size: 18px;}
    .join-content .login-wrap.privacy > p em{display: block;}
    .join-content .login-wrap.privacy > .privacy-box p{font-size: 14px;}
    .join-content .login-wrap.privacy .btn-full-area{padding:50px 0}
    .join-content .login-wrap.privacy .btn-style-l2{height:42px; line-height: 40px;}

    /* 회원가입 팝업 */
    .pop-password > p {margin-top: 20px;}
    .pop-password > p em {display: block;vertical-align: top;}
    .pop-password .pop-ip-area label + .form-layout {width: 100%;}
    .pop-password > span.mo-hide + p{font-size: 14px;margin-top: 0;}
    .pop-password .pop-ip-area > label{font-size: 14px;padding-bottom: 5px;}
    .lyPopup .popup-cont .lyTitle.center{padding:0px 44px}
    .pop-account > span em {display: block;vertical-align: top;}
    .pop-account > p em {display: block;vertical-align: top;}
}

@media only screen and (max-width:480px){
    .join-list-con .req {padding: 0;}
}

@media only screen and  (max-width:320px){ /* iphoneSE */
    .join-list-con .tit-area2 {flex-direction: column;align-items: flex-start;}
    .join-list-con .tit-area2 .join-txt {margin-left:0;}
}