@charset "utf-8";

/* ==========================================================================
    마이페이지
========================================================================== */
.mypage-cont {position: relative; min-height: 1000px;}
.mypage-cont .tabArea {margin: 30px 0 100px;}
.mypage-cont .my-menu {position: absolute; top: 0; left: 0; width: 164px;}
.mypage-cont .my-menu .my-logo {display: flex; justify-content: center; margin-bottom: 60px; align-items: center; width: 164px; height: 160px; border-radius: 80px 80px 0px 80px; background: #2d3a52;}
.mypage-cont .my-menu .my-logo p {font-weight: bold; font-size: 32px; line-height: 35px; text-align: center; color: #fff;}
.mypage-cont .my-menu .my-menu-list ul:after {content: ""; display: block; clear: both;}
.mypage-cont .my-menu .my-menu-list a {display: block;}
.mypage-cont .my-menu .my-menu-list > ul {padding-left: 20px;}
.mypage-cont .my-menu .my-menu-list > ul > li {padding-bottom: 36px;}
.mypage-cont .my-menu .my-menu-list > ul > li > a {font-weight: 500; font-size: 20px; color: #000; transition: all 0.3s ease;}
.mypage-cont .my-menu .my-menu-list > ul > li > a.acdBtn {background: url(../images/common/icon_plus_black.svg) right center no-repeat;}
.mypage-cont .my-menu .my-menu-list > ul > li > a.acdBtn.on {background: url(../images/common/icon_minus_black.svg) right center no-repeat;}
.mypage-cont .my-menu .my-menu-list > ul > li > a.lnbAcdBtn {background: url(../images/common/icon_plus_black.svg) right center no-repeat;}
.mypage-cont .my-menu .my-menu-list > ul > li > a.lnbAcdBtn.on {background: url(../images/common/icon_minus_black.svg) right center no-repeat;}
.mypage-cont .my-menu .my-menu-list .list-deps {display: none; padding-top: 24px;}
.mypage-cont .my-menu .my-menu-list .list-deps > li {padding-bottom: 12px;}
.mypage-cont .my-menu .my-menu-list .list-deps > li:last-child {padding-bottom: 0;}
.mypage-cont .my-menu .my-menu-list .list-deps > li > a {font-size: 16px; color: #666;}
.mypage-cont .my-menu .my-menu-list .list-deps > li > a:hover {color: #346dd0;font-weight: 500;}
.mypage-cont .my-menu .my-menu-list .list-deps > li.on > a {color: #346dd0;font-weight: 500;}
.mypage-cont .my-main {margin-left: 214px;}
.mypage-cont .my-main .tit-area {margin-bottom: 0; padding-bottom: 10px; border-bottom: 2px solid #000;}
.mypage-cont .my-main.main-style .tit-area {margin-bottom: 30px; border-bottom: 0;}
.mypage-cont .my-main.main-style .tab-area .tab-cont {padding: 0;}
.mypage-cont .my-main .my-top-area {display: flex; justify-content: space-around; align-items: center; width: 100%; height: 160px; margin-bottom: 60px; border-radius: 80px 80px 80px 0px; background: #12b5cf;}
.mypage-cont .my-main .my-top-area .top-member {padding-left: 50px; color: #fff;}
.mypage-cont .my-main .my-top-area .top-member p {font-size: 22px;}
.mypage-cont .my-main .my-top-area .top-member b {font-size: 28px;}
.mypage-cont .my-main .my-top-area .top-member span {font-size: 20px; vertical-align: bottom;}
.mypage-cont .my-main .my-top-area .top-member-condition {display: flex; width: 640px; justify-content: space-evenly;}
.mypage-cont .my-main .my-top-area .top-member-condition > div {position: relative; width: 100%; text-align: center; color: #fff; flex:1;}
.mypage-cont .my-main .my-top-area .top-member-condition > div:before {content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 1px; height: 60px; background: #0095ac; opacity: 0.6;}
.mypage-cont .my-main .my-top-area .top-member-condition > div span {font-size: 16px;}
.mypage-cont .my-main .my-top-area .top-member-condition > div b {display: block; padding-top: 5px; font-size: 30px;}
.mypage-cont .my-main .my-top-area .top-member-condition > div a {display: block; padding-top: 5px; font-size: 30px;}
.mypage-cont .my-main .my-top-area .top-member-condition > div a:hover {color: #f0ff58;}
.mypage-cont .my-main .my-top-area .top-member-condition > div:first-child:before {display: none;}
.mypage-cont .my-main .my-top-area .top-member-condition > div:first-child b {color: #f0ff58;}
.mypage-cont .my-main .mystep-box {width: 100%; height: 184px; margin-top: 20px; background: transparent; border: 1px solid #d7d7d7;}
.mypage-cont .my-main .mystep-box ul {display: flex; align-items: center; justify-content: center; width: auto; height: 100%; margin: 0 auto;}
.mypage-cont .my-main .mystep-box ul li {text-align: center; position: relative; width: 207px;}
.mypage-cont .my-main .mystep-box ul li:last-child:after {display: none;}
.mypage-cont .my-main .mystep-box ul li:after {content: ''; display: inline-block; position: absolute; top: 50%; right: 0; margin: -9px -9px 0 0; width: 18px; height: 18px; background: url(../images/common/arrow_step.svg) 0 0 no-repeat;}
.mypage-cont .my-main .mystep-box ul li b {font-size: 46px; color: #bbb;}
.mypage-cont .my-main .mystep-box ul li.on b {color: #346dd0;}
.mypage-cont .my-main .mystep-box ul li p {padding-top: 10px; font-size: 16px; color: #000;}
.mypage-cont .my-main .my-board {display: flex; justify-content: space-between; margin-bottom: 100px;}
.mypage-cont .my-main .my-board .tit-area {margin-bottom: 20px;}
.mypage-cont .my-main .my-board .board-inquiry {width: 518px;}
.mypage-cont .my-main .my-board .board-faq {width: 418px;}
.mypage-cont .my-main .my-boardlist {margin-top: 20px;}
.mypage-cont .my-main .my-boardlist ul {border-top: 1px solid #000; border-bottom: 1px solid #000;}
.mypage-cont .my-main .my-boardlist ul li {border-bottom: 1px solid #e5e5e5;}
.mypage-cont .my-main .my-boardlist ul li:last-child {border-bottom: 0;}
.mypage-cont .my-main .my-boardlist ul li a {display: flex; justify-content: space-between; align-items: center; height: 56px;}
.mypage-cont .my-main .my-boardlist ul li a > div {font-size: 16px; color: #000;}
.mypage-cont .my-main .my-boardlist ul li a > div.done {color: #999;}
.mypage-cont .my-main .my-boardlist ul li a > p {width: 326px; font-size: 16px; color: #000;}
.mypage-cont .my-main .my-boardlist ul li a > p em{vertical-align: top;padding-right: 5px;font-weight: 500;}
.mypage-cont .my-main .my-boardlist ul li a > span {font-size: 14px; color: #666;}
.mypage-cont .my-main .my-boardlist ul li.result-none-list {padding:32px 0;}
.mypage-cont .my-main .board-faq .my-boardlist ul li a > p {width: 100%;}
.mypage-cont .product-list-wrap {max-width: 986px; margin-bottom: 100px;}
.mypage-cont .unit-type1 {height: 450px;}
.mypage-cont .unit-type1 .unit-area > dt {width: 219px; height: 219px;}
.mypage-cont .unit-type1 .unit-layer .unit-under-btn .btn-restock {font-size: 18px;}

/* 나의활동 */
.pop-layout .pop-list-half {display: flex; flex-wrap: wrap; justify-content: space-between;}
.pop-layout .pop-list-half > .pop-ip-area {max-width: 300px;}
.pop-layout .pop-list-half > .pop-ip-area.btn-r-area {padding: 0;}
.pop-layout .pop-list-half2 {display: flex; flex-wrap: wrap; justify-content: space-between;}
.pop-layout .pop-list-half2 > .pop-ip-area {max-width: 391px;}
.pop-layout .pop-list-half2 > .pop-ip-area:last-child {max-width: 209px;}
.pop-layout .pop-list-half2 > .pop-ip-area.btn-r-area {padding: 0;}
.pop-sLabel > ul {border: none;}
.pop-sLabel > ul li {border: none;}
.pop-sLabel > ul > li:first-child {padding-top: 0;}
.pop-sLabel > ul > li:last-child {padding-bottom: 0;}
.pop-sLabel .pop-ip-area > label {width: 120px; padding-left: 0; display:inline-block;}
.pop-sLabel .pop-ip-area label + .form-layout {width: calc(100% - 120px);}
.pop-sLabel .textarea {height: 109px;}
.pop-sLabel .btn-r-area {padding: 0;}
.pop-sLabel .top-line-grid {border-top: 1px solid #bbb; padding: 20px 0;}
.pop-sLabel > ul + .top-line-grid {margin-top: 20px;}
.excel-wrap + .right-txt {margin-top: 20px;}
.pop-sLabel > ul + .excel-wrap {margin-top: 30px;}
.pop-sLabel .excel-wrap {min-height:auto;}
.pop-sLabel .excel-wrap ~ .excel-wrap {margin-top: 20px; min-height:auto;}
.pop-sLabel .jusitfy-info-area {margin: 30px 0;}
.pop-sLabel .jusitfy-info-area .txt{color: #000;}

.pop-sLabel.labelW-xs .pop-ip-area > label {width: 88px; padding-left: 0; display: inline-block;}
.pop-sLabel.labelW-xs .pop-ip-area label + .form-layout {width: calc(100% - 88px);}
.pop-line-form {padding:30px 0; border-top:1px solid #bbb; border-bottom:1px solid #bbb;}
.pop-line-form .list-con {padding-top:0;}
.pop-sLabel.labelW-xs .pop-ip-area .form-inline {display:flex;}
.pop-sLabel.labelW-xs .pop-ip-area .form-inline .datepicker {flex:1;}
.pop-sLabel.labelW-xs .pop-ip-area .form-inline.w441 {width:441px}
.grid-bottom-form {padding-top:20px; overflow: hidden; font-size:0;}
.grid-bottom-form.align-r {text-align: right;}
.grid-bottom-form.align-r label {text-align: left;}
.grid-bottom-form .ip-area-s {display:inline-block;}
.grid-bottom-form .ip-area-s + .ip-area-s {margin-left:14px;}
.grid-bottom-form label {width:72px; display:inline-block; font-size:16px;}
.grid-bottom-form .form-layout {display: inline-block;}
.grid-bottom-form .form-layout .input {font-size: 14px;}
.grid-bottom-form .form-layout.w102 {width:102px;}
.grid-bottom-form .form-layout.w370 {width:370px;}
.grid-search-area {width:100%; margin-bottom:10px; display: flex; justify-content: flex-end;}
.grid-search-area .form-layout3 {max-width:310px; flex:none;}
.pop-info-txt {margin-top:20px; text-indent:-9px; padding-left:9px; font-size: 14px; color:#666;}
.pop-info-txt > em {color: #346dd0; vertical-align: top;}


/* 회원정보관리 */
.list-half-style li {width: 50%;}
.list-con .list-btn-area .form-list-checkradio li {width: 33.333%;}
.list-btn-area .form-layout {max-width: 100%;}
.join-txt-normal {font-size: 16px; color: #000; word-break: keep-all;}
.list-con.bt-btn-line {padding-top: 0; border-bottom: 1px solid #d7d7d7;}
.list-con.bt-btn-line .list-in {border-top: 0; border-bottom: 0; margin-top: 0;}
.list-con.bt-btn-line .btn-r-area {padding: 0 20px 20px 0;}
.list-file-con .btn-r-area {padding: 0 0 20px;}

/* .mypage-cont .my-main .join-list-con .form-layout {max-width: 503px;} */
.mypage-cont .list-con .list-in > li > label {width: 130px;}
.mypage-cont .my-main .btn-area-c {padding-top: 70px;}

.my-leave {padding: 30px 20px; border-bottom: 1px solid #d7d7d7;}
.my-leave .leave-tit {padding-bottom: 20px; font-size: 16px; font-weight: 500; color: #000;}
.my-leave ul {padding-bottom: 30px;}
.my-leave ul li {font-size: 16px; line-height: 26px; color: #000;}
.my-leave .textarea {height: 109px;}
.leave-check-area {padding: 20px 20px 0;}

.list-delivery ul li {display: flex; align-items: center; height: 106px; padding: 0 20px; border-bottom: 1px solid #d7d7d7;}
.list-delivery ul li > div {margin-left: 50px;}
.list-delivery ul li > div:first-child {margin-left: 0;}
.list-delivery ul li > div p {font-size: 16px; color: #000;}
.list-delivery ul li .de-name {width: 75px; text-align: center;}
.list-delivery ul li .de-name p {font-weight: 500; padding-top: 6px;}
.list-delivery ul li .de-address {flex:1;}
.list-delivery ul li .de-address span {display: inline-block; font-size: 14px; color: #666;}
.list-delivery ul li .de-btn-area {font-size: 0; padding-bottom: 0;}
.list-delivery ul li .de-btn-area .btn {display: block;}
.list-delivery ul li .de-btn-area .btn + .btn {margin-top: 10px;}

/* 나의리뷰 */
.top-flex-area {padding: 30px 0 20px; display: flex; border-bottom: 1px solid #bbb;}
.top-flex-area .form-layout {width:100%; max-width: 500px; margin-left: 20px;}
.top-flex-area .form-layout .btn {margin-left: 5px;}
.top-flex-area .form-layout .datepicker {}
.top-flex-area .form-layout .mo-full {flex:none;}
.top-flex-area .form-layout .mo-full:first-child {flex:1;}

.my-detail.detail-review {margin-top: 20px; padding-bottom: 30px;}
.my-detail.detail-review ul li {padding: 0;}
.my-detail.detail-review ul li:hover {background: none;}
.my-detail.detail-review ul li .review-text {max-width: 688px;}
.my-detail.detail-review ul li .review-satisfaction-area {flex-direction: column;}
.my-detail.detail-review ul li .review-satisfaction-area .satis-small {padding-left: 0;}
.my-detail.detail-review ul li .review-satisfaction-area .satis-large:after {display: none;}
.my-detail.detail-review ul li .review-satisfaction-area .star-count {font-size: 18px; color: #346dd0; line-height: 25px; font-weight: 500; margin-left: 10px;}
.my-detail.detail-review ul li .review-btns {font-size: 0; width: 118px; position: absolute; top: 50%; right: 30px; transform: translateY(-50%);}
.my-detail.detail-review ul li .review-btns .btn + .btn {margin-top: 10px;}
.my-detail.detail-review ul li .review-front-img {bottom: auto; top: 50%; right: 178px; transform: translateY(-50%);}
.my-detail.detail-review ul li .review-text {margin: 0; padding: 20px 0 0 0;} 
.my-detail.detail-review ul li .review-satisfaction-area .satis-small {padding-top: 20px;display: none;}
.my-detail.detail-review ul li.on {background: #fff;}
.my-detail.detail-review ul li.on .review-btns {top: 30px; transform:none;}
.my-detail.detail-review ul li.on .review-satisfaction-area .satis-small {display: flex;}
.my-detail.detail-review ul li.on .review-text {max-width: 778px;}
.my-detail .unit-cart {padding: 30px 0; justify-content: space-between;}
.my-detail .unit-cart .unit-area .product-name {width: 630px;}
.my-detail .unit-cart .standard {width: 630px;}
.my-detail .unit-cart .unit-under-btn {display: flex; align-items: center; border: 0;}
.my-detail .unit-cart .unit-under-btn li {border-bottom: 0;}

.my-rew-cont {position: relative; padding: 30px 44px 30px 30px; margin-bottom:30px; min-height:174px; background: #fafafa;}

/* 주문서 관리 */
.top-info-area {width:100%; padding:30px 0 10px;}
.top-info-area .tit-type2-1 {font-size:16px;}
.top-info-area .bul-bar-list {width:100%; margin-top:6px;}
.top-info-area .bul-bar-list > li {}

.order-management-list {padding-top:18px; border-top:1px solid #bbb; border-bottom: 1px solid #d7d7d7;}
.order-management-list > dl {}
.order-management-list > dl + dl {border-top:1px solid #e5e5e5;}
.order-management-list > dl > dt {display: flex; padding:18px 0 18px 20px; align-items: center;}
.order-management-list > dl > dd {display:none; padding:18px 50px 0; border-top:1px solid #e5e5e5;}
.order-management-list .orderlist-wrap ul > li:last-child {border-bottom:0;}

.order-management-list > dl > dt .form-area {max-width: 704px; flex:1; display:flex;}
.order-management-list > dl > dt .form-area .input {flex:1;}
.order-management-list > dl > dt .form-area .btn {margin-left:5px;}
.order-management-list > dl > dt .date {padding:0 30px; font-size:14px; color:#666;}
.order-management-list > dl > dt .btn-arrow {font-size:14px; color:#000; padding-right:20px; position: relative;}
.order-management-list > dl > dt .btn-arrow::after {content:''; width: 18px; height: 18px; display:inline-block; background: url(../images/common/arrow_select.svg) center center no-repeat; font-size: 0; position: absolute; top:2px; right:0;}
.order-management-list > dl > dt .btn-arrow.on::after {transform: rotate(-180deg);}






/* ==========================================================================
    신규상품요청
========================================================================== */
.request-info {width:100%; margin-top: 10px; padding:20px 0; border-top:1px solid #bbb; display:flex; justify-content: space-between;}
.request-info .ea {font-size: 16px; line-height:26px;}
.request-info .ea .tit {font-weight: 500; vertical-align: top;}
.request-info .ea > b {color: #346dd0; font-weight: normal; vertical-align: top;}
.total-price {}
.total-price .tit {font-size:16px; font-weight:500;}
.total-price .info-txt {font-size:14px;}
.total-price .price {color: #346dd0; font-size: 14px;}
.total-price .price b {font-size: 22px; vertical-align: baseline; font-weight: 700;}
.chk-list {position: relative;}
.chk-list .check-style2 {margin-top:-15px; position: absolute; top:50%; left:20px; z-index:1;}
.list-con .chk-list .list-in {margin-top:0; padding-left:40px; border-top:1px solid #d7d7d7; border-bottom:0; position: relative;}
.chk-list .req {padding:0;}
.list-con .chk-list .list-in > li > label {width:141px;}
.list-con .radio-style1 > span {margin-left:10px; color:#000; font-size:16px;}
.list-con .radio-style1 + .radio-style1 {margin-left:50px;}
.list-con .btn-detail {margin-top:13px;}

.chk-list.chk-list-detail {background:#fafafa;}
.chk-list .form-phone .select {padding:0 20px 0 12px;}
.request-number {font-size:16px; font-weight: 500; color:#666; display:inline-block;}
.request-number .num {margin-left:8px; color:#000; vertical-align: top;}


/* ==========================================================================
    주문현황
========================================================================== */
.btn-open {width:auto; height:38px; line-height:35px; text-align:center; font-size:14px; display:inline-block; padding: 0 12px; color:#000; background:#fff; border:1px solid #000;}
.btn-open::before {content:""; width:18px; height:35px; line-height:35px; background: url(../images/common/icon_plus_black.svg) 50% 50% no-repeat; display:inline-block; line-height:1.1; vertical-align: top;}
.btn-open.on {font-size: 0;}
.btn-open.on::before {background: url(../images/common/icon_minus_black.svg) 50% 50% no-repeat;}
.btn-open.on::after {content:"닫기"; font-size:14px; vertical-align: top;}
.w127 {width:127px;}
.w101 {width:101px;}
.orderFormeTgView .list-in {height:294px; overflow:hidden;}
.orderFormeTgView.open .list-in {height:auto;}
.lybox-area {position: relative;}
.lybox-wrap {display:none; width:800px; padding:30px; position: absolute; top:168px; left:150px; background:#fff; border: 1px solid #bbb;  z-index:10;}
.lybox-wrap.lybox-posi {top:126px; left:139px; width:827px;}
.lybox-wrap .tit {font-weight:500; font-size:16px;}
.lybox-wrap .chk-area {width:calc(100% + 20px); font-size:0; margin-left:-20px;}
.lybox-wrap .chk-area > li {width:132px; margin:20px 0 0 19px; display:inline-block; font-size:14px;}
.lybox-wrap.lybox-posi .chk-area > li {width:137px;}
.lybox-wrap .chk-area .check-style1 > span {font-size:14px; color:#666;}
.lyboxClose {width:24px; height:24px; font-size:0; background: url(../images/common/btn_cate_ly_close.svg) 50% 50% no-repeat; display:inline-block; position: absolute; top:9px; right:9px;}

/* ==========================================================================
    잔여예산내역
========================================================================== */
.remaining-area {}
.remaining-area .info-txt {margin: 30px 0 10px; font-size: 16px;}
.remaining-area .info-btn {margin: 30px 0 10px;}
.remaining-area .remaining-card-area {padding:10px; border-top:1px solid #bbb; font-size:0;}
.remaining-card-area .remaining-card {width:302px; margin:10px; padding:24px 20px; border: 1px solid #d7d7d7; display:inline-block; font-size:14px;}
.remaining-card > dt {height:38px; margin-bottom:30px; font-size:16px; line-height:19px; overflow:hidden; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-wrod;}
.remaining-card > dd {}
.remaining-card .justify-list > li {width:100%; display:flex;}
.remaining-card .justify-list > li + li {margin-top: 10px;}
.remaining-card .justify-list > li > p {flex:1;}
.remaining-card .justify-list > li .price {text-align: right;}
.remaining-card .justify-list > li .price > b {font-weight: 700;}
.remaining-card .justify-list .remaining .price > b {color:#346dd0;}
.remaining-card .justify-list .state .price > b {font-weight: 400;}
.remaining-card .justify-list .state > p {color:#666;}

/* 모바일 시작 */
@media only screen and (max-width:800px){
    /* 공통 */
    

    /* 마이페이지 메인 */
    .mypage-cont .main-style {}
    /* 마이페이지 서브 */
    .mypage-cont .tit-area2:first-child {display:none;}
    .mypage-cont .join-list-con {padding-top:0;}

    /* 주문현황 */
    /* .btn-r-area3.mypage-step {margin-top:-10px;} */

    /* ==========================================================================
        마이페이지
    ========================================================================== */
    .mypage-cont {min-height:auto;}
    .mypage-cont .my-main.main-style + .my-menu {display: block;}
    .mypage-cont .my-main .tit-area {border-bottom: 1px solid #000;}

    .mypage-cont input[type='text'], .mypage-cont input[type='password'] {font-size: 14px;}
    .mypage-cont .unit-type1 {height: auto;}
    .mypage-cont .unit-type1 .unit-area > dt {width: 100%; height:41.67vw;}
    .mypage-cont .tabArea {margin: 20px 0 0;}
    .mypage-cont .my-menu {position: relative; width: 100%; padding: 50px 0 0; display: none;}
    .mypage-cont .my-menu .my-logo {display: none;}
    .mypage-cont .my-menu .my-menu-list > ul {padding-left: 0; border-bottom: 10px solid #f5f5f5;}
    .mypage-cont .my-menu .my-menu-list > ul > li {padding-bottom: 0; border-top: 10px solid #f5f5f5;}
    .mypage-cont .my-menu .my-menu-list > ul > li > a {padding: 16px 20px; font-size: 16px;}
    .mypage-cont .my-menu .my-menu-list > ul > li > a.acdBtn {background-position: right 20px center;}
    .mypage-cont .my-menu .my-menu-list > ul > li > a.acdBtn.on {background-position: right 20px center;}
    .mypage-cont .my-menu .my-menu-list > ul > li > a.lnbAcdBtn {background-position: right 20px center;}
    .mypage-cont .my-menu .my-menu-list > ul > li > a.lnbAcdBtn.on {background-position: right 20px center;}
    .mypage-cont .my-menu .my-menu-list .list-deps {padding-top: 0;}
    .mypage-cont .my-menu .my-menu-list .list-deps > li:first-child {border-top: 1px solid #d7d7d7;}
    .mypage-cont .my-menu .my-menu-list .list-deps > li {padding-bottom: 0; border-top: 1px solid #e5e5e5;}
    .mypage-cont .my-menu .my-menu-list .list-deps > li > a {padding: 12px 20px; font-size: 14px;}
    .mypage-cont .my-menu .my-menu-list .list-deps > li.on > a {color:#666; font-weight:400;}

    .mypage-cont .my-main {margin-left: 0;}
    .mypage-cont .my-main .my-top-area {margin-bottom: 20px; border-radius: 0; padding: 20px; height: 153px; flex-direction: column; align-items: flex-start; justify-content: flex-start;}
    .mypage-cont .my-main .my-top-area .top-member {padding-left: 0;}
    .mypage-cont .my-main .my-top-area .top-member p {display: inline-block; padding-right: 5px; font-size: 18px;}
    .mypage-cont .my-main .my-top-area .top-member b {font-size: 20px;}
    .mypage-cont .my-main .my-top-area .top-member span {font-size: 16px;}
    .mypage-cont .my-main .my-top-area .top-member-condition {width: 100%; padding-top: 20px;}
    .mypage-cont .my-main .my-top-area .top-member-condition > div {display: flex; height: 100%; align-items: center; justify-content: space-between; flex-direction: column;}
    .mypage-cont .my-main .my-top-area .top-member-condition > div span {display: inline-block; word-break:keep-all; width: 100%; font-size: 13px;}
    .mypage-cont .my-main .my-top-area .top-member-condition > div b {font-size: 26px;}
    .mypage-cont .my-main .my-top-area .top-member-condition > div:before {height: 68px;}
    .mypage-cont .my-main .my-top-area + .tit-area {margin-bottom: 16px;}
    .mypage-cont .my-main .mystep-box {border: 0; height: 64px; margin: 20px 0;}
    .mypage-cont .my-main .mystep-box ul li:after {top: auto; bottom: 0;}
    .mypage-cont .my-main .mystep-box ul li b {font-size: 36px;}
    .mypage-cont .my-main .mystep-box ul li p {padding-top: 5px; font-size: 14px;}
    .mypage-cont .my-main .my-board {display: none;}
    .mypage-cont .my-main .btn-board-area {width: 100%; overflow: hidden; padding: 20px; margin-bottom: 30px; background: #f5f5f5;}
    .mypage-cont .my-main .btn-board-area a {float: left; width: 50%;}
    .mypage-cont .unit-type1 .unit-layer .unit-under-btn .btn-restock {font-size: 15px;}
    .mypage-cont .product-list-wrap {margin-bottom: 0;}
    .mypage-cont .my-main.main-style .tit-area {margin-bottom: 20px;}
    .mypage-cont .my-main.main-style .product-list-wrap .tit-area {margin-bottom: 15px;}


    /* 나의활동 */
    .pop-sLabel .pop-ip-area label + .form-layout {width: 100%;}
    .pop-layout .pop-list-half > .pop-ip-area {max-width: 100%;}
    .pop-layout .pop-list-half > .pop-ip-area + .pop-ip-area {padding-top: 20px;}
    .pop-sLabel > ul + .excel-wrap {margin-top: 20px;}
    .pop-sLabel .red-txt {margin-top: 20px;}
    .pop-sLabel .jusitfy-info-area {margin: 20px 0;}
    .pop-sLabel .jusitfy-info-area .txt{font-size: 13px;}
    .pop-sLabel .jusitfy-info-area .btn-style-m4 {height: 36px; line-height: 37px; margin-top: 20px;}

    /* 회원정보관리 */
    .list-half-style li {width: 100%;}
    .mypage-cont .my-main .btn-area-c {padding-top: 50px;}
    .mypage-cont .my-main .btn-area-c.btn-cont-in {padding-top: 0;}
    .mypage-cont .my-main .btn-full-area {padding: 0; border-top: 0;}
    .join-txt-normal {font-size: 14px; margin: 0 20px;}
    .bt-btn-line .btn-r-area {padding: 0 20px 20px;}
    .list-con.bt-btn-line + .bt-btn-line .list-in {border-top: 0; padding-top: 0;}
    .list-file-con .btn-r-area {padding: 0 20px 10px;}
    .list-file-con.m-line-hide {border-bottom: 0;}
    .my-leave {padding: 20px;}
    .my-leave .leave-tit {padding-bottom: 12px;}
    .my-leave ul li {font-size: 14px; line-height: 24px;}
    .list-con.bt-btn-line .btn-r-area {padding: 0 20px 20px 20px; border-bottom:10px solid #f5f5f5;}

    .list-delivery {margin-bottom: 20px;}
    .list-delivery ul li {padding: 20px; height: auto; flex-direction: column; align-items: flex-start;}
    .list-delivery ul li > div {margin-left: 0; padding-bottom: 2px;}
    .list-delivery ul li > div p {font-size: 15px;}
    .list-delivery ul li .de-address {padding-bottom: 10px;}
    .list-delivery ul li .de-address span {font-size: 13px;}
    .list-delivery ul li .de-name {text-align: left; width: auto;}
    .list-delivery ul li .de-btn-area .btn {display: inline-block;}
    .list-delivery ul li .de-btn-area .btn + .btn {margin-top: 0; margin-left: 10px;}
    
    .btn-r-area.mo-hide {display: none;}

    /* 나의리뷰 */
    .top-flex-area {padding: 20px; flex-direction: column;}
    .top-flex-area .form-layout {margin: 10px 0 0 0; max-width: 100%;}
    .top-flex-area .rd-btn-area {display: flex;}
    .top-flex-area .rd-btn-area .rd-btn {flex:1;}
    .top-flex-area .rd-btn-area .rd-btn input + span {width: 100%;}
    .top-flex-area .form-layout {flex-direction: column;}
    .top-flex-area .form-layout .mo-full .btn {width: 100%; margin: 10px 0 0 0;}
    .my-detail .unit-cart {padding: 20px;}
    .my-detail .unit-cart .unit-area .product-name {width: 100%;}
    .my-detail .unit-cart .unit-under-btn > li {width: 100%;}
    .my-detail .unit-cart .unit-under-btn .btn-buynow {width: 100%;}
    .my-detail.detail-review ul li .review-btns {margin-top: 20px; display: flex; position: relative; top: 0; right: 0; transform: none; width: 100%;}
    .my-detail.detail-review ul li .review-btns .btn {width: 100%;}
    .my-detail.detail-review ul li .review-btns .btn + .btn {margin: 0 0 0 10px;}
    .my-detail.detail-review ul li .review-front-img {bottom: 0;}
    .my-detail.detail-review ul li .review-text {padding: 32px 100px 0 0;}
    .my-detail.detail-review ul li.on .review-btns {top: 0;}
    .my-rew-cont {padding: 20px;}
    .my-detail.detail-review ul li .review-front-img {top: 54px; right: 20px; transform: none; }
    .my-detail.detail-review ul li .review-satisfaction-area .star-count {font-size: 15px; line-height: 26px;}
    
    /* 주문서 관리 */
    .mypage-order-list {padding:0 20px;}
    .mypage-order-list .btn-area-c {margin:0;}
    .mypage-order-list .mobile-paging {width:100%; margin:50px 0 0;}
    .top-info-area {width:100%; padding:20px 0 10px;}
    .order-management-list {padding-top:6px;}
    .order-management-list > dl > dt {padding:12px 0;}
    .order-management-list > dl > dt .btn-arrow {width:18px; height:36px; padding-left:10px; font-size: 0; display: inline-block;}
    .order-management-list > dl > dt .btn-arrow::after {top:8px;}
    .order-management-list > dl > dt .date {display:none;}
    .order-management-list > dl > dd {padding:12px 30px 0;}
    .order-management-list .orderlist-wrap ul > li {padding:12px 0;}
    .top-info-area .tit-type2-1 {font-size:14px;}
    .top-info-area .bul-bar-list {font-size:14px;}

    /* ==========================================================================
        신규상품요청
    ========================================================================== */
    .list-con .tit-area3 {margin:0 20px;}
    .list-con .tit-area3 .tit-type2-1 {padding-left:0;}
    .request-info {width:auto; margin:10px 20px 0;}
    .request-info .ea {font-size:14px;}
    .total-price .tit {font-size:14px;}
    .total-price .info-txt {font-size:12px;}
    .total-price .price b {font-size:20px;}
    .chk-list .list-in {margin:0; padding:56px 20px 0; border-bottom:0;}
    .chk-list .check-style2 {margin-top:0; top:20px;}
    .list-con .btn-r-area .btn {width:50%; flex:1; min-width:auto;}
    .list-con .btn-detail {display:none;}
    .chk-list.chk-list-detail {display:none; height:0; overflow: hidden;}
    .request-number {font-size:14px;}
    .request-number .num {margin-left:5px;}
    .list-con.bt-btn-line {border-bottom:0;}
    .list-con .chk-list .list-in {padding-left:20px;}
    .cart-list-con .list-con .list-tit .btn-slide-open.allSlideBtn{display: none;}
    .cart-list-con .list-con.allSlideTgArea .chk-list .list-in{padding-top:55px}

    /* ==========================================================================
        주문현황
    ========================================================================== */
    .btn-open {height:36px; padding:0 21px; line-height:37px;}
    .orderFormeTgView .list-in {height:578px;}
    .lybox-wrap {width:calc(100% - 40px); margin:10px 20px 0; padding:20px; top:245px; left:0;}
    .lybox-wrap.lybox-posi {top:280px; left:0; width:calc(100% - 40px);}
    .lybox-wrap .chk-area {margin-left:0;}
    .lybox-wrap .chk-area > li {width:50%; margin-left:0;}
    .lybox-wrap.lybox-posi .chk-area > li {width:50%;}

    /* ==========================================================================
        잔여예산내역
    ========================================================================== */
    .remaining-area {padding:20px 20px 0;}
    .remaining-area .info-txt {margin:0 0 10px; font-size: 14px;}
    .remaining-area .remaining-card-area {padding:0;}
    .remaining-card-area .remaining-card {width:100%; margin:20px 0 0; padding:20px; font-size:14px;}
    .remaining-card > dt {height:35px; margin-bottom:20px; font-size:15px; line-height:18px;}
    .remaining-card > dd {}
    .remaining-card .justify-list > li + li {margin-top: 8px;}
}

@media only screen and (max-width:480px){
    .notice-wrap .cont-notice .service-area {background-size: 65px auto;}
    .notice-wrap .cont-notice .service-area .ser-call .call-time span {display: block;}
}

@media only screen and (max-width:360px){
    .order-management-list > dl > dd {padding-right:0;}
}





