@charset "utf-8";

/* ==========================================================================
    상품상세
========================================================================== */
/* 상품상세 상단 */
.pro-detail-top {font-size:0;}
.pro-detail-photo {width:590px; font-size:14px; display:inline-block;}
.pro-detail-slide {width:100%; padding-left:90px; position: relative;}
.pro-detail-slide .swiper-container {width: 100%; margin-left: auto; margin-right: auto;}
.pro-detail-slide .swiper-slide {background-size: cover; background-position: center; overflow: hidden;}    
.pro-detail-slide .swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.pro-detail-slide .swiper-slide .product-img {width:500px; height:500px; overflow: hidden;}
.pro-detail-slide .productDetaileSlide {width:70px; height:390px; position:absolute; top:0; left:0; z-index:1;}
.pro-detail-slide .productDetaileSlide .swiper-slide {width:70px; height:70px !important;}
.pro-detail-slide .swiper-slide-thumb-active {opacity:1; border: 2px solid #346dd0;}
.pro-detail-slide .swiper-button-next,
.pro-detail-slide .swiper-button-prev {display:none;}
.pro-detail-reporting {width:100%; margin-top:20px; padding:16px 22px; border: 1px solid #d7d7d7; overflow: hidden;}
.pro-detail-reporting > p {font-size:16px; float:left;}
.pro-detail-reporting  .btn-style-s1 {float:right; margin-left:22px;}
.pro-detail-info {width:570px; margin-left:40px; font-size:14px; display:inline-block; vertical-align: top;}
.pro-detail-info .flag-area {font-size: 0;}
.pro-detail-info .brand {margin-top:10px; font-size: 16px; color:#bbb;}
.pro-detail-info .product-name {margin-top:10px; font-weight: 500; font-size: 24px;}
.pro-detail-info .product-info {margin-top:10px; font-size: 16px; color: #999;}
.pro-detail-info .group-buying {width:100%; margin-top:20px; padding:12px 20px; font-size:16px; color: #fff; border-radius: 21.5px 21.5px 21.5px 0px; background: #12b5cf; overflow: hidden;}
.pro-detail-info .price-area {margin-top:20px;}
.pro-detail-info .price-area .price {display:inline-block; font-size:22px;}
.pro-detail-info .price-area .price > b {font-size:32px; font-weight:700; vertical-align: text-bottom;}
.pro-detail-info .price-area .flag-txt {margin:3px 0 0 2px;}
.pro-detail-info .satis-large {display:inline-block; margin-top:6px;}
.pro-detail-info .satis-large > p {display:inline-block;}
.pro-detail-info .satis-large .tit {margin-left:10px; font-size: 14px; text-align: right; color: #666;}
.pro-detail-info .satis-large .tit > * {vertical-align: top;}
.pro-detail-info .table-area {margin-top:10px;}
.option-area {margin-top:20px;}
.option-result {margin-top:20px;}
.option-box {width:100%; margin-top: 10px; padding:16px; position: relative; background: #f5f5f5;}
.option-box:first-child {margin-top:0;}
.option-box .btn-del {position: absolute; top:16px; right:16px;}
.option-box .option-name {padding-right: 26px; font-size:14px;}
.option-box .option-name > p {width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.option-box .option-price {width:100%; margin-top:12px; padding-top:12px; border-top:1px solid #d7d7d7; display:-webkit-box; display:-ms-flexbox; display:flex; align-items: center;}
.option-box .option-price > li {flex:1;}
.option-box .option-price > li:last-child {flex:2; text-align: right;}
.option-box .option-price .price {font-size:20px; display:inline-block}
.option-box .option-price .btn-xs-small {margin-left:10px;}
.option-box .option-price .price > b {font-size:30px; vertical-align:text-bottom; font-weight: 700;}
.option-box .minimum-order {margin-top:3px; font-size: 13px; color: #666;}
.option-box .normal-price {font-size: 16px; color: #999; text-decoration:line-through;}
.product-total {margin-top:20px; padding:20px 0 40px; border-top:1px solid #000; display:-webkit-box; display:-ms-flexbox; display:flex; align-items: center;}
.product-total .tit {flex: 1; font-size: 23px; font-weight: 500; color: #333;}
.product-total .total-price {flex: 2; text-align: right;}
.product-total .total-price .price {font-size: 28px;}
.product-total .total-price .price > b {font-size: 42px; font-weight:700; vertical-align: text-bottom;}
.product-total .price-info {font-size: 14px; color: #999;}

.product-banner-area {width:100%; margin:100px 0; display:-webkit-box; display:-ms-flexbox; display:flex;}
.product-banner-area > li {flex:1;}
.product-banner-area > li img {width:100%;}
.product-banner-area > li + li {margin-left:24px;}

.action-bar {display:none; width:100%; position:fixed; bottom:0; left:0; z-index:102;}
.action-bar .detail-btn {display:flex;}
.action-bar .detail-btn > li {flex:1; height:50px; align-self:center; background:#000; color:#fff;}
.action-bar .detail-btn > li + li {border-left:1px solid #d7d7d7;}
.action-bar .detail-btn > li.share-area {width:125px; padding:0 12px; flex:1; font-size:0;}
.action-bar .detail-btn > li.buy-area {flex:2.317;}
.action-bar .detail-btn .btn {height:100%; display:inline-block; text-align:center; line-height:50px; vertical-align:middle;}

.option-ly-btn {width:48px; height:20px; display:inline-block; margin-left:-24px; font-size:0; position:absolute; top:-19px; left:50%; z-index:1; background: url(../images/common/btn_ly_option_more.svg) 0 0 no-repeat;}
.option-ly-btn-open {width:48px; height:20px; display:inline-block; margin-left:-24px; font-size:0; position:absolute; top:-20px; left:50%; z-index:1; background: url(../images/common/btn_ly_option_more_on.svg) 0 0 no-repeat;}
.ly-detail {width:100%; padding:0 20px 83px; background:#fff; position:fixed; bottom:0; left:0; z-index:100; transition-duration:0.5s; -moz-transition-duration:0.5s; display:none;}
.ly-detail.open {display:block;}
.ly-detail .option-select-area {}
.ly-detail .option-select-area + .option-select-area {margin-top:5px;}
.ly-detail .option-select-area + .option-list {margin-top:10px;}
.ly-detail .option-select-area > li + li {margin-top:5px;}
.ly-detail .btn-full-area {display:none; width:100%; position: fixed; bottom:0; left:0; z-index:100;}
.ly-detail .option-result {height:235px; overflow-x: hidden; overflow-y: auto;}

.ly-detail .option-list {overflow-x:hidden; overflow-y:auto; max-height:174px;}
.ly-detail .option-list > li {padding:15px 0; height:58px; line-height:25px;}
.ly-detail .option-list > li + li {border-top:1px dashed #d7d7d7;}
.ly-detail .option-list li.none-option {height:45px; padding-top:0;}
.ly-detail .option-list li.none-option .right-area {width:100%;}
.ly-detail .option-list li.none-option .spinner {width:100%;}
.ly-detail .option-list .option-name {float:left; font-weight:500; font-size:16px;}
.ly-detail .option-list .right-area {float:right; text-align:right;}
.ly-detail .option-total {width:100%; padding:20px 0 10px; border-top:1px solid #d7d7d7; text-align:right;}
.ly-detail .option-total .price {margin-left:5px; font-size:18px; font-weight:700;}
.ly-detail .option-total .price b {font-size:22px; vertical-align:text-top; font-weight:900;}
.ly-detail .option-total .tit {font-size:14px; color:#666;}
.ly-detail .option-del {width:20px; height:20px; margin-left:7px; background:url(../img/common/btn_option_close.png) 0 0 no-repeat; background-size:20px auto; display:inline-block; font-size:0;}
.ly-detail .btn-area {padding-top:20px;}
.detaileLyDim {width:100%; height:100%; overflow:hidden; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; z-index:99;}

.product-detail .tit-type1-1 {text-align: center;}

.personalization-area {margin:100px 0 120px;}

/* 상품상세 리뷰 */
.product-detail .detail-review ul {border-top: 1px solid #d7d7d7;}
.product-detail .detail-review ul li {position: relative;  padding: 20px; border-bottom: 1px solid #d7d7d7;}
.product-detail .detail-review ul li:hover {background: #fafafa;}
.product-detail .detail-review ul li .review-info {display: flex; padding-bottom: 16px;}
.product-detail .detail-review ul li .review-info p {margin-right: 40px; width: 60px; font-size: 14px; line-height: 14px; color: #999;}
.product-detail .detail-review ul li .review-info p:last-child {margin-right: 0; width: auto;}
.product-detail .detail-review ul li .review-satisfaction-area {display: flex;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-large {padding-right: 40px; display: flex; justify-content: space-between; position: relative;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-large:after {content: ''; display: inline-block; position: absolute; top: 6px; right: 0; width: 1px; height: 16px; background: #d7d7d7;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-large .tit {width: 83px; margin-right: 10px; font-size: 18px; line-height: normal; color: #000;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-small {padding-left: 40px; display: flex;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-small .satis-s-list {display: flex; padding-right: 40px;}
.product-detail .detail-review ul li .review-satisfaction-area .satis-small .satis-s-list .tit {margin-right: 10px; font-size: 16px; line-height: normal; color: #333; }
.product-detail .detail-review ul li .review-option {display: flex; padding-top: 25px;}
.product-detail .detail-review ul li .review-option p {font-size: 18px; line-height: 20px; color: #999; padding-right: 10px;}
.product-detail .detail-review ul li .review-text {display: block; margin-top: 10px; padding: 0 100px 6px 0; font-size: 16px; line-height: 19px; color: #000;}
.product-detail .detail-review ul li .review-front-img {position: absolute; bottom: 20px; right: 0;}
.product-detail .detail-review ul li .review-front-img img {max-width: 70px; max-height: 70px; background: #d7d7d7;}
.product-detail .detail-review ul li .review-cont-img {display: none;}
.product-detail .detail-review ul li.on {background: #fafafa;}
.product-detail .detail-review ul li.on .review-text {padding-right: 0;}
.product-detail .detail-review ul li.on .review-text p {display: block;}
.product-detail .detail-review ul li.on .review-front-img {display: none;}
.product-detail .detail-review ul li.on .review-cont-img {width:580px; display: block; margin-top: 30px;}
.product-detail .detail-review ul li.on .review-cont-img img {width:auto; max-width: 580px; margin-bottom: 10px;}
.product-detail .detail-review ul li.on .review-cont-img img:last-child {margin-bottom: 0;}
.product-detail .detail-review .detail-review-empty {text-align: center; border-bottom: 1px solid #d7d7d7; padding: 30px 0;}
.product-detail .detail-review .detail-review-empty p {padding-top: 80px; font-size: 16px; line-height: 22px; color: #999; background: url(../images/common/icon_list_empty.svg) center 0 no-repeat;}

/* 리뷰작성 */
.pop-review-write > ul > li {padding: 20px 0;}
.pop-review-write .pop-product {display: flex;}
.pop-review-write .pop-product .pro-img-area img {max-width: 100px; max-height: 100px;}
.pop-review-write .pop-product .pro-text-area {margin-left: 20px; display: flex; flex-direction: column; justify-content: center;}
.pop-review-write .pop-product .pro-text-area .pro-name {font-size: 15px; color: #000; padding-bottom: 5px;}
.pop-review-write .pop-product .pro-text-area .pro-option {font-size: 14px; color: #666; padding-bottom: 15px;}
.pop-review-write .pop-product .pro-text-area .pro-price {display: flex; align-items: flex-end;}
.pop-review-write .pop-product .pro-text-area .pro-price p {font-size: 14px; color: #666; line-height: 21px;}
.pop-review-write .pop-product .pro-text-area .pro-price p + p {padding-left: 5px;}
.pop-review-write .pop-product .pro-text-area .pro-price p b {font-size: 20px; line-height: 22px; color: #000;}
.pop-review-write .pop-product .pro-text-area .pro-price p span {font-size: 12px; line-height: 12px; color: #000; vertical-align: text-bottom;}
.pop-review-write .pop-satis .satis-tit {display: block; font-size: 18px; line-height: 16px; color: #000; padding-bottom: 16px; text-align: center;}
.pop-review-write .pop-satis .pro-satis-list {display: flex; flex-wrap: wrap;}
.pop-review-write .pop-satis .pro-satis-list .pro-satis-con {width: 50%; display: flex; align-items: center; justify-content: center; padding: 5px 0;}
.pop-review-write .pop-satis .pro-satis-list .pro-satis-con .rating-tit {width: 50px; font-size: 16px; line-height: 18px; color: #000; text-align: right; margin-right: 20px;}
.pop-review-write .pro-upload .upload-url {display: flex;}
.pop-review-write .pro-upload .upload-url label {width: 90px; line-height: 38px; font-size: 16px; color: #000;}
.pop-review-write .pro-upload .upload-url label + input[type='text'] {width: 350px;}
.pop-review-write .pro-upload .upload-area + .upload-url {padding-top: 16px;}


/* 상품상세 정보 */
.product-detail .detail-wrap > div{margin-top: 80px;position: relative;}
.product-detail .detail-wrap > div:first-child{margin-top: 0px;}
.product-detail .detail-wrap > div a.certificate{position: absolute;top:0;right: 0;border: 1px solid #000;line-height: 26px;padding:0 12px;}
.product-detail .detail-wrap > div p{font-size: 24px;}
.product-detail .detail-wrap .detail-img{width: 860px; margin: 80px auto 0;}
.product-detail .detail-wrap .table-area th{width: 250px;}
.product-detail .detail-wrap .table-area th,.product-detail .detail-wrap .table-area td{text-align: left;height:auto;padding: 16px 30px 17px;border-left: none;}
.product-detail .detail-wrap .table-area td span.kc{padding-left:18px;background: url(../images/common/img_kc.svg) 0 3px no-repeat;}
.product-detail .detail-wrap .table-area td span.green{padding-left:18px;background: url(../images/common/img_green.svg) 0 6px no-repeat;}
.product-detail .detail-wrap .table-area td span em{vertical-align: top;}

/* 상품상세 문의 */
.product-detail .tit-sub  {width: 90%;font-size: 16px;margin-top: 20px;color:#666}
.product-detail .qna-wrap > ul >  {border-bottom: 1px solid #D7D7D7;}
.product-detail .qna-wrap > ul > li{border-top: 1px solid #D7D7D7;position: relative;}
.product-detail .qna-wrap > ul > li.none p{text-align: center;padding:110px 0 30px;background: url(../images/common/icon_none2.svg) 50% 30px no-repeat;color: #999;}
.product-detail .qna-wrap .tit{line-height:60px;text-align: center;color:#999;}
.product-detail .qna-wrap .tit::after {content: ""; display: block; clear: both;}
.product-detail .qna-wrap .tit > div{float: left;width:10%;;color:#346DD0}
.product-detail .qna-wrap .tit > div.done{color:#000}
.product-detail .qna-wrap .tit > p{float: left;width: 65%;color:#000;text-align: left;padding:0 20px}
.product-detail .qna-wrap .tit > span{float: left;width:10%;}
.product-detail .qna-wrap .tit > span.date{float: left;width:15%;text-align: left;}
.product-detail .qna-wrap .tit > .btn-tg{position: absolute;top:22px;right:20px;width:18px;height: 18px;text-indent: -9999px; font-size: 0;height: 18px;background: url(../images/common/icon_arr_01.svg) 0 0 no-repeat;}
.product-detail .qna-wrap .tit.on > .btn-tg {transform: rotate(-180deg);}
.product-detail .qna-wrap .content{position:relative;padding: 20px 60px 20px 117px;background: #FAFAFA;}
.product-detail .qna-wrap .content::before{content: "ㄴ";position: absolute;top:20px; left: 60px;width: 17px;height: 21px;}
.product-detail .qna-wrap .content > p{font-size:14px; color: #666666;}
.product-detail .qna-wrap .content > p em{vertical-align: top;padding-left: 10px;}
.product-detail .qna-wrap .content > p em::before{content: "|";width: 2px;height: 15px;padding-right: 10px;}
.product-detail .qna-wrap .content > div p{position: relative;;font-size: 16px;margin-top: 10px;padding-left: 28px;}
.product-detail .qna-wrap .content > div p::before{content: "";position: absolute;top:2px;left:0;width: 18px;height: 18px;padding-right: 10px;background: url(../images/common/icon_q.svg) 0 0 no-repeat;}
.product-detail .qna-wrap .content > div p.answer{margin-top: 16px;}
.product-detail .qna-wrap .content > div p.answer::before{background: url(../images/common/icon_a.svg) 0 0 no-repeat;}
.product-detail .txt-center{margin: 20px 0;}
.product-detail .more.btn{border:1px solid #000;padding:0 19px;line-height: 28px;}
.product-detail .more.btn::after{content: "+";padding-left:5px}
.txt-center{text-align: center;}

/* 상품상세 배송 */
.product-detail .delivery-info {border-top:1px solid #000;}
.product-detail .delivery-info > p{font-size: 18px;margin-top: 60px;}
.product-detail .delivery-info > p:first-child{margin-top: 30px;}
.product-detail .delivery-info > p b{color:#346DD0;vertical-align: top;}
.product-detail .delivery-info .text-info{margin-top: 16px;}
.product-detail .text-info ul{}
.product-detail .text-info ul li{font-size: 16px; color:#666;margin-top: 5px;padding-left: 10px;}
.product-detail .text-info ul li:before{content: "-";display: inline-block;margin-left: -10px;padding-right: 4px;}

/* 상품상세 팝업*/
.popup-cont .lyPopCont > .pop-layout-txt {color: #666;}
.popup-cont .pop-layout-txt3 {margin-top: 10px;font-size: 14px; color: #999;}
.popup-cont .file-upload-btn > label{display: inline-block; width: 118px; height: 36px;border:1px solid #000; margin-left: 5px;text-align: center;line-height: 34px;}
.pop-ip-area label + .form-layout2{width:calc(100% - 373px);}
.pop-ip-area2 > label + .form-layout {line-height: 38px;}
.pop-layout > ul > li.pop-ip-tit {background: #F5F5F5;}
.pop-layout > ul > li.pop-ip-tit > p{line-height: 38px;padding-left: 20px;}
.pop-ip-area label + .form-layout.radio{flex-direction: column;}
.pop-ip-area .form-layout.radio label{line-height: 31px;}
#cartPopup .btn-area02 a{width:168px;}
.pop-cart .add-cart{text-align: center;font-size: 16px;padding: 100px 0 20px;background: url(../images/common/icon_cart_02.svg) 50% 20px no-repeat;}
.pop-cart .cart-select{display: flex;border:none;padding:0;margin: 0;}
.pop-cart .cart-select select{flex:1}
.pop-cart .cart-select button{width:110px;height: 38px;line-height: 36px;text-align: center;font-size: 14px;color: #000;background: #fff;border: 1px solid #000;margin-left:5px;}
.pop-cart .cart-add-select{margin-top: 30px; border-top:1px solid #D7D7D7;}
.pop-cart .cart-add-select > p{margin:20px 0 16px;}
.pop-cart .cart-add-select > span{font-size: 14px;color:#999;display: block;padding-right: 60px;}
.pop-cart .cart-add-select .form-area{margin-bottom: 10px;}

/* ==========================================================================
    상품목록
========================================================================== */
.pro-list-cont {margin-top:30px;}
.location {width:100%; margin-bottom:50px; display:inline-block;}
.location > .home {width:18px; height:18px; font-size:0; background: url(../images/common/icon_home.svg) 0 0 no-repeat; display:inline-block; float: left;}
.location-list {float: left; display:inline-block;}
.location-list > li {margin-left:12px; padding-left:13px; position: relative; float: left;}
.location-list > li::before {content: ""; width:1px; height:10px; background:#e5e5e5; display:inline-block; position: absolute; top:50%; left:0; transform: translateY(-50%);}
.location-list > li .select-type-s {width:163px; height:18px; padding-right:21px; line-height:18px; font-size:14px; color:#666; background:url(../images/common/arrow_select.svg) 100% 0 no-repeat; vertical-align: top;}
.pro-list-cont .tit-type1-2 {margin-bottom:30px;}
.filter-box {padding:31px 30px; border:1px solid #d7d7d7; border-top:1px solid #333; margin-bottom:10px;}
.filter-box > ul {width:100%; overflow: hidden;}
.filter-box > ul > li {width:16.666%; float:left;}
.filter-box > ul > li > a {width:100%; height:100%; display:inline-block;}
.filter-box > ul > li .num {vertical-align: top;}
.filter-box .filter-rd {position: relative;}
.filter-box .filter-rd input {opacity: 0; position: absolute; top:0; left:0;}
.filter-box .filter-rd > span {height:40px; line-height:40px; font-size:16px; color:#666; vertical-align: middle;}
.filter-box .filter-rd > span b {max-width:calc(100% - 44px); font-weight:400; vertical-align:top; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.filter-box .filter-rd input:checked + span {color:#333; font-weight: 500;}
.filter-box .filter-rd input:checked + span > b {font-weight: 500;}
.filter-price {width:100%; display:flex; padding:20px 30px; border:1px solid #d7d7d7;}
.filter-price > li {display:inline-block;}
.filter-price > li:first-child .cont {width:382px; margin-right:95px;}
.filter-price > li:last-child .cont {width:467px;}
.filter-price .tit {margin-right: 30px; font-weight: 500; font-size: 16px; text-align: left; color: #000; display:inline-block;}
.filter-price .cont {display:inline-block;}

.product-result {margin-top:54px;}
.product-result .tit-area {padding-bottom:20px; border-bottom:1px solid #d7d7d7;}
.product-result .product-list-wrap {margin-top:30px;}
.product-result .paging {margin-top:70px;}

.list-top-area {display:flex; align-items:flex-end; flex-wrap: wrap; justify-content:space-between;}
.list-top-area .tab-rd-area {flex:1;}
.list-top-area .right-area {display:inline-block;}

.btn-list-layout {width: 55px; height: 28px; background: url(../images/common/btn_list_layout.svg) 0 0 no-repeat; display:inline-block; font-size:0;}
.btn-list-layout.on {background: url(../images/common/btn_list_layout_on.svg) 0 0 no-repeat;}

.rd-tab-area {}
.rd-tab-area > li {display:inline-block;}
.rd-tab-area > li + li {margin-left:24px;}
.rd-tab-area .rd-tab {display:inline-block;}
.rd-tab-area .rd-tab > span {padding-bottom:5px; font-size:16px; position:relative; cursor:pointer; display:inline-block;}
.rd-tab-area .rd-tab > input {width:0; height:0; opacity: 0; overflow: hidden;}
.rd-tab-area .rd-tab input:checked + span {color:#346dd0; font-weight:500;}
.rd-tab-area .rd-tab input:checked + span::after {content:""; width:100%; height:2px; background:#346dd0; display:inline-block; position:absolute; bottom:0; left:0; z-index:1;}

.rd-btn-area {font-size:0; margin-left:-5px; margin-top:-5px;}
.rd-btn-area .rd-btn {margin-left:5px; margin-top:5px; display:inline-block;}
.rd-btn-area .rd-btn > span {width: 118px; height: 38px; line-height: 37px; background: #fff; border: 1px solid #bbb; font-size: 14px; color: #666; text-align: center; display:inline-block;}
.rd-btn-area .rd-btn > input {width:0; height:0; opacity: 0; overflow: hidden;}
.rd-btn-area .rd-btn input:checked + span {color:#346dd0; border: 1px solid #346dd0;}

.filter-detail-area {overflow: hidden;}
.filter-detail-area .right-area {margin:10px 0; float:right;}
.btn-filter-detail {width: 118px; height: 38px; background: #346dd0; color:#fff; font-size: 14px; text-align: center;}
.btn-filter-detail::before {content: ""; width:18px; height:18px; margin-top:2px; display:inline-block; background: url(../images/common/icon_filter.svg) 0 0 no-repeat; vertical-align: top;}
.filter-detail-box {width:100%; overflow: hidden; border: 1px solid #d7d7d7;}
.filter-detail-box.filterDetailBox {display:none}
.filter-detail-box > dl {padding:30px; display:flex;}
.filter-detail-box > dl + dl {border-top:1px solid #d7d7d7;}
.filter-detail-box > dl > dt {width:188px; font-weight: 500; font-size: 16px; color: #000;}
.filter-detail-box > dl > dd {flex:1;}
.filter-detail-box .filter-chk-list {margin-top:-18px; font-size:0; overflow: hidden;}
.filter-detail-box .filter-chk-list > li {width:16.666%; padding-top:18px; display:inline-block; font-size:16px; color: #666;}
.filter-detail-box > dl.sub-sort {border:0; padding-top:0;}
.filter-detail-box > dl.selection-result {padding:20px 30px; background: #f8faff; position: relative;}
.filter-detail-box > dl.selection-result > dt {font-size: 14px; color: #333; font-weight: 400;}
.selection-area {margin-left:-20px; margin-top:-18px; padding-right:178px;}
.selection-area .selection-item {margin-left:20px; margin-top:18px; font-weight: 500; font-size: 14px; color: #346dd0; display:inline-block;}
.selection-area .selection-item .del {width: 18px; height: 18px; display:inline-block; background: url(../images/common/btn_tooltip_close.svg) 0 0 no-repeat; display:inline-block; font-size:0; vertical-align: top;}
.selection-result .btn-style-m1 {position: absolute; top:50%; right:30px; transform: translateY(-50%);}

.btn-filter-more {width:100%; height:32px; background:url(../images/common/btn_filter_more.svg) 50% 50% no-repeat #fff; font-size:0;}
.btn-filter-more.on {transform: rotate(-180deg);}

.tit-type2-1 .mo-hide {display: inline-block; vertical-align: top;}

/* 유닛 리스트형 */
.proList.product-list-wrap .product-list > li {width:100%; border-top:1px solid #d7d7d7;}
.proList .unit-type1 {height:auto; padding:30px 30px 30px 62px;}
.proList .unit-type1 .unit-area {height:auto;}
.proList .unit-type1 .unit-area {padding:0; display:flex;}
.proList .unit-type1 .unit-area > dt {width: 156px; height: 156px;}
.proList .unit-type1 .unit-area > dd {flex:1; padding:0 0 0 20px;}
.proList .unit-type1 .unit-layer {display:block; border:0;}
.proList .unit-type1 .check-style2 {top:97px;}
.proList .unit-type1 .unit-layer .unit-link {height:auto;}
.proList .unit-type1 .unit-layer .unit-under-btn {width:auto; display:inline-block;}
.proList .unit-type1 .unit-layer .unit-under-btn > li {flex:inherit;}
.proList .unit-type1 .unit-layer .unit-under-btn > li > a {width:auto;}
.proList .unit-type1 .unit-layer .unit-under-btn > li + li {border:0;}
.proList .unit-type1 .unit-area .product-name {width:100%; height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -webkit-line-clamp: 1;}
.unit-type1 .standard {display:none;}
.proList .unit-type1 .standard {margin:6px 0;font-size: 14px; color: #999; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.unit-type1 .satis-large {display:none;}
.proList .unit-type1 .satis-large {display:block;}
.proList .unit-type1 .satis-large .rating {display:inline-block;}
.proList .unit-type1 .satis-large .tit {margin-left:6px; font-size: 14px; color: #666; display:inline-block;}
.proList .unit-type1 .satis-large .tit .num {vertical-align: top;}
.proList .unit-type1 .normal-price {display:inline-block;}
.proList .unit-type1 .unit-area .price-area {display:inline-block; align-items:inherit;}
.proList .unit-type1 .unit-area .price {flex:inherit; margin-left:10px; font-size:14px;}
.proList .unit-type1 .unit-area .price > b {font-size:22px;}
.proList .unit-type1 .unit-area .sale {margin:0 0 0 10px; display:inline-block; font-size:22px; text-align: left;}
.proList .unit-type1 .unit-layer .unit-under-btn {width: 178px; height:auto; padding:30px; bottom:inherit; top:0; right:0; background:none;}
.proList .unit-type1 .unit-layer .unit-under-btn .btn-buynow {width: 118px; height: 38px; background:#346dd0; font-size:14px; line-height:37px;}
.proList .unit-type1 .unit-layer .unit-under-btn .btn-cart,
.proList .unit-type1 .unit-layer .unit-under-btn .btn-like {width: 118px; height: 38px; background:#fff; font-size:14px; line-height:35px; border:1px solid #000; color:#000;}
.proList .unit-type1 .unit-layer .unit-under-btn .btn-like {margin-left:0;}
.proList .unit-type1 .unit-layer .unit-under-btn .btn-restock {width: 118px; height: 38px; background:#000; font-size:14px; line-height:37px;}

/* 바로구매 장바구니 팝업 */
.ly-buyNowLy .ly-buyNowLy-wrap {}
.ly-buyNowLy .ly-buyNowLy-cont {padding:30px; overflow: hidden;}
.ly-buyNowLy .pro-detail-slide {width:390px; padding-left:0; float: left;}
.ly-buyNowLy .pro-detail-slide .productDetaileSlide {width:100%; height:70px; padding:0; margin-top:10px; position: inherit; top:inherit; left:inherit; z-index:inherit;}
.ly-buyNowLy .pro-detail-slide .productDetaileSlide .swiper-wrapper {height:70px;}
.ly-buyNowLy .pro-detail-slide .productDetaileSlide .swiper-slide {height:auto !important;}
.ly-buyNowLy .pro-detail-slide .productDetaileSlide2 {width:100%;}
.ly-buyNowLy .pro-detail-slide .swiper-slide .product-img {width:100%; height:390px;}
.ly-buyNowLy .option-wrap {width:390px; float:right;}
.ly-buyNowLy .pro-detail-info {width:100%; margin:0; padding-bottom:10px; border-bottom: 1px solid #000;}
.ly-buyNowLy .pro-detail-info .price-area {margin-top:10px;}
.ly-buyNowLy .pro-detail-info .product-name {margin-top:5px; overflow:hidden; text-overflow:ellipsis; display:inline-block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-wrod; font-size:22px;}
.ly-buyNowLy .pro-detail-info .brand {margin-top:0;}
.ly-buyNowLy .pro-detail-info .normal-price {margin-top:10px; display:inline-block; color:#999; font-size:14px; text-decoration: line-through;}
.ly-buyNowLy .pro-detail-info .normal-price > b {font-size:16px; font-weight: 400; vertical-align: text-bottom;}
.ly-buyNowLy .pro-detail-info .price-area .price {font-size: 20px;}
.ly-buyNowLy .pro-detail-info .price-area .price > b {font-size: 28px;}
.ly-buyNowLy .option-result {height:222px; overflow-x: hidden; overflow-y: auto;}
.ly-buyNowLy .product-total {padding-bottom:0;}
.ly-buyNowLy .product-total .tit {font-size:20px;}
.ly-buyNowLy .product-total .total-price .price {font-size:20px;}
.ly-buyNowLy .product-total .total-price .price > b {font-size:28px;}
.ly-buyNowLy .cart-select-area {margin-top:24px;}
.ly-buyNowLy .cart-select-area .tit {margin-bottom:10px; font-size: 16px;}
.ly-buyNowLy .btn-area {overflow:hidden; padding:30px; text-align:center; border-top:1px solid #d7d7d7;}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1200px){
}


@media only screen and (max-width:1024px){ /* ipad pro*/
}

/* 모바일 시작 */
@media only screen and (max-width:800px){
    /* 상품상세 상단 */
    .pro-detail-photo {width:100%;}
    .pro-detail-slide .swiper-container {height:auto;}
    .pro-detail-slide {padding-left:0;}
    .pro-detail-slide .productDetaileSlide {width:100%; padding:0 20px; margin-top:10px; position: inherit; top:inherit; left:inherit; z-index:inherit;}
    .pro-detail-slide .productDetaileSlide .swiper-wrapper {height:16vw;}
    .pro-detail-slide .productDetaileSlide .swiper-slide {height:auto !important;}
    .pro-detail-slide .productDetaileSlide2 {width:100%;}
    .pro-detail-slide .swiper-slide .product-img {width:100%; height:100vw;}
    .pro-detail-reporting {display:none;}
    .pro-detail-info {width:100%; margin-left:0; padding:20px 20px 0;}
    .pro-detail-info .brand {font-size: 13px;}
    .pro-detail-info .product-name {font-size:20px;}
    .pro-detail-info .product-info {font-size:14px;}
    .pro-detail-info .group-buying {}
    .pro-detail-info .group-buying > .tit {display:block; margin-bottom:8px;}
    .pro-detail-info .group-buying .buying {float: right;}
    .pro-detail-info .satis-large {margin-top:8px;}
    .pro-detail-info .table-area {margin-top:18px;}
    .option-box {padding:16px 20px; margin-top:5px;}
    .option-box .option-name {font-size:13px;}
    .option-box .normal-price {font-size:13px;}
    .option-box .option-price {margin-top:16px; height:79px; padding-top:12px; align-items: flex-end;}
    .option-box .option-price .price {width:100%; font-size: 12px; text-align:right;}
    .option-box .option-price .price > b {font-size: 22px;}
    .option-box .option-price .btn-xs-small {margin:5px 0 0;}
    .option-result {margin-top:16px;}
    .product-total {margin-top:16px; padding:20px 0;}
    .product-banner-area {width:100%; margin:30px 0; padding:0 20px; display:block;}
    .product-banner-area > li {flex:1;}
    .product-banner-area > li + li {margin-left:0; margin-top:10px;}
    .action-bar {display:block;}
    .option-pc-area {display:none;}
    .product-total .total-price .price {font-size: 22px;}
    .product-total .total-price .price > b {font-size: 32px;}
    .product-total .price-info {margin-top:5px; font-size:12px;}
    .product-total .tit {font-size:18px;}
    .option-box .btn-del {top:14px; right:14px;}
    .personalization-area {margin:60px 0 120px; padding:0 15px;}

    .btn-full-area {padding:20px; background:#fff; border-top:1px solid #d7d7d7;}
    .ly-detail .btn-full-area {display:flex;}

    /* 상품상세 리뷰 */
    .product-detail .detail-review ul li .review-info {padding-bottom: 6px;}
    .product-detail .detail-review ul li .review-info p {font-size: 12px; margin-right: 20px;}
    .product-detail .detail-review ul li .review-satisfaction-area {display: block;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-large {justify-content: flex-start;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-large:after {display: none;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-large .tit {font-size: 15px; width: auto;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-small {padding-top: 5px; padding-left: 0; flex-wrap: wrap;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-small .satis-s-list {width: 50%; padding-right: 0; padding-bottom: 5px;}
    .product-detail .detail-review ul li .review-satisfaction-area .satis-small .satis-s-list .tit {font-size: 13px;}
    .product-detail .detail-review ul li .review-option {padding-top: 16px; display: block;}
    .product-detail .detail-review ul li .review-option p {font-size: 13px; line-height: 16px; margin-bottom: 5px;}
    .product-detail .detail-review ul li .review-front-img {right: 20px;}
    .product-detail .detail-review ul li .review-front-img img {max-width: 60px; max-height: 60;}
    .product-detail .detail-review ul li .review-text {font-size: 15px; line-height: 19px; padding: 0 80px 0 0;}
    .product-detail .detail-review ul li.on .review-cont-img {width:100%; margin-top: 20px;}
    .product-detail .detail-review ul li.on .review-cont-img img {max-width:100%;}
    .product-detail .detail-review .detail-review-empty {padding: 20px 0;}
    .product-detail .detail-review .detail-review-empty p {padding-top: 38px; font-size: 14px; line-height: 18px; background: url(../images/common/mo_icon_list_empty.svg) center 0 no-repeat;}

    /* 상품상세 정보 */
    .product-detail .detail-wrap {padding:0 20px;}
    .product-detail .detail-wrap .detail-img{width: 100%;margin-top: 30px;}
    .product-detail .detail-wrap > div{margin-top: 30px;}
    .product-detail .detail-wrap > div p{font-size: 16px;}
    .product-detail .detail-wrap .table-area td span.kc{line-height: 18px;background-size: 12px auto;background-position:0 0 ;}
    .product-detail .detail-wrap .table-area td span.green{line-height: 18px;background-position:0 1px ;}
    .product-detail .detail-wrap .table-area th{width: 112px;}
    .product-detail .detail-wrap .table-area.w-124 th{width: 124px;}
    .product-detail .detail-wrap .table-area span{display: block;}
    .product-detail .detail-wrap .table-area th,.product-detail .detail-wrap .table-area td{font-size: 13px;text-align: left;height:auto;padding: 13px 10px 12px;border-left: none;}

    .product-detail .tit-sub  {width: 100%;margin-top: 5px;font-size:14px;}
    .product-detail .tit-sub + a {margin-top: 10px;}
    .product-detail .qna-wrap .tit{line-height:20px;text-align: left;color:#999;font-size: 14px;padding:20px 19px}
    .product-detail .qna-wrap .tit::after {content: ""; display: block; clear: both;}
    .product-detail .qna-wrap .tit > div{width:19%;}
    .product-detail .qna-wrap .tit > p{width: 81%;padding:0 0 0 15px}
    .product-detail .qna-wrap .tit > span{width:19%;margin-top: 10px;}
    .product-detail .qna-wrap .tit > span.date{width:81%;padding:0 0 0 15px}
    .product-detail .qna-wrap .tit > .btn-tg{position: absolute;top:22px;right:20px;width:18px;height: 18px;text-indent: -9999px; font-size: 0;height: 18px;background: url(../images/common/icon_arr_01.svg) 0 0 no-repeat;}
    .product-detail .qna-wrap .content{padding: 20px 20px 20px 55px;}
    .product-detail .qna-wrap .content::before{top:20px;left:20px;}
    .product-detail .qna-wrap .content > p{font-size:13px;}
    .product-detail .qna-wrap .content > div p{font-size:14px;}
    .product-detail .qna-wrap ul li.none p{background-size: 50px;padding:80px 0 20px;background-position:50% 20px;font-size: 14px;}

    .product-detail .delivery-info{padding:20px 0px;margin: 0 20px;}
    .product-detail .delivery-info > p{font-size: 16px;margin-top: 20px;}
    .product-detail .delivery-info > p:first-child{margin-top: 0;}
    .product-detail .delivery-info .text-info {margin-top: 10px;}
    .product-detail .delivery-info .text-info ul li{font-size:13px;}
    .product-detail .delivery-info table{font-size: 13px;}
    .product-detail .delivery-info td{line-height: 16px;padding:0 10px}
    .product-detail .delivery-info td:last-child{padding:0 20px}
    .product-detail .delivery-info .table-info{font-size: 13px;margin-top: 10px;}

    /* 상품상세 팝업 */
    .pop-ip-area2 {flex-direction: inherit;}
    .pop-ip-area2 > label {width: 70px;padding-bottom: 0;line-height: 19px;}
    .pop-ip-area2 > label + .form-layout {width: calc(100% - 70px);line-height: 19px;}
    .pop-ip-area label + .form-layout2{width:100%;}
    .pop-layout.pop-write-m > ul > li{padding:16px 20px;}
    .pop-layout.pop-write-m > ul > li.pop-ip-tit > p{padding-left: 0;line-height: 19px;}
    .pop-layout.pop-write-m > ul > li .form-layout p.name{overflow: hidden;text-overflow: ellipsis;display: inline-block;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-wrap: break-wrod;}
    .popup-cont .pop-layout.pop-write-m .file-upload-btn > label {width: 68px;}
    .popup-cont .pop-layout-txt3 {margin-top: 5px;}
    .pop-ip-area .form-layout.radio label{line-height: 19px;}
    .pop-ip-area .form-layout.radio label span{position: absolute;margin-left: 10px;}
    .pop-cart .add-cart{padding:110px 0 40px;background-position: 50% 40px;margin: -20px;}
    .pop-cart .cart-select button{width:68px;}
    .pop-cart .cart-add-select{margin-top: 20px;}
    .pop-cart .cart-add-select > span{font-size: 13px;line-height: 18px;padding-right:0}
    .pop-cart .cart-add-select .form-area{margin-bottom: 10px;}
    #cartPopup .lyPopCont{min-height: 140px;}  
    #cartPopup .lyPopup .lyPopCont{padding:20px 20px 0}
    #cartPopup .btn-area02 a{width:calc(50% - 5px);}
    .btn.pc-hide {display:block;}
    .btn.mo-hide {display:none;}

    /* 리뷰팝업 */
    .pop-review-write .pop-product .pro-text-area {margin-left: 10px;}
    .pop-review-write .pop-product .pro-text-area .pro-name {font-size: 14px; padding-bottom: 3px;}
    .pop-review-write .pop-product .pro-text-area .pro-option {font-size: 12px; padding-bottom: 3px;}
    .pop-review-write .pop-product .pro-text-area .pro-price p {font-size: 12px; line-height: 19px;}
    .pop-review-write .pop-product .pro-text-area .pro-price p b {font-size: 18px;}
    .pop-review-write .pop-product .pro-img-area img {max-width: 80px; max-height:80px;}
    .pop-review-write .pop-satis .pro-satis-list .pro-satis-con {width: 100%;}
    .pop-review-write .pop-satis .pro-satis-list .pro-satis-con .rating-tit {font-size: 15px;}
    .pop-review-write .pro-upload .upload-area + .upload-url {padding-top: 10px;}
    .pop-review-write .pro-upload .upload-url {flex-direction: column;}
    .pop-review-write .pro-upload .upload-url label {width: 100%; line-height: inherit; padding-bottom: 8px; font-size: 15px;}
    .pop-review-write .pro-upload .upload-url label + input[type='text'] {width: 100%;}
    

    /* 상품목록 */
    .pro-list-cont {margin-top:36px;}
    .pro-list-cont .location {display: none;}
    .pro-list-cont .tit-type1-2 {margin-bottom:0;}
    .filter-box {height:108px; padding:0; border:0; margin:0; overflow: hidden;}
    .filter-box > ul > li {width:50%; padding:0 20px; border-bottom:1px solid #d7d7d7;}
    .filter-box > ul > li:nth-child(odd) {border-right:1px solid #d7d7d7;}
    .filter-box .filter-rd > span {height:36px; line-height:35px; font-size:14px;}
    .filter-box .filter-rd > span b {max-width:calc(100% - 27px);}
    .filter-price {width:100%; padding:16px 20px; border:0; border-top:10px solid #f5f5f5; border-bottom:10px solid #f5f5f5; display:block;}
    .filter-price > li {width:100%; position: relative;}
    .filter-price > li + li {margin-top:10px;}
    .filter-price .btn-style-m1 {width:68px; min-width:68px; height:36px; line-height: 35px;}
    .filter-price > li:first-child .cont,
    .filter-price > li:last-child .cont {width: 100%; margin-top:10px;}
    .btn-refresh {width:24px; height:24px; background: url(../images/common/mo_btn_refresh.svg) 50% 50% no-repeat; position: absolute; top:0; left:94px;}
    .form-layout .input-price {height:36px; line-height: 34px;}
    .product-result {margin:0; padding-top:20px; position: relative;}
    .tit-type2-1 .mo-hide {display:none;}
    .product-result .tit-type2-1 {font-size:18px;}
    .btn-list-layout {display:none;}
    .list-top-area {width:100%; overflow-y: hidden; overflow-x: auto;}
    .list-top-area .rd-tab-area {padding:0 20px 10px; white-space: nowrap; font-size:0;}
    .list-top-area .right-area {position: absolute; top:15px; right:20px;}
    .rd-tab-area .rd-tab > span {font-size:14px;}
    .rd-tab-area > li + li {margin-left:12px;}
    .product-result .product-list-wrap {margin-top:5px;}
    .product-result .tit-area {border-bottom:0; padding-bottom:0;}
    .btn.btn-filter-detail {width:98px; height:28px;}
    .btn.btn-filter-detail.pc-hide {display:inline-block;}
    .popup-type-m .lyPopup .popup-cont .lyPopCont.filter-popup {padding:0}
    .filter-detail-box {border:0;}
    .filter-detail-box > dl.selection-result {padding:0;}
    .selection-result > dt {display:none;}
    .selection-result > dd {width:100%; overflow-y: hidden; overflow-x: auto;}
    .selection-area {margin:0; padding:0 0 0 20px; white-space: nowrap;}
    .selection-area .selection-item {padding:15px 0 14px; margin:0 16px 0 0;}
    .selection-area .selection-item:last-child {margin:0 20px 0 0;}
    .filter-detail-box > dl.selection-result + dl {border-top:0;}
    .filter-detail-box > dl {display:block; padding:20px;}
    .filter-detail-box > dl > dt {width:100%;}
    .filter-detail-box .filter-chk-list {margin-top:0;}
    .filter-detail-box .filter-chk-list > li {width:50%; padding-top:16px;}
    .filter-detail-box > dl.sub-sort {padding-top:6px;}
    .filter-detail-box .rd-btn-area {margin-top:16px;}

    .rd-btn-area .rd-btn > span {width:107px; height:36px; line-height:35px;}

}
@media only screen and  (min-height:812px){ /* iphoneX */
}
@media only screen and (max-width:768px){ /* ipad */
}
@media only screen and (max-width:760px){
}
@media only screen and (max-width:480px){
}
@media only screen and (max-width:414px){ /* iphone plus */
}
@media only screen and  (max-width:375px){ /* iphone6 */
}
@media only screen and  (max-width:360px){ /* galaxy */
}
@media only screen and  (max-width:320px){ /* iphoneSE */
    .ly-detail .option-result {height:150px;}
    .product-total .total-price .price > b {font-size: 30px;}
    .product-total .price-info {font-size: 11px;}
    .option-box {padding:14px;}
}
@media only screen and  (max-height:568px){ /* 아이폰SE */

}