/* ==========================================================================
    프로모션
========================================================================== */
.promotion-cont .event-empty {text-align: center; border: 1px solid #d7d7d7; padding: 100px 0;}
.promotion-cont .event-empty p {padding-top: 80px; font-size: 16px; line-height: 22px; color: #999; background: url(../images/common/icon_none2.svg) center 0 no-repeat;}
.promotion-cont .tab-area .tab-style2 {text-align: center;}
.promt-banner {position: relative; text-align: center; margin-bottom: 50px;}
.promt-banner img {max-width: 100%;}
.promt-banner .ban-text-area {position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%);}
.promt-banner .ban-text-area .ban-tit {font-size: 28px; color: #fff; font-weight: 500; padding-bottom: 12px;}
.promt-banner .ban-text-area .ban-p {font-size: 16px; color: #e5e5e5; font-weight: normal;}
.promt-list-wrap {width:100%; max-width:1200px;}
.promt-list-wrap .promt-list {width:calc(100% + 14px); margin:0 -7px; font-size:0;}
.promt-list-wrap .promt-list > li {width:33.333%; padding:0 7px; display:inline-block;}

.promotion-detail .promt-top {display: flex; justify-content: space-between; align-items: flex-end; font-size: 0; padding-bottom: 10px; border-bottom: 1px solid #d7d7d7; }
.promotion-detail .promt-top p {max-width: 940px; height: 29px; font-size: 24px; color: #000; font-weight: 500;}
.promotion-detail .promt-top .promt-date span {font-size: 16px; color: #999;}
.promotion-detail .promt-top .promt-date .dday {color: #346dd0; font-weight: 500; margin-left: 10px;}
.promotion-detail .promt-top .promt-date .dday:before {content: ''; display: inline-flex; width: 1px; height: 10px; background: #d7d7d7; margin-right: 10px;}
.promotion-detail .promt-top .promt-date .dday.end {color: #eb3030;}
.promotion-detail .promt-cont {padding: 60px 100px; margin-bottom: 20px; }
.promotion-detail .promt-cont img {max-width: 100%;}
.promt-product-list .tit-area {margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #d7d7d7;}

.pop-ip-area .form-address {width: calc(100% - 190px);}
.pop-ip-area .form-address .form-layout input + button {margin-left: 5px;}
.pop-suggestion .user-search .pop-mo-form {display: flex; flex:1;}
.pop-suggestion .user-search .pop-mo-form .form-area {width: 100%;}
.pop-suggestion .user-search .pop-mo-btn {display: flex; margin-left: 5px;}
.pop-suggestion .user-search .pop-mo-btn .btn {margin-left: 0;}
.pop-suggestion .user-search .pop-mo-btn .btn + .btn {margin-left: 5px;} 
.pop-password .user-search .pop-mo-check {display: flex;}
.pop-password .user-search .pop-mo-check label + label {margin-left: 30px;}
.pop-password .tit-area3 + .pop-write {margin-top: 10px;}
.pop-password .pop-ip-area  {align-items: flex-start;}

     
/* 열린소싱상품제안 */
.suggestion-goods .list-con{padding-top:0px;}
.suggestion-goods .list-con  > .tit-type2-1:first-child {padding-top: 30px;}
.suggestion-goods .list-con .tit-type2-1 {padding-top:0;}
.suggestion-goods .list-con .list-in{margin-top:0px;border-top:none;}
.suggestion-goods .list-con > p + .list-in{margin-top: 10px;border-top: 1px solid #bbb;}
.suggestion-goods .list-con > .suggestion-tit + .list-in{margin-top: 10px;border-top: 1px solid #bbb;}
.suggestion-goods .list-con .list-in > li > label{width: 150px;}
.suggestion-goods .list-con .list-in > li div{margin-right: 40px;}
.suggestion-goods .list-con .list-in > li div.suggestion-date{margin-right: 0px;max-width: 530px;}
.suggestion-goods .list-con .list-in > li div.suggestion-date div{display: flex;flex: 1;}
.suggestion-goods .list-con .list-in > li div:last-child{margin-right: 0px;}
.suggestion-goods .list-con .list-in > li div.form-search{margin-right: 5px;width: 50%;}
.suggestion-goods .list-con .list-in > li.name div{max-width: 323px;}
.suggestion-goods .list-con .list-in > li div.radio{display: inline-table;max-width: calc(100% - 130px);}
.suggestion-goods .list-con .list-in > li div.radio div:last-child{margin-top: 20px;}
.suggestion-goods .list-con .list-in > li div.radio label{margin-right: 50px;}
.suggestion-goods .list-con .list-in > li div.radio label span{font-size: 16px;font-weight: normal;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap{max-width: calc(100% - 130px);position: relative;display: inline-table;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap label{margin-top: 10px;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap .btn-right{margin: 0px;}
.suggestion-goods .list-con .list-in > li.btn-right {display: block;margin: 0;}
.suggestion-goods .list-con .list-in > li .btn-right p{font-size: 14px;margin-top: 5px;}
.suggestion-goods .list-con .list-in > li .btn-right p .req{font-size: 14px;}
.suggestion-goods .list-con .list-in > li.write label{align-self: flex-start;}
.suggestion-goods .suggestion-date select{width:127px;margin-right: 5px;flex:none}
.suggestion-goods .suggestion-date em{margin:0 5px;line-height: 38px;}
.suggestion-goods .btn-right{text-align: right;margin: 30px 0;}
.mypage-cont .my-main .join-list-con .list-in.suggestion-step li label{width: 85px;}
.suggestion-goods .list-con .list-in.suggestion-step li div {max-width:100%;display: flex;flex:1}
.suggestion-goods .suggestion-step {margin-bottom: 50px;}
.suggestion-goods .suggestion-step li div p{position: relative;flex:1;width:175px;padding-top: 80px;margin-top: 10px;color: #999;background: url(../images/common/icon_step1.svg) top 0 left 50% no-repeat;text-align: center;}
.suggestion-goods .suggestion-step li div p.on{color: #346DD0;}
.suggestion-goods .suggestion-step li div p::after{content: '';position: absolute;top: 0;right: 0;width: 18px;height: 140px;background: url(../images/common/arrow_step.svg) top 50% right 0 no-repeat;}
.suggestion-goods .suggestion-step li div p:last-child::after{display: none;}
.suggestion-goods .suggestion-step li div p.step2{background: url(../images/common/icon_step2.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step3{background: url(../images/common/icon_step3.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step4{background: url(../images/common/icon_step4.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step5{background: url(../images/common/icon_step5.svg) top 10px left 50% no-repeat;margin-top: 0;}
.suggestion-goods .suggestion-tit{display: flex;margin-top: 30px;}
.suggestion-goods .suggestion-tit p.tit-type3-1{font-size: 16px;margin-left:20px;line-height: 24px;}

/* 열린소싱상품제안 팝업*/
.pop-account.pop-suggestion  > .form-area{width: 320px;margin: 30px auto 0 ;}
.pop-suggestion > p em{color:#666;vertical-align: top;}
.pop-suggestion .textarea-wrap{margin-top: 20px;}
.pop-suggestion .textarea-wrap textarea{margin-top: 10px;}
.pop-suggestion .user-search{display: flex;margin-bottom: 30px;}
.pop-suggestion .user-search select{width: 118px;}
.pop-suggestion .user-search .form-area{margin-left:5px;width: 394px;}
.pop-suggestion .user-search .btn-style-m1{margin-left:5px;}
.popup-type-m .lyPopup .popup-cont .pop-suggestion .btn-area{padding:0;border: none;width: auto;}
.pop-suggestion ul{border: none;}
.pop-suggestion ul li{border: none;}
.pop-suggestion ul li:nth-child(1){padding-top: 0;}
.pop-suggestion ul li span:nth-child(1){width: 130px;display: inline-block;}
.pop-suggestion .point-color2{font-size: 14px;margin-top: 20px;}

/* 마이페이지 주문현황 */
.mystate-con .btn-r-area3{padding-bottom: 0;}
.mystate-con .step-wrap{border-top:1px solid #bbb;margin-top: 10px;}
.mystate-con .step-wrap > ul {margin: 20px 0;}
.mystate-con .step-wrap > ul > li{margin-left: 57px;}
.mystate-con .step-wrap > ul > li:first-child{margin-left: 27px;}
.mystate-con .step-wrap > ul > li p{color:#999;}
.mystate-con  .state-text{background:#F5F5F5;margin-top: 20px;}
.mystate-con  .state-text p{line-height: 89px;font-size: 24px;text-align: center;}
.mystate-con  .state-text p em{vertical-align: top;color:#346DD0}
.mystate-con .product-info-list .list-con{padding-top:0}
.mystate-con .product-info-list .list-con .tgSlide{border-bottom: 1px solid #d7d7d7;}
.mystate-con .product-info-list .list-con .tgSlide .tgSlideCont .list-in{margin: 0;padding:0;border: none;}
.mystate-con .product-info-list .list-con .tgSlide .tgSlideBtn{font-size: 0;}
.mystate-con .product-info-list .list-con .tgSlide .tgSlideBtn::before{content: "+ 열기";font-size: 14px;}
.mystate-con .product-info-list .list-con .tgSlide .tgSlideBtn.on::before{content: "- 닫기"}
.mystate-con .product-info-list .list-con .list-in {border-bottom: none;}
.mystate-con .product-info-list .list-con .list-in > li.w100 {width: 100%}
.mystate-con .product-info-list .list-con .list-in > li > label{width: 170px; align-self: flex-start;}
.mystate-con .product-info-list .list-con .list-in > li p{color:#666;flex:1}
.mystate-con .product-info-list .list-con .list-in > li p a{color:#346DD0;text-decoration: underline ;}
.mystate-con .product-info-list > .list-con ul{border-bottom: 1px solid #d7d7d7;}
.mystate-con .product-info-list > .list-con ul:last-child{border-bottom: 0}
.mystate-con .product-info-list .list-con .btn-r-area3 {margin-bottom: 20px;}

/* 마이페이지 주문현황 팝업*/
.pop-myState .pop-layout > ul{border: none;}
.pop-myState .pop-layout > ul li{border: none;}
.pop-myState .pop-layout > ul li:first-child{padding-top: 0;}
.pop-myState .pop-layout > ul li label{width: 180px;padding-left: 0;}
.pop-myState .btn-r-area3{padding-top: 10px;}
.pop-myState .my-state-txt{margin-bottom: 20px;}

@media only screen and (max-width: 800px){
  /* ==========================================================================
    프로모션
  ========================================================================== */
  .promotion-cont {margin-top: 0;}
  .promotion-cont .event-empty {padding: 50px 0; margin: 0 20px;}
  .promotion-cont .event-empty p {padding-top: 60px; font-size: 14px; line-height: 18px; background: url(../images/common/mo_icon_none2.svg) center 0 no-repeat;}  
  .promt-banner .ban-text-area .ban-tit {font-size: 18px;}
  .promt-banner .ban-text-area .ban-p {font-size: 14px;}  
  .promt-list-wrap .promt-list {padding: 0 20px; width: auto;}
  .promt-list-wrap .promt-list > li {width: 100%;}

  .promt-banner {margin-bottom: 30px;}
  .promotion-detail {padding: 30px 0 0;}
  .promotion-detail .promt-top {display: block; margin: 0 20px;}
  .promotion-detail .promt-top p {width: 100% ;font-size: 16px; line-height: 21px; height: auto; padding-bottom: 6px;}
  .promotion-detail .promt-top .promt-date span {font-size: 14px;}
  .promotion-detail .promt-cont {padding: 30px 36px; border-bottom:10px solid #f5f5f5;}
  .promt-product-list .tit-area {border-bottom: 0; padding-bottom: 0; align-items: center;}

  .pop-ip-area .form-address {width: 100%;}
  .pop-suggestion .user-search {flex-wrap: wrap;}
  .pop-suggestion .user-search .pop-mo-btn {width: 100%; margin: 10px 0 0 0;}
  .pop-suggestion .user-search .pop-mo-btn .btn {width: 100%;}
  .pop-suggestion .user-search .pop-mo-btn .btn + .btn {margin-left: 10px;}
  .user-search.tit-area3 {flex-direction: column; align-items: start;}
  .pop-password .user-search .pop-mo-check {display: block;margin: 10px 0 10px;text-align: left;}
  .pop-password .user-search .pop-mo-check label + label {margin: 10px 0 0;}
  .pop-suggestion ul li span:nth-child(1){width: 80px;}
  .pop-suggestion ul li{padding: 5px 0;}
  .pop-suggestion .point-color2{margin-top: 15px;}

  /* 열린소싱상품제안 */
  .suggestion-goods {width:986px;}
  .pop-account.pop-suggestion  > .form-area{width: 100%;}

  /* 마이페이지 주문현황 */
  .mystate-con > .list-area > .list-con > div {border-bottom:10px solid #F5F5F5 ;}
  .mystate-con .list-area .list-con .btn-r-area3{padding-bottom: 20px;}
  .mystate-con .list-area .list-con > .btn-r-area3 > .btn {width: 50%;flex:auto}
  .mystate-con .list-area .list-con > .btn-r-area3 > .btn + .btn{margin-left: 10px;}
  .mystate-con .tit-type2-1{margin-top: 20px;}
  .mystate-con .step-wrap{border: none;}
  .mystate-con .step-wrap .state-text p{line-height: 78px;font-size: 18px;}
  .mystate-con .product-info-list .list-con .list-in {margin:10px 20px 0;padding-top:20px;}
  .mystate-con .product-info-list .list-con .list-in > li {justify-items: flex-end;flex-direction: initial;}
  .mystate-con .product-info-list .list-con .list-in > li > label{flex:1}
  .mystate-con .product-info-list .list-con .list-in > li p{font-size: 14px;width: 50%;text-align: right;}
  .mystate-con .product-info-list .list-con .tgSlide .tgSlideCont .list-in{padding:0 20px;}
  .mystate-con .step-wrap > ul {margin-top: 0;padding:0 20px;flex-flow : row wrap;}
  .mystate-con .step-wrap > ul > li::before{display: none;}
  .mystate-con .step-wrap > ul > li:first-child{margin-left: 0;}
  .mystate-con .step-wrap > ul > li{margin-left: 0;text-align: center;width: 33%;margin-top: 20px;}
  .mystate-con .step-wrap > ul > li span{display: block;margin: 0 auto;}
  .mystate-con .product-info-list .list-con .btn-r-area3 {margin-bottom: 0;}
  .mystate-con .product-info-list .list-con .tgSlide{border-bottom: 0;}
  
  /* 마이페이지 주문현황 팝업*/
.pop-myState .btn-r-area3{padding:10px 0 20px;}
.pop-myState .btn-r-area3 > .btn + .btn{margin-left:10px ;}

  
}