/* 공통 */

/* ==========================================================================
    유닛 관련
========================================================================== */
/* 유닛 */
.unit-type2 {width:100%; height:410px; position:relative; }
.unit-type2 > a {width:100%; display: block;}
.unit-type2 .unit-area {width:100%;}
.unit-type2 .unit-area > dt {width:100%; background:#f5f5f5; position: relative;}
.unit-type2 .unit-area > dt > img {width:100%;}
.unit-type2 .unit-area > dd {width:100%; padding:16px 0 0;}
.unit-type2 .unit-area .unit-title {width:100%; height:50px; font-size:20px; font-weight: 500;}
.unit-type2 .unit-area .date-area {display:-webkit-box; display:-ms-flexbox; display:flex; align-items:flex-end;padding-top: 3px; }
.unit-type2 .unit-area .date-area .date {font-size:14px; color:#333; display:inline-block;}
.unit-type2 .unit-area .date-area .dday:before {content: ''; display: inline-flex; width: 1px; height: 10px; background: #d7d7d7; margin-right: 10px;}
.unit-type2 .unit-area .date-area .dday {font-size:14px; color:#346dd0; font-weight: 500; display:inline-block; margin-left: 10px;}
.unit-type2 .unit-area .date-area .dday.end {color: #eb3030;}

/* ==========================================================================
    프로모션
========================================================================== */
.promotion-cont .event-empty {text-align: center; border: 1px solid #d7d7d7; padding: 100px 0;}
.promotion-cont .event-empty p {padding-top: 80px; font-size: 16px; line-height: 22px; color: #999; background: url(../images/common/icon_none2.svg) center 0 no-repeat;}
.promotion-cont .tab-area .tab-style2 {text-align: center;}
.promt-banner {position: relative; text-align: center; margin-bottom: 50px;}
.promt-banner img {max-width: 100%;}
.promt-banner .ban-text-area {position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%);}
.promt-banner .ban-text-area .ban-tit {font-size: 28px; color: #fff; font-weight: 500; padding-bottom: 12px;}
.promt-banner .ban-text-area .ban-p {font-size: 16px; color: #e5e5e5; font-weight: normal;}
.promt-list-wrap {width:100%; max-width:1200px;}
.promt-list-wrap .promt-list {width:calc(100% + 14px); margin:0 -7px; font-size:0;}
.promt-list-wrap .promt-list > li {width:33.333%; padding:0 7px; display:inline-block;}

.promotion-detail .promt-top {display: flex; justify-content: space-between; align-items: flex-end; font-size: 0; padding-bottom: 10px; border-bottom: 1px solid #d7d7d7; }
.promotion-detail .promt-top p {max-width: 940px; height: 29px; font-size: 24px; color: #000; font-weight: 500;}
.promotion-detail .promt-top .promt-date span {font-size: 16px; color: #999;}
.promotion-detail .promt-top .promt-date .dday {color: #346dd0; font-weight: 500; margin-left: 10px;}
.promotion-detail .promt-top .promt-date .dday:before {content: ''; display: inline-flex; width: 1px; height: 10px; background: #d7d7d7; margin-right: 10px;}
.promotion-detail .promt-top .promt-date .dday.end {color: #eb3030;}
.promotion-detail .promt-cont {padding: 60px 100px; margin-bottom: 20px; }
.promotion-detail .promt-cont img {max-width: 100%;}
.promt-product-list .tit-area {margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #d7d7d7;}



/* 열린소싱상품제안 */
.suggestion-goods .list-con{padding-top:0px;}
.suggestion-goods .list-con > p {padding-top: 30px;}
.suggestion-goods .list-con .list-in{margin-top:0px;border-top:none;}
.suggestion-goods .list-con > p + .list-in{margin-top: 10px;border-top: 1px solid #bbb;}
.suggestion-goods .list-con > .suggestion-tit + .list-in{margin-top: 10px;border-top: 1px solid #bbb;}
.suggestion-goods .list-con .list-in > li > label{width: 150px;}
.suggestion-goods .list-con .list-in > li div{margin-right: 40px;}
.suggestion-goods .list-con .list-in > li div.suggestion-date{margin-right: 0px;max-width: 530px;}
.suggestion-goods .list-con .list-in > li div.suggestion-date div{display: flex;}
.suggestion-goods .list-con .list-in > li div:last-child{margin-right: 0px;}
.suggestion-goods .list-con .list-in > li div.form-search{margin-right: 5px;width: 50%;}
.suggestion-goods .list-con .list-in > li.name div{max-width: 323px;}
.suggestion-goods .list-con .list-in > li div.radio{display: inline-table;max-width: calc(100% - 130px);}
.suggestion-goods .list-con .list-in > li div.radio div:last-child{margin-top: 20px;}
.suggestion-goods .list-con .list-in > li div.radio label{margin-right: 50px;}
.suggestion-goods .list-con .list-in > li div.radio label span{font-size: 16px;font-weight: normal;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap{max-width: calc(100% - 130px);position: relative;display: inline-table;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap label{margin-top: 10px;}
.suggestion-goods .list-con .list-in > li div.textarea-wrap .btn-right{margin: 0px;}
.suggestion-goods .list-con .list-in > li.btn-right {display: block;margin: 0;}
.suggestion-goods .list-con .list-in > li .btn-right p{font-size: 14px;margin-top: 5px;}
.suggestion-goods .list-con .list-in > li .btn-right p .req{font-size: 14px;}
.suggestion-goods .list-con .list-in > li.write label{align-self: flex-start;}
.suggestion-goods .suggestion-date select{width:127px;margin-right: 5px;flex:none}
.suggestion-goods .suggestion-date em{margin:0 5px;line-height: 38px;}
.suggestion-goods .btn-right{text-align: right;margin: 30px 0;}
.mypage-cont .my-main .join-list-con .list-in.suggestion-step li label{width: 85px;}
.suggestion-goods .list-con .list-in.suggestion-step li div {max-width:100%;display: flex;flex:1}
.suggestion-goods .suggestion-step {margin-bottom: 50px;}
.suggestion-goods .suggestion-step li div p{position: relative;flex:1;width:175px;padding-top: 80px;margin-top: 10px;color: #999;background: url(../images/common/icon_step1.svg) top 0 left 50% no-repeat;text-align: center;}
.suggestion-goods .suggestion-step li div p.on{color: #346DD0;}
.suggestion-goods .suggestion-step li div p::after{content: '';position: absolute;top: 0;right: 0;width: 18px;height: 140px;background: url(../images/common/arrow_step.svg) top 50% right 0 no-repeat;}
.suggestion-goods .suggestion-step li div p:last-child::after{display: none;}
.suggestion-goods .suggestion-step li div p.step2{background: url(../images/common/icon_step2.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step3{background: url(../images/common/icon_step3.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step4{background: url(../images/common/icon_step4.svg) top 0 left 50% no-repeat;}
.suggestion-goods .suggestion-step li div p.step5{background: url(../images/common/icon_step5.svg) top 10px left 50% no-repeat;margin-top: 0;}
.suggestion-goods .suggestion-tit{display: flex;margin-top: 30px;}
.suggestion-goods .suggestion-tit p.tit-type3-1{font-size: 16px;margin-left:20px;line-height: 24px;}

/* 열린소싱상품제안 팝업*/
.pop-account.pop-suggestion  > .form-area{width: 320px;margin: 30px auto 0 ;}
.pop-suggestion > p em{color:#666;vertical-align: top;}
.pop-suggestion .textarea-wrap{margin-top: 20px;}
.pop-suggestion .textarea-wrap textarea{margin-top: 10px;}
.pop-suggestion .user-search{display: flex;margin-bottom: 30px;}
.pop-suggestion .user-search select{width: 118px;}
.pop-suggestion .user-search .form-area{margin-left:5px;width: 394px;}
.pop-suggestion .user-search .btn-style-m1{margin-left:5px;}
.popup-type-m .lyPopup .popup-cont .pop-suggestion .btn-area{padding:0;border: none;width: auto;}


/* 장바구니 주문서 팝업*/
.pop-orderlist {word-break:keep-all;}
.pop-orderlist > .input{display: flex;margin: 30px 15px 0;}
.pop-orderlist > .input label{width: 80px;line-height: 38px;text-align: left;}
.pop-orderlist > .input .form-layout{width:calc(100% - 80px)}
.pop-orderlist > p.ex{font-size: 14px;color: #666;margin: 20px 0;}
.pop-orderlist > .orderlist-wrap ul li{padding:20px 0;border-bottom: 1px solid #D7D7D7;}
.pop-orderlist > .orderlist-wrap ul li:first-child{padding-top:0;}
.pop-orderlist > .orderlist-wrap ul li div{display: flex;}
.pop-orderlist > .orderlist-wrap ul li div img{width: 65px;}
.pop-orderlist > .orderlist-wrap ul li div p{line-height: 65px;padding-left: 20px;}

.pop-cart .radio-wrap {margin-top: 10px;}
.pop-cart .radio-wrap .radio-style1 {margin-right: 30px;margin-top: 10px;}
.pop-cart .radio-wrap .radio-style1 > span{font-weight: normal;margin-left: 10px;}
.pop-cart-file{height: 400px;background:#F5F5F5;}
.pop-cart-estimate .excel-wrap{height: 640px;}
.pop-cart-print .date{text-align: right;font-size: 14px;}
.pop-cart-print .date em{vertical-align: top;}
.pop-cart-print .table-area{margin-top: 10px;}
.pop-cart-print .table-area + .table-area{margin-top: 30px;}
.pop-cart-print .table-area a{color: #346DD0;text-decoration: underline;}
.pop-cart-print .table-area a + p{margin-top: 10px;}
.pop-cart-print .table-area.table-style1 table tbody th{padding: 20px;}
.pop-cart-print .table-area.table-style1 table tbody th + td{padding: 20px;word-break: keep-all;}
.pop-cart-print .table-area.table-style1 table tbody td{height: auto;}
.pop-cart-print .table-area.table-style1 table tbody td.center{text-align: center;}
.pop-cart-print .table-area.table-style1 table tbody td.addr{padding:20px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr p{margin-top: 10px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr .addr-name{padding-right: 10px;}
.pop-cart-print .table-area.table-style1 table tbody td.addr .addr-name::after{content: "|" ;color:#999;font-size: 12px;line-height:19px;padding-left: 10px;vertical-align: top;}
.pop-cart-print .table-area.table-style1 table tbody td.total{background:#F5F5F5;text-align: right;padding:20px}
.pop-cart-print .table-area.table-style1 table tbody td.total em{color: #346DD0;vertical-align: top;}
.pop-cart-print .table-area.table-style1 table tbody td.total i{padding:0 7px;}


/* 장바구니 관리 */
.mypage-cart-list .list-con{position: relative;padding-top: 30px;}
.mypage-cart-list .list-con > p{font-size: 16px;line-height: 28px;}
.mypage-cart-list .list-con button{position: absolute;top:30px;right:0}
.mypage-cart-list .list-con ul::after {content: ""; display: block; clear: both;}
.mypage-cart-list .list-con ul li{width: 50%;float: left;}
.mypage-cart-list .list-con .form-area{flex:1}
.mypage-cart-list .list-con .select{margin-left: 5px;width: 154px;}
.mypage-cart-list .paging{margin: 50px 0 0;}
.mypage-cont .my-main .join-list-con.mypage-cart-list .list-con .list-in {border-bottom:none}
.mypage-cont .my-main .join-list-con.mypage-cart-list .list-con .list-in > li > label{width: auto;}



@media only screen and (max-width: 800px){
  /* ==========================================================================
    유닛 관련
========================================================================== */
/* 유닛 */
  .unit-type2 {height: auto; padding-bottom: 30px;}
  .unit-type2 .unit-area .unit-title {height: 38px; font-size: 16px;}
  .unit-type2 .unit-area .date-area {padding-top: 8px;}




  /* ==========================================================================
    프로모션
========================================================================== */
  .promotion-cont {margin-top: 0;}
  .promotion-cont .event-empty {padding: 50px 0; margin: 0 20px;}
  .promotion-cont .event-empty p {padding-top: 60px; font-size: 14px; line-height: 18px; background: url(../images/common/mo_icon_none2.svg) center 0 no-repeat;}  
  .promt-banner .ban-text-area .ban-tit {font-size: 18px;}
  .promt-banner .ban-text-area .ban-p {font-size: 14px;}  
  .promt-list-wrap .promt-list {padding: 0 20px; width: auto;}
  .promt-list-wrap .promt-list > li {width: 100%;}

  .promt-banner {margin-bottom: 30px;}
  .promotion-detail {padding: 30px 0 0;}
  .promotion-detail .promt-top {display: block; margin: 0 20px;}
  .promotion-detail .promt-top p {width: 100% ;font-size: 16px; line-height: 21px; height: auto; padding-bottom: 6px;}
  .promotion-detail .promt-top .promt-date span {font-size: 14px;}
  .promotion-detail .promt-cont {padding: 30px 36px; border-bottom:10px solid #f5f5f5;}
  .promt-product-list .tit-area {border-bottom: 0; padding-bottom: 0; align-items: center;}

  
  /* 장바구니 주문서 팝업*/
  .pop-orderlist > .input{display: flex;flex-direction: column;margin:20px 0 0}
  .pop-orderlist > .input .form-layout{width: 100%;}
  .pop-cart .radio-wrap {margin: 10px 0 30px}

  /* 장바구니 관리 */
  .mypage-cart-list .list-con{padding-top: 20px;border-bottom: none;}
  .mypage-cart-list .list-con > p{font-size: 14px;}
  .mypage-cart-list .list-con button{position: relative;top:0;margin:0 20px;}
  .join-list-con.mypage-cart-list .list-con .list-in > li {display: flex;width: 100%;}
  .mypage-cont .my-main .mypage-cart-list .btn-area-c{padding: 50px 20px 20px;}
  .mypage-cart-list .btn-style-mm1, .mypage-cart-list .btn-style-mm2{width:calc(50% - 5px);}

  

}