
/* ==========================================================================
    기본설정
========================================================================== */
/* reset */
*           {margin:0; padding:0; box-sizing:border-box;}
html        {height:100%;}

td *, div *, li *, span *, p *  {vertical-align:middle;}
ul, ol, li                      {list-style:none;}

img, hr     {border:none;}
img         {vertical-align:top; border:0px ;}
strong      {font-weight:bold;}

/* Link Style */
:link       {text-decoration:none; color:inherit;}
:visited    {text-decoration:none; color:inherit;}
:active {text-decoration:none; color:inherit;}
:hover      {text-decoration:none;}
/* Table Style */
table       {border-collapse:collapse;  border-spacing:0; width:100%;}
table td img    {vertical-align:middle;}

/* tag all font-size set */
p,div,ul,li,dl,dt,dd,ol,a,em,strong,fieldset,textarea,input,select,span,table,th,td,address,cite,
h1,h2,h3,h4,h5,h6 {color:inherit; font-family:'Spoqa Han Sans Neo', sans-serif; font-size:inherit; line-height:inherit;}

/* From Style */
textarea    {border:1px solid #d3d0c9; padding:5px;}
input       {vertical-align:middle; }
input, textarea, select, button, label {vertical-align:middle;}
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {border-radius:0; margin:0; padding:0; border:0; outline:none; background:none; box-sizing:border-box;}
button,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {-webkit-appearance:none;}
input[type="radio"],
input[type="checkbox"] {margin:0; padding:0; width:13px; height:13px;}
html,
body,
pre,
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"],
input[type="password"] {font:normal 16px/1.5 'Spoqa Han Sans Neo', sans-serif; color: #666;}
button,
input[type="button"],
input[type="submit"] {cursor:pointer; overflow:visible;}
button::-moz-focus-inner {padding:0; border:0;}
input[type="date"],
input[type="time"] {-webkit-appearance:none; -moz-appearance:none; border-radius:0;}
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
[readonly],
[disabled] {cursor:default;}
[disabled] {cursor:default; opacity:1; -webkit-text-fill-color:inherit;}

select {-webkit-appearance:none; -moz-appearance:none; appearance:none; cursor: pointer;}
select::-ms-expand {display:none;}
hr, caption {display:none;}
legend      {position:absolute; height:0; font-size:0px; line-height:0; overflow:hidden; text-indent:-20000px; }
address,cite,em {font-style:normal;}
fieldset    {border:0; padding:0; }
label       {cursor:pointer; margin:0;}

.hide{display:none;}
.blind{position:absolute;width:1px;height:1px;margin-left:-1px;overflow:hidden;color:transparent !important;border:0 none !important;background:transparent !important;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
b, strong {font-weight:500;}


body {background:#fff; font:normal 16px/1.2 'Spoqa Han Sans Neo', sans-serif; color:#000;}
a {color:inherit;}

/* inpuy[type=search] 닫기 버튼 reset */
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
.pc-hide {display:none;}
.mo-hide {display:block;}

.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}

/* 모바일 시작 */
@media only screen and (max-width:800px){
  html, body {min-height:100%;}
  img {width:100%;}
  .pc-hide {display:block;}
  .mo-hide {display:none !important;}
}